@model IEnumerable<AlphaERP.Models.InvItemsMF>
@using AlphaERP.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Collections.Generic;
@{
    Company company = (Company)Session["company"];
    int StoreNo = ViewBag.StoreNo;
    long SlaughterOrderNo = ViewBag.SlaughterOrderNo;
}


<table class="table table-hover" id="eSelectSlaughterOrderItemTable_@SlaughterOrderNo">
    <thead>
        <tr>
            <th style="text-align: center !important;">@Html.Recource(44)</th>
            <th style="text-align: center !important;">@Html.Recource(74)</th>
            <th style="text-align: center !important;">@Html.Recource(96)</th>
            <th style="text-align: center !important; ">@Html.Recource(312)</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="eSelectSlaughterOrderItemTbody_@SlaughterOrderNo">
        @{
            int Comp_num = company.comp_num;
            string query = string.Format("exec SP_Search {0},'WHERE (InvKits.CompNo = {0}) AND (InvSItemsMF.StoreNo = {1}) AND (IsHalt = 0)',427", Comp_num, StoreNo);
            using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
            {
                SqlCommand cmd = new SqlCommand(query, cn);
                cn.Open();
                SqlDataReader rdr = cmd.ExecuteReader();
                if (rdr.HasRows)
                {
                    while (rdr.Read())
                    {
                        string ItemDesc = rdr["ItemDesc"].ToString();
                        string ItemDescEn = rdr["ItemDesc_Ara"].ToString();
                        string Desc = Html.Translate(ItemDesc, ItemDescEn).ToString();
                        <tr onclick="eSelectSlaughterOrder_InvItems(this,@SlaughterOrderNo)" ondblclick="GetItemNo(this,@SlaughterOrderNo)" ItemNo="@rdr["ItemNo"]" ItemDesc="@Html.Trim(Desc,50)">
                            <td style="text-align: center;" id="ItemNo">@rdr["ItemNo"]</td>
                            <td style="text-align: center;word-wrap: break-word; white-space: normal;" id="ItemDesca" title="@Desc">@Desc</td>
                            <td style="text-align: center;">@rdr["RefrenceNo"]</td>
                            <td style="text-align: center !important;">@rdr["BarCode"]</td>
                            <td></td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>

<script>
    $('#eSelectSlaughterOrderItemTable_'+ @SlaughterOrderNo).DataTable({
        "scrollY": 'calc( 100vh - 385px)',
        "paging": true,
        "pageLength": 25,
        "language": {
            search: ' <i class="fa fa-search" aria-hidden="true"></i> '
        }
    });
</script>