@using AlphaERP.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Collections.Generic;
@{
    List<User> users = new MDB().Users.ToList();
    Company company = (Company)Session["company"];

    List<OrdRequestDF> OrdReqtDF = new MDB().Database.SqlQuery<OrdRequestDF>(string.Format("SELECT Ord_RequestDF.CompNo as CompNo,Ord_RequestDF.ReqYear as ReqYear ,Ord_RequestDF.ReqNo as ReqNo  " +
    "from Ord_RequestDF INNER JOIN  Ord_RequestHF ON Ord_RequestDF.CompNo = Ord_RequestHF.CompNo AND Ord_RequestDF.ReqYear = Ord_RequestHF.ReqYear AND Ord_RequestDF.ReqNo = Ord_RequestHF.ReqNo " +
    "where Ord_RequestDF.CompNo = '{0}' AND bPurchaseOrder = 0 AND (bRequestforQuotation = 0) AND Ord_RequestHF.ReqStatus In(1) Group by Ord_RequestDF.CompNo,Ord_RequestDF.ReqYear,Ord_RequestDF.ReqNo ", company.comp_num)).ToList();
    List<InvItemsMF> Mf = new MDB().InvItemsMFs.Where(x => x.CompNo == company.comp_num ).ToList();

    List<OrdRequestDF> OrdReqtDFs = new MDB().Database.SqlQuery<OrdRequestDF>(string.Format("SELECT Ord_RequestDF.CompNo as CompNo,Ord_RequestDF.ReqYear as ReqYear ,Ord_RequestDF.ReqNo as ReqNo,Ord_RequestDF.ItemSr as ItemSr,Ord_RequestDF.SubItemNo as SubItemNo,Ord_RequestDF.SubTUnit  as SubTUnit,  " +
"Ord_RequestDF.SubUnitSerial  as SubUnitSerial,Ord_RequestDF.Qty as Qty,case when Ord_RequestDF.Qty2 IS NULL then 0 else Ord_RequestDF.Qty2 end as Qty2,Ord_RequestDF.Price as Price,Ord_RequestDF.TotalValue as TotalValue,isnull(InvItemsMF.prefvendor,0) as prefvendor " +
"from Ord_RequestDF INNER JOIN  Ord_RequestHF ON Ord_RequestDF.CompNo = Ord_RequestHF.CompNo AND Ord_RequestDF.ReqYear = Ord_RequestHF.ReqYear AND Ord_RequestDF.ReqNo = Ord_RequestHF.ReqNo Inner Join " +
"InvItemsMF on Ord_RequestDF.CompNo = InvItemsMF.CompNo AND Ord_RequestDF.SubItemNo = InvItemsMF.ItemNo " +
"where Ord_RequestDF.CompNo = '{0}' AND bPurchaseOrder = 0 AND (bRequestforQuotation = 0) AND Ord_RequestHF.ReqStatus In(1) ", company.comp_num)).ToList();

}
<style>
    #Ord_LinkPrchOrdUsers_DIV table th, #Ord_LinkPrchOrdUsers_DIV table td {
        padding: 4px 15px !important;
        text-align: center !important;
    }

    .wrapperx {
        padding: 0;
        position: relative;
        white-space: nowrap;
    }

    .wrapperxOld {
        padding: 0;
        position: relative;
        overflow: auto;
        white-space: nowrap;
    }
</style>

<style>
    #Ord_LinkPrchOrdUsersTable_wrapper {
        width: calc(181vh - 50px);
    }
</style>
<link href="~/Content/stickytooltip.css" rel="stylesheet" />
<script src="~/Scripts/stickytooltip.js?s=15"></script>

@{
    int i = 1;
}
<div class="form-group">
    <div class="col-md-12 wrapperx" id="Ord_LinkPrchOrdUsers_DIV">
        <table class="table table-hover Ord_LinkPrchOrdUsers" id="Ord_LinkPrchOrdUsersTable">
            <thead>
                <tr>
                    <th style="text-align: center !important;">@Html.Recource(3196)</th>
                    <th style="text-align: center !important;">@Html.Recource(3197)</th>
                    <th style="text-align: center !important;">@Html.Translate("تاريخ التسليم المطلوب", "Requested Delivery Date")</th>
                    <th style="text-align: center !important;">@Html.Recource(737)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="text-align: center;" id="Ord_LinkPrchOrdUsersTbody">
                @foreach (OrdRequestDF OrdDF in OrdReqtDF)
                {
                    Ord_RequestHF HF = new MDB().Ord_RequestHF.Where(x => x.CompNo == company.comp_num && x.ReqYear == OrdDF.ReqYear && x.ReqNo == OrdDF.ReqNo).FirstOrDefault();
                    Ord_LinkPrchOrdUsers LinkPrchOrdUsers = new MDB().Ord_LinkPrchOrdUsers.Where(x => x.CompNo == company.comp_num && x.ReqYear == OrdDF.ReqYear && x.ReqNo == OrdDF.ReqNo).FirstOrDefault();
                    <tr style="height: 25px;" ReqNo="@OrdDF.ReqNo">
                        <td style="text-align: center !important" data-tooltip="sticky_@i">@HF.ReqYear</td>
                        <td style="text-align: center !important" data-tooltip="sticky_@i">@HF.ReqNo</td>
                        <td style="text-align: center !important">@HF.ReqDeliveryDate.Value.ToShortDateString()</td>
                        <td style="text-align: center !important">
                            <select class="Ord_LinkPrchOrdUsers_UserID" id="Ord_LinkPrchOrdUsers_UserID_@i" required="true">
                                <option></option>
                                @foreach (var user in users)
                                {
                                    if (LinkPrchOrdUsers != null)
                                    {
                                        if (LinkPrchOrdUsers.UserId == user.UserID)
                                        {
                                            <option value="@user.UserID" selected>
                                                @user.UserName
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@user.UserID">
                                                @user.UserName
                                            </option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@user.UserID">
                                            @user.UserName
                                        </option>
                                    }
                                }
                            </select>
                        </td>
                        <td style="text-align:center!important">
                            <input type="hidden" id="InputSerial" value="@(i++)" />
                            <input type="hidden" id="OrdDF_ReqYear" value="@OrdDF.ReqYear" />
                            <input type="hidden" id="OrdDF_ReqNo" value="@OrdDF.ReqNo" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="mystickytooltip" class="stickytooltip">
    <div style="padding:5px">
        @{
            i = 1;
        }
        @foreach (OrdRequestDF MRPC in OrdReqtDFs)
        {
            <div id="sticky_@i" class="atip" style="width:350px;@Html.Translate("direction:rtl", "")">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th style="text-align:center !important">@Html.Recource(44)</th>
                            <th style="text-align:center !important">@Html.Recource(74)</th>
                            <th style="text-align:center !important">@Html.Recource(49)</th>
                    </thead>
                    <tbody>
                        @{
                            int sr0 = 1;
                            List<Ord_RequestDF> df = new MDB().Ord_RequestDF.Where(x => x.CompNo == company.comp_num && x.ReqYear == MRPC.ReqYear && x.ReqNo == MRPC.ReqNo).ToList();
                            sr0 = 1;
                            foreach (Ord_RequestDF item in df)
                            {
                                string ItemDesc = "";

                                var itemObj = Mf.FirstOrDefault(x => x.ItemNo ==
                                    (item.ItemNo == "PKSTI00000002383" ? "PKSTI00000002383" : item.SubItemNo));

                                if (itemObj != null)
                                {
                                    ItemDesc = Html.Translate(itemObj.ItemDesc, itemObj.ItemDesc_Ara).ToString();
                                }
                                else
                                {
                                    ItemDesc = "";
                                }

                                <tr>
                                    <td style="text-align:center !important">@sr0</td>
                                    <td style="text-align:center !important;word-wrap: break-word; white-space: normal;">@item.SubItemNo</td>
                                    <td style="text-align:center !important;word-wrap: break-word; white-space: normal;">@ItemDesc</td>
                                    <td style="text-align:center !important">@item.Qty.Value.ToString("0.000")</td>
                                </tr>
                                sr0 += 1;
                            }
                        }
                    </tbody>

                </table>
            </div>

                                i++;
                            }

    </div>
    <div class="stickystatus"></div>
</div>


<div class="modal-footer">
    <br />
    <div class="form-group">
        <div class="col-md-10">
            
        </div>
        <div class="col-md-2">
            <div class="col-md-12">
                <button style="height: 40px !important;float:left" class="btn btn-primary btn-block" onclick="SaveLinkPrchOrdUsersRequest()" id="PurchOrder">
                    @Resources.Resource.Save
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#Ord_LinkPrchOrdUsersTable').DataTable({
        "scrollY": 'calc( 100vh - 355px)',
        "paging": false,
        "pageLength": 10,
        "order": [[0, "desc"]],
        "language": {
            search: ' <i class="fa fa-search" aria-hidden="true"></i> '
        },
    });
    $('.Ord_LinkPrchOrdUsers_UserID').select2();

    function SaveLinkPrchOrdUsersRequest() {
        var OrdReqDF = new Array();
        $('.Ord_LinkPrchOrdUsers #Ord_LinkPrchOrdUsersTbody tr').each(function () {
            if ($(this).find('.Ord_LinkPrchOrdUsers_UserID')[0].value != "") {
                OrdReqDF.push({
                    ReqYear: $(this).find('#OrdDF_ReqYear')[0].value,
                    ReqNo: $(this).find('#OrdDF_ReqNo')[0].value,
                    UserID: $(this).find('.Ord_LinkPrchOrdUsers_UserID')[0].value,
                });
            }
        });

        if (OrdReqDF.length == 0) {
            MsgBox('@Html.Translate("لم يتم اختيار المستخدم", "User not selected")', 'red');
            return false
        }

        wait();
        burn({ OrdReqDF: OrdReqDF }, '../../../LinkPrchOrdUsers/SaveLinkPrchOrdUsersRequest', '', ReloadSaveLinkPrchOrdUsersRequest, false);

    }
    function ReloadSaveLinkPrchOrdUsersRequest(r) {
        done();
        MsgBox('@Html.Recource(475)', 'green');
        LinkPrchOrdUsersSerach()
    }
</script>


