
<div class="form-group">
    <div class="col-md-12" style="width:865px !important ;overflow-y:auto">
        <table class="table table-hover" id="OrderProdByProductsTable">
            <thead>
                <tr>
                    <th style="width: 110px;text-align:center;">@Html.Recource(44)</th>
                    <th style="width:290px; text-align:center;">@Html.Recource(74)</th>
                    <th style="width:50px;text-align: center;">@Html.Recource(67)</th>
                    <th style="width:50px;text-align:center;">@Html.Recource(3)</th>
                    <th style="width:65px;text-align:center;">@Html.Recource(49)</th>
                    <th style="width:65px;text-align:center;">@Html.Recource(4397)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="OrderProdByProductsTbody" style="border-top: 1px solid #ddd;"></tbody>
        </table>
    </div>
</div>