
<div class="form-group">
    <div class="col-md-12">
        <button onclick="Add_OrderProdStages(2)" type="button" class="btn btn-primary">@Html.Recource(32)</button>
    </div>
</div>
<div class="form-group">
    <div class="col-md-12" style="width:865px !important ;overflow-y:auto">
        <table class="table table-hover" id="eOrderProdStagesTable">
            <thead>
                <tr>
                    <th style="width: 50px;text-align:center;">@Html.Recource(2558)</th>
                    <th style="width: 215px;text-align:center;">@Html.Recource(2559)</th>
                    <th style="width: 50px;"></th>
                    <th style="width: 130px;text-align:center;">@Html.Recource(168)</th>
                    <th style="width: 130px;text-align:center;">@Html.Recource(47)</th>
                    <th style="width: 75px;text-align:center;">@Html.Recource(4380)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="eOrderProdStagesTbody" style="border-top: 1px solid #ddd;"></tbody>
        </table>
    </div>
</div>
