@using System.Data.SqlClient;
@using AlphaERP.Models

@{
    int OrdYear = ViewBag.OrdYear;
    int OrderNo = ViewBag.OrderNo;
    string TawreedNo = ViewBag.TawreedNo;
    string InboundSer = ViewBag.InboundSer;
    string InboundGRN = ViewBag.InboundGRN;
    User me = (User)Session["me"];
    Company company = (Company)Session["company"];

    List<Ord_ReleaseOrdersHF> ReleaseOrdersHF = new MDB().Ord_ReleaseOrdersHF.Where(x => x.CompNo == company.comp_num && x.OrderYear == OrdYear
&& x.OrderNo == OrderNo && x.TawreedNo == TawreedNo && x.InboundSer == InboundSer && x.InboundGRN == InboundGRN).ToList();

    int Srial = 1;
}


<style>
    tr.details {
        max-height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    tr.details {
        background-color: gray !important;
        border-style: solid !important;
    }
</style>

<div id="ReleaseOrdTable_@InboundGRN">
    <div style="width: 100%; padding: 1px; background: #fff !important ">
        <table class="table table-hover" id="ReleaseOrdTable_@InboundGRN" style="background:lightgray;width:100%">
            <thead>
                <tr>
                    <th style="word-wrap: break-word; white-space: normal; width: 5%; text-align: center !important;">@Html.Recource(205)</th>
                    <th style="word-wrap: break-word; white-space: normal; width: 25%; text-align: center !important;">@Html.Recource(1)</th>
                    <th style="width: 15%; text-align: center !important;">@Html.Recource(4)</th>
                    <th style="width: 15%; text-align: center !important;">@Html.Recource(70)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ord_ReleaseOrdersHF item in ReleaseOrdersHF)
                {
                    InvStoresMF StoreM = new MDB().InvStoresMFs.Where(x => x.CompNo == item.CompNo && x.StoreNo == item.StoreNo).FirstOrDefault();
                    InvDocType DocType = new MDB().InvDocTypes.Where(x => x.CompNo == company.comp_num && x.VouchType == 22 && x.DocType == item.DocType).FirstOrDefault();

                <tr id="RelOrdHF_@Srial">
                    <td style="word-wrap: break-word; white-space: normal; width: 5%; text-align: center;direction:ltr;" id="RelOrdHF_ReserveFreeNo_@Srial">@item.ReleaseOrdId</td>
                    <td style="word-wrap: break-word; white-space: normal; width: 25%; text-align: center;" id="RelOrdHF_StoreNo_@Srial">@Html.Translate(StoreM.StoreName, StoreM.StoreNameEng)</td>
                    <td style="width: 15%; text-align: center; word-wrap: break-word; white-space: normal;" id="RelOrdHF_DocType_@Srial">@Html.Translate(DocType.DocName, DocType.DocNameEng)</td>
                    <td style="word-wrap: break-word; white-space: normal; width: 20%; text-align: center;">@item.Notes</td>
                    <td>
                        @if (item.IsApproval == false)
                        {
                            <button onclick="EditReleaseOrders('@item.OrderYear', '@item.OrderNo', '@item.TawreedNo', '@item.InboundSer', '@item.InboundGRN', '@item.ReleaseOrdId')" type="button" class="btn btn-ed ex" title="@Html.Translate("تعديل فك الحجز", "Edit Release Order")">
                                <i class="fa fa-pencil-alt"></i>
                            </button>
                            <button id="eReleaseOrders" class="btn btn-primary btn-block" href="" target="_blank" style="display:none;">
                                @Html.Translate("تعديل فك الحجز", "Edit Release Order")
                            </button>
                            <button class="btn-de" onclick="DeleteReleaseOrders('@item.OrderYear', '@item.OrderNo', '@item.TawreedNo', '@item.InboundSer', '@item.InboundGRN', '@item.ReleaseOrdId')">
                                <i class="fa fa-trash-alt" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-primary ex" title="@Html.Translate("فك حجز بضاعة", "Free Release Order")" onclick="FreeReleaseOrder('@item.OrderYear','@item.OrderNo', '@item.TawreedNo','@item.InboundSer','@item.InboundGRN', '@item.ReleaseOrdId')">
                                <i style="font-weight:100" class="fa fa-folder"></i>
                                @Html.Translate("فك حجز بضاعة", "Free Release Order")
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-ed ex" title="@Html.Translate("تعديل فك الحجز", "Edit Release Order")" disabled>
                                <i class="fa fa-pencil-alt"></i>
                            </button>
                            <button id="eReleaseOrders" class="btn btn-primary btn-block" href="" target="_blank" style="display:none;">
                                @Html.Translate("تعديل فك الحجز", "Edit Release Order")
                            </button>
                            <button class="btn-de" disabled>
                                <i class="fa fa-trash-alt" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-primary ex" title="@Html.Translate("فك حجز بضاعة", "Free Release Order")" disabled>
                                <i style="font-weight:100" class="fa fa-folder"></i>
                                @Html.Translate("فك حجز بضاعة", "Free Release Order")
                            </button>
                            }
                            <button class="btn btn-default ex" title="عرض" href="/ReleaseOrders/ViewReleaseOrders?OrdYear=@item.OrderYear&OrderNo=@item.OrderNo&TawreedNo=@item.TawreedNo&InboundSer=@item.InboundSer&InboundGRN=@item.InboundGRN&ReleaseOrdId=@item.ReleaseOrdId" target="_blank">
                                <i style="font-weight:100" class="fa fa-folder"></i>
                                @Html.Translate("عرض", "View")
                            </button>
                            <input type="hidden" id="InputSerial" value="@(Srial++)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function EditReleaseOrders(OrderYear, OrderNo, TawreedNo, InboundSer, InboundGRN, ReleaseOrdId) {
        $('#eReleaseOrders').attr("href", '../../../ReleaseOrders/EditReleaseOrders?OrdYear=' + OrderYear + '&OrderNo= ' + OrderNo + '&TawreedNo=' + TawreedNo + '&InboundSer=' + InboundSer + '&InboundGRN=' + InboundGRN + '&ReleaseOrdId=' + ReleaseOrdId + '');
        $('#eReleaseOrders').click();
    }



</script>
