@using System.Data.SqlClient;
@using AlphaERP.Models
@{
    int OrdYear = ViewBag.OrdYear;
    User me = (User)Session["me"];
    Company company = (Company)Session["company"];
    List<int> store = new MDB().InvStoreUsers.Where(x => x.CompNo == company.comp_num && x.UserID == me.UserID && x.AllPerm == true).Select(o => o.StoreNo).ToList();
    List<Ord_InboundManagementHF> InboundManagementHF = new MDB().Ord_InboundManagementHF.Where(x => x.CompNo == company.comp_num && x.OrderYear == OrdYear 
    && store.Contains(x.InboundGRNStoreNo.Value) && x.IsApproval == true && x.IsReleaseOrder == true).ToList();
    ClientsActive CActive = new MDB().ClientsActives.Where(x => x.CompNo == company.comp_num).FirstOrDefault();
}

<table class="table" id="ReleaseOrdersTable">
    <thead>
        <tr>
            @if (CActive.ClientNo != 239)
            {
                <th>@Html.Translate("رقم الواردة", "Inbound No.")</th>
                <th>@Html.Recource(206)</th>
                <th>@Html.Recource(3197)</th>
                <th>@Html.Recource(3797)</th>
                <th>@Html.Recource(1)</th>
                <th></th>
            }
            else
            {
                <th>@Html.Translate("رقم الواردة", "Inbound No.")</th>
                <th>@Html.Recource(206)</th>
                <th>@Html.Recource(3197)</th>
                <th>@Html.Translate("# طلب الشراء الفا", "# P.R No")</th>
                <th>@Html.Translate("# إمر الشراء الفا", "# P.O No.")</th>
                <th>@Html.Recource(1)</th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody id="ReleaseOrdersTbody">
        @foreach (Ord_InboundManagementHF P in InboundManagementHF)
        {
            InvStoresMF StoreMf = new MDB().InvStoresMFs.Where(x => x.CompNo == P.CompNo && x.StoreNo == P.InboundGRNStoreNo).FirstOrDefault();
            if (CActive.ClientNo != 239)
            {
                <tr onclick="SelectReleaseOrders(this)" ondblclick="GetReleaseOrders()" OrdYear="@P.OrderYear" OrderNo="@P.OrderNo" TawreedNo="@P.TawreedNo" InboundSer="@P.InboundSer">
                    <td style="direction:ltr;">@P.InboundSer</td>
                    <td>@P.InboundGRNDate.Value.ToString("yyyy-MM-dd")</td>
                    <td>@P.OrderNo</td>
                    <td>@P.TawreedNo</td>
                    <td>@Html.Translate(StoreMf.StoreName, StoreMf.StoreNameEng)</td>
                    <td>
                        @*<button style="background-color:transparent;width:22px;padding:0" type="button" class="btn btn-default ex" title="@Html.Recource(769)">
                                <i style="font-weight:100" class="fa fa-folder"></i>
                            </button>*@
                    </td>
                </tr>
            }
            else
            {
                Ord_RequestDF DF = new MDB().Ord_RequestDF.Where(x => x.CompNo == company.comp_num && x.PurchaseOrderYear == P.OrderYear && x.PurchaseOrderNo == P.OrderNo && x.PurchaseOrdTawreedNo == P.TawreedNo).FirstOrDefault();
                <tr onclick="SelectReleaseOrders(this)" ondblclick="GetReleaseOrders()" ReqNo="@DF.ReqNo" OrdYear="@P.OrderYear" OrderNo="@P.OrderNo" TawreedNo="@P.TawreedNo" InboundSer="@P.InboundSer">
                    <td style="direction:ltr;">@P.InboundSer</td>
                    <td>@P.InboundGRNDate.Value.ToString("yyyy-MM-dd")</td>
                    <td>@DF.ReqNo</td>
                    <td>@P.OrderNo</td>
                    <td>@P.TawreedNo</td>
                    <td>@Html.Translate(StoreMf.StoreName, StoreMf.StoreNameEng)</td>
                    <td>
                        @*<button style="background-color:transparent;width:22px;padding:0" type="button" class="btn btn-default ex" title="@Html.Recource(769)">
                                <i style="font-weight:100" class="fa fa-folder"></i>
                            </button>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="modal-footer">
    <button type="button" onclick="SelectionReleaseOrdersDiv()" class="btn btn-primary">@Resources.Resource.Choose</button>
    <button class="btn btn-default pull-left" data-dismiss="modal">@Resources.Resource.Cancel</button>
</div>

<script>
    var ReleaseOrdersTable;
    ReleaseOrdersTable = $('#ReleaseOrdersTable').dataTable({
        "scrollY": 'calc( 100vh - 270px)',
        "paging": true,
        "pageLength": 25,
        "order": [[0, "desc"], [1, "desc"]],
        "language": {
            search: ' <i class="fa fa-search" aria-hidden="true"></i> '
        }
    });

    function GetReleaseOrders() {
        var table = $('#ReleaseOrdersTable');
        var oTable = table.dataTable();
        var trs = oTable.$('tr[name=selected]');

        var OrdYear = trs[0].getAttribute('OrdYear');
        var OrderNo = trs[0].getAttribute('OrderNo');
        var TawreedNo = trs[0].getAttribute('TawreedNo');
        var InboundSer = trs[0].getAttribute('InboundSer');

        SelectionReleaseOrders(OrdYear, OrderNo, TawreedNo, InboundSer);
    }

    function SelectReleaseOrders(e) {
        var table = $('#ReleaseOrdersTable');
        var oTable = table.dataTable();
        var trs = oTable.$('tr');
        for (var i = 0; i < trs.length; i++) {
            trs[i].setAttribute('name', '');
            $(trs[i]).removeClass('selected');
        }
        e.setAttribute('name', 'selected');
        $(e).addClass('selected');
    }

    function SelectionReleaseOrdersDiv() {
        var table = $('#ReleaseOrdersTable');
        var oTable = table.dataTable();
        var trs = oTable.$('tr[name=selected]');

        if (trs.length == 0) {
            MsgBox('@Resources.Resource.NoPlanWasChosen', 'red');
            done();
            return false
        }

        var OrdYear = trs[0].getAttribute('OrdYear');
        var OrderNo = trs[0].getAttribute('OrderNo');
        var TawreedNo = trs[0].getAttribute('TawreedNo');
        var InboundSer = trs[0].getAttribute('InboundSer');

        SelectionReleaseOrders(OrdYear, OrderNo, TawreedNo, InboundSer);
    }


</script>






