@using System.Data.SqlClient;
@using AlphaERP.Models

@{
    int OrdYear = ViewBag.OrdYear;
    int OrderNo = ViewBag.OrderNo;
    string TawreedNo = ViewBag.TawreedNo;

    Company company = (Company)Session["company"];
    List<Ord_VoucIssueHF> OrdIssueHF = new MDB().Ord_VoucIssueHF.Where(x => x.CompNo == company.comp_num && x.OrderYear == OrdYear 
    && x.OrderNo == OrderNo && x.TawreedNo == TawreedNo && x.VouType == 11).ToList();
    int Srial = 1;
}

<div class="box box-primary">
    <div class="box-body box-profile">
        <div class="modal-body row">
            <div class="form-group">
                <div class="col-md-3">
                    <button class="btn btn-primary btn-block" href="/VoucIssue/AddPaymentOrder?OrdYear=@OrdYear&OrderNo=@OrderNo&TawreedNo=@TawreedNo">
                        @Html.Translate("اضافة سند صرف", "Add Payment Order")
                    </button>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-12 wrapperx">
                    <table class="table table-hover" id="Ord_VoucIssueInfoTable">
                        <thead>
                            <tr>
                                <th>@Html.Recource(60)</th>
                                <th>@Html.Recource(481)</th>
                                <th>@Html.Recource(3197)</th>
                                <th>@Html.Recource(3797)</th>
                                <th>@Html.Recource(77)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;" id="VoucIssueInfoTBody">
                            @foreach (Ord_VoucIssueHF item in OrdIssueHF)
                            {
                                string VouTypeDesc = "";
                                switch (item.VouType)
                                {
                                    case 11:
                                        VouTypeDesc = Html.Translate("أمر صرف", "Order Issue").ToString();
                                        break;
                                    case 13:
                                        VouTypeDesc = Html.Translate("أمر اتلاف", "Write-off Order").ToString();
                                        break;
                                }
                            <tr id="OrdVoucHF_@Srial">
                                <td id="OrdVoucHF_VouNo_@Srial">@item.VouNo</td>
                                <td id="OrdVoucHF_VouType_@Srial">@VouTypeDesc</td>
                                <td id="OrdVoucHF_OrderNo_@Srial">@item.OrderNo</td>
                                <td id="OrdVoucHF_TawreedNo_@Srial">@item.TawreedNo</td>
                                <td id="OrdVoucHF_ReceiptDate_@Srial">@item.VouDate.Value.ToString("yyyy-MM-dd")</td>
                                <td>
                                    @if (item.IsApproval == false)
                                    {
                                        <button class="btn btn-ed ex" href="/VoucIssue/EditPaymentOrder?OrdYear=@item.OrderYear&OrderNo=@item.OrderNo&TawreedNo=@item.TawreedNo&VouNo=@item.VouNo&VouType=@item.VouType" target="_blank">
                                            <i class="fa fa-pencil-alt"></i>
                                        </button>
                                        <button class="btn-de" onclick="DeleteVoucIssue('@item.OrderYear','@item.OrderNo', '@item.TawreedNo','@item.VouNo','@item.VouType')">
                                            <i class="fa fa-trash-alt" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-primary ex" title="ترحيل" onclick="PostedVoucIssue('@item.OrderYear','@item.OrderNo', '@item.TawreedNo','@item.VouNo','@item.VouType')" >
                                            <i style="font-weight:100" class="fa fa-folder"></i>
                                            @Html.Translate("ترحيل", "Posted")
                                        </button>
                                        <button class="btn btn-default ex" title="عرض" href="/VoucIssue/ViewPaymentOrder?OrdYear=@item.OrderYear&OrderNo=@item.OrderNo&TawreedNo=@item.TawreedNo&VouNo=@item.VouNo&VouType=@item.VouType" target="_blank">
                                            <i style="font-weight:100" class="fa fa-folder"></i>
                                            @Html.Translate("عرض", "View")
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-ed ex" href="/VoucIssue/EditPaymentOrder?OrdYear=@item.OrderYear&OrderNo=@item.OrderNo&TawreedNo=@item.TawreedNo&VouNo=@item.VouNo&VouType=@item.VouType" target="_blank" disabled>
                                            <i class="fa fa-pencil-alt"></i>
                                        </button>
                                        <button class="btn-de" onclick="DeleteVoucIssue('@item.OrderYear','@item.OrderNo', '@item.TawreedNo','@item.VouNo','@item.VouType')" disabled>
                                            <i class="fa fa-trash-alt" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-primary ex" title="ترحيل" href="/VoucIssue/PostedVoucIssue?OrdYear=@item.OrderYear&OrderNo=@item.OrderNo&TawreedNo=@item.TawreedNo&VouNo=@item.VouNo&VouType=@item.VouType" target="_blank" disabled>
                                            <i style="font-weight:100" class="fa fa-folder"></i>
                                            @Html.Translate("ترحيل", "Posted")
                                        </button>
                                        <button class="btn btn-default ex" title="عرض" href="/VoucIssue/ViewPaymentOrder?OrdYear=@item.OrderYear&OrderNo=@item.OrderNo&TawreedNo=@item.TawreedNo&VouNo=@item.VouNo&VouType=@item.VouType" target="_blank">
                                            <i style="font-weight:100" class="fa fa-folder"></i>
                                            @Html.Translate("عرض", "View")
                                        </button>
                                    }
                                    <input type="hidden" id="InputSerial" value="@(Srial++)" />
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#Ord_VoucIssueInfoTable').DataTable({
        "scrollY": 'calc( 100vh - 415px)',
        "paging": false,
        "pageLength": 10,
        "language": {
            search: ' <i class="fa fa-search" aria-hidden="true"></i> '
        },
    });
</script>


