@using AlphaERP.Models
@{
    Company company = (Company)Session["company"];

    List<Ord_RequestHF> OrdRequestHF = new MDB().Database.SqlQuery<Ord_RequestHF>(string.Format("SELECT  CompNo, ReqYear, ReqNo, ReqDate,ReqDeliveryDate, ReqBU, AuthBU, UserID, ReqStatus, Note, DeptNo, AccNo,RejectReason,OrderPriority,CurrNo,RefNo,OrderType,Purpose,ReqStatusPO , UserIDApprovel " +
    "from Ord_RequestHF " +
    "Where (CompNo = '{0}') AND (ReqStatus in ('1')) order by cast(REPLACE(ReqNo, '0000', '') as int) Desc", company.comp_num)).ToList();
    List<Ord_RequestDF> lOrdReqDF = new MDB().Ord_RequestDF.Where(x => x.CompNo == company.comp_num).ToList();

    List<BusunisUnit> BU = new MDB().Database.SqlQuery<BusunisUnit>(string.Format("SELECT  Alpha_BusinessUnitDef.BusUnitID as Id, BusUnitDescAr as DescAr,BusUnitDescEng as DescEn  " +
"from Alpha_BusinessUnitDef " +
"where Alpha_BusinessUnitDef.CompNo = '{0}' " , company.comp_num)).ToList();

}

<table id="LinkPurchOrdAccPurchReqTable" class="table table-hover">
    <thead>
        <tr>
            <th style="text-align:center !important">@Html.Recource(3197)</th>
            <th style="text-align:center !important">@Html.Recource(206)</th>
            <th style="text-align:center !important">@Html.Recource(9700)</th>
            <th style="text-align:center !important">@Html.Recource(9701)</th>
            <th style="text-align:center !important">@Html.Recource(68)</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in OrdRequestHF)
        {
            int OrdReqDFCount = lOrdReqDF.Where(x => x.ReqYear == item.ReqYear && x.ReqNo == item.ReqNo && x.bPurchaseOrder == false).Count();
            if (OrdReqDFCount > 0)
            {
                double Total = new MDB().Ord_RequestDF.Where(x => x.CompNo == item.CompNo && x.ReqYear == item.ReqYear && x.ReqNo == item.ReqNo).Sum(o => o.TotalValue).Value;
                string RBBDesc = BU.Where(x => x.Id == item.ReqBU).Select(O => Html.Translate(O.DescAr, O.DescEn)).FirstOrDefault().ToString();
                string ABBDesc = BU.Where(x => x.Id == item.AuthBU).Select(O => Html.Translate(O.DescAr, O.DescEn)).FirstOrDefault().ToString();
                <tr>
                    <td style="text-align:center !important">@item.ReqNo</td>
                    <td style="text-align:center !important">@item.ReqDate.Value.ToShortDateString()</td>
                    <td style="text-align:center !important">@RBBDesc</td>
                    <td style="text-align:center !important">@ABBDesc</td>
                    <td style="text-align:center !important">@Total</td>
                    <td style="text-align:center !important">
                        <button class="btn-ed" onclick="Edit_PurchaseRequest('@item.ReqYear','@item.ReqNo')">
                            <i class="fa fa-pencil-alt"></i>
                        </button>
                        <button class="btn btn-default ex" title="عرض" href="/PurchaseRequest/EditPurchaseRequest?ReqNo=@item.ReqNo&ReqYear=@item.ReqYear" target="_blank">
                            <i style="font-weight:100" class="fa fa-folder"></i>
                            @item.ReqNo
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $('#LinkPurchOrdAccPurchReqTable').DataTable({
        "scrollY": 300,
        "paging": true,
        "pageLength": 10,
        "ordering": false
    });
</script>