@model IEnumerable<AlphaERP.Models.InvItemsMF>
@using AlphaERP.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Collections.Generic;
@{
    Company company = (Company)Session["company"];
    DataTable Dt = new DataTable();
}


@foreach (InvItemsMF item in Model)
{
    <tr>
        <td style="width: 14%;" id="BOMInfo_ItemNo">@item.ItemNo</td>
        <td style="width: 45%;">@item.ItemDesc</td>
        <td style="width: 10%;text-align: center;">
            <select style="width:100%" class="ItemRawMaterial_Unit">
                @{
                    using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
                    {
                        Dt = new DataTable();
                        cn.Open();
                        using (SqlCommand cmd = new SqlCommand())
                        {
                            cmd.Connection = cn;
                            cmd.CommandType = System.Data.CommandType.StoredProcedure;
                            cmd.CommandText = "InvT_LoadItemUnits";
                            cmd.Parameters.Add(new SqlParameter("@CompNo", System.Data.SqlDbType.SmallInt)).Value = company.comp_num;
                            cmd.Parameters.Add(new SqlParameter("@ItemCode", System.Data.SqlDbType.VarChar, 20)).Value = item.ItemNo;
                            using (SqlDataAdapter DA = new SqlDataAdapter(cmd))
                            {
                                DA.Fill(Dt);
                            }
                        }
                    }
                }
                @foreach (DataRow row in Dt.Rows)
                {
                    <option value="@row["UnitSerial"].ToString()">
                        @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                    </option>
                }
            </select>
        </td>
        <td style="width: 10%;text-align: center;">
            <input id="BOMInfo_Qty" value="0" type="number" style="width:75px !important" onblur="GetValuebestqty(this)" />
        </td>
        <td style="width: 10%;text-align: center;">
            <input id="BOMInfo_LossPerc" value="0" type="number" style="width:75px !important" onblur="GetValueLossPerc(this)" />
        </td>
        <td style="width: 14%;" id="BOMInfo_ItemUnitCost">0</td>
        <td style="width: 14%;" id="BOMInfo_SG">0</td>
        <td>
            <button class="btn-de" onclick="RemoveRow(this)"><i class="fa fa-trash-alt"></i></button>
        </td>
    </tr>
}

<script>
    $('.ItemRawMaterial_Unit').select2();
     function GetValuebestqty(e) {
        if (e.value < 0) {
            alert('@Html.Translate("لا يجوز ان تكون الكمية اقل من 0", "The value of the Rejected may not be less than 0")');
            e.value = 0;
            e.focus()
            return false;
        }
    }
    function GetValueLossPerc(e) {
        if (e.value < 0) {
            alert('@Html.Translate("لا يجوز ان تكون نسبة الفاقد اقل من 0", "The value of the Rejected may not be less than 0")');
            e.value = 0;
            e.focus()
            return false;
        }
    }
</script>
