@using AlphaERP.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Collections.Generic;
@{
    Company company = (Company)Session["company"];
    int Srial = 1;
    int OrdYear = ViewBag.OrdYear;
    int OrderNo = ViewBag.OrderNo;
    string TawreedNo = ViewBag.TawreedNo;
    string ShipSer = ViewBag.ShipSer;
    string srl = ViewBag.srl;
    List<Ord_OrderShippingDF> ShippingDF = new MDB().Ord_OrderShippingDF.Where(x => x.CompNo == company.comp_num && x.OrderYear == OrdYear && x.OrderNo == OrderNo && x.TawreedNo == TawreedNo && x.ShipSer == ShipSer).ToList();
    List<InvItemsMF> Mf = new MDB().InvItemsMFs.Where(x => x.CompNo == company.comp_num).ToList();
    DataTable Dt = new DataTable();
    InvCompMF compMF = new MDB().InvCompMFs.Where(x => x.CompNo == company.comp_num).FirstOrDefault();
    OrderHF ordHf = new MDB().OrderHFs.Where(x => x.CompNo == company.comp_num && x.OrdYear == OrdYear && x.OrderNo == OrderNo && x.TawreedNo == TawreedNo).FirstOrDefault();
    Vendor Vend = new MDB().Vendors.Where(x => x.comp == company.comp_num && x.VendorNo == ordHf.VendorNo).FirstOrDefault();
    if (compMF.UseQty2 == null)
    {
        compMF.UseQty2 = false;
    }
    ClientsActive CActive = new MDB().ClientsActives.Where(x => x.CompNo == company.comp_num).FirstOrDefault();

}

<style>

    #MRP_ShipmentsInfo_DIV table th, #MRP_ShipmentsInfo_DIV table td {
        padding: 4px 15px !important;
        text-align: center !important;
    }
    .wrapperx {
        padding:0;
        position: relative;
        overflow: auto;
        white-space: nowrap;
    }

    .sticky-col {
        z-index:2;
        position: sticky;
        position: -webkit-sticky;
        background-color: white;
    }

    .first-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        @Html.Translate("right: 0px;", "left: 0px;")
    }

    .second-col {
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        @Html.Translate("right: 60px;", "left: 60px;")
    }

    .third-col {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        @Html.Translate("right: 125px;", "left: 125px;")
    }

    .four-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        @Html.Translate("right: 280px;", "left: 280px;")
    }
    .stickytooltip {
        max-height: 80vh !important;
        overflow: auto !important
    }
</style>

<link href="~/Content/stickytooltip.css" rel="stylesheet" />
<script src="~/Scripts/stickytooltip.js?s=15"></script>

<style>
    #ShipmentsInfoTable span.badge {
        border: none;
        position: static;
        z-index: 20 !important;
        box-sizing: content-box;
        visibility: visible;
        z-index: 9999999999 !important;
        padding: 1px;
        font-family: Arial, verdana, tahoma;
        font-size: 13px;
        font-weight: bold;
        color: white;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);
        background: #ff3019;
        background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Chrome10+,Safari5.1+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); /* Chrome,Safari4+ */
        background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
        background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* IE10+ */
        background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Opera 11.10+ */
        background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%); /* W3C */
        width: 18px;
        height: 18px;
        line-height: 20px;
        border-radius: 50%;
        filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0)"; /* IE6-9 */
        filter: "progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000)"; /* IE10 text shadows */
        box-shadow: 0 2px 5px rgba(0,0,0,.4);
    }
</style>

<div class="box box-primary">
    <div class="box-body box-profile slim">
        <div>
            <div class="col-md-8" style="padding:0">
                <label style="margin:0" class="profile-username text-center">
                    <i style="margin:0 10px" class="fa MYICON" aria-hidden="true"></i>
                    MyTilTle
                </label>
            </div>
        </div>
    </div>
    <div class="box-body box-profile">
        <div class="modal-body row" style="height: calc(100vh - 210px) !important;">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="unselectable" for="PortInfo_ShipmentsInfo_OrdYear">@Html.Recource(3196) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width:120px !important;" type="text" id="PortInfo_ShipmentsInfo_OrdYear_@srl" value="@OrdYear" disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="unselectable" for="PortInfo_ShipmentsInfo_OrderNo">@Html.Recource(3197) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width:90px !important;" type="text" id="PortInfo_ShipmentsInfo_OrderNo_@srl" value="@OrderNo" disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="unselectable" for="PortInfo_ShipmentsInfo_TawreedNo">@Html.Recource(3797) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width:120px !important;" type="text" id="PortInfo_ShipmentsInfo_TawreedNo_@srl" value="@TawreedNo" disabled />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <label class="unselectable">@Html.Recource(3087) </label>
                    </div>
                    <div class="col-md-1" style="margin-bottom: 5px;">
                        <input style="width: 80px !important;" type="text" id="PortInfo_ShipmentsInfo_VendorNo_@srl" value="@ordHf.VendorNo" disabled />
                    </div>
                    <div class="col-md-5" style="margin-bottom: 5px;">
                        <input style="width:100%" type="text" id="PortInfo_ShipmentsInfo_VendorName_@srl" value="@Html.Translate(Vend.Name,Vend.Eng_Name)" disabled />
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <label class="unselectable" for="PortInfo_ShipmentsInfo_ShipSer">@Html.Recource(696) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width: 120px !important; direction: ltr; text-align: right;" type="text" id="PortInfo_ShipmentsInfo_ShipSer_@srl" value="@ShipSer" disabled />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <label class="unselectable" for="PortInfo_ShipmentsInfo_ArrivalDate">@Html.Recource(3833) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width:120px !important;" type="date" id="PortInfo_ShipmentsInfo_ArrivalDate_@srl" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="unselectable" for="PortInfo_ShipmentsInfo_PortNotes">@Html.Recource(70)</label>
                    </div>
                    <div class="col-md-10">
                        <textarea required="true" style="width: 96%; height: 25px !important; " id="PortInfo_ShipmentsInfo_PortNotes_@srl" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group" style="display: block; height: 225px; ">
                <div class="col-md-12 wrapperx" id="AddPortInfo_ShipmentsInfo_DIV">
                    <table class="table table-hover AddPortInfo_ShipmentsInfo" id="AddPortInfo_ShipmentsInfoTable">
                        @if (Session["language"].ToString() == "en")
                        {
                            if (compMF.UseQty2 == true)
                            {
                                <thead style="background-color: lightblue">
                                    <tr>
                                        <th colspan="2" style="text-align: center !important; width: 350px; border-right: 1px solid;">@Html.Translate("المواد", "Items")</th>
                                        <th colspan="3" style="text-align: center !important; width: 350px; border-right: 1px solid;">@Html.Translate("بيانات الشحنة", "Shipment Info")</th>
                                        <th colspan="3" style="text-align: center !important; width: 350px; border-right: 1px solid;">@Html.Translate("بيانات الميناء", "Port Info")</th>
                                        <th colspan="2" style="text-align: center !important; width: 350px;">@Html.Translate("الفروقات", "Differences")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            }
                            else
                            {
                                <thead style="background-color: lightblue">
                                    <tr>
                                        <th colspan="2" style="text-align: center !important; width: 350px; border-right: 1px solid;">@Html.Translate("المواد", "Items")</th>
                                        <th colspan="2" style="text-align: center !important; width: 350px; border-right: 1px solid;">@Html.Translate("بيانات الشحنة", "Shipment Info")</th>
                                        <th colspan="2" style="text-align: center !important; width: 350px; border-right: 1px solid;">@Html.Translate("بيانات الميناء", "Port Info")</th>
                                        <th colspan="1" style="text-align: center !important; width: 350px;">@Html.Translate("الفروقات", "Differences")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            }
                            <thead>
                                <tr>
                                    <th style="text-align: center !important; width: 350px;">@Html.Recource(44)</th>
                                    <th style="text-align: center !important; width: 990px; border-right: 1px solid;">@Html.Recource(74)</th>
                                    @if (CActive.ClientNo == 335)
                                    {
                                        <th style="text-align: center !important; width: 205px;">@Html.Recource(5693)</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center !important; width: 205px;">@Html.Recource(49)</th>
                                    }
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th style="text-align: center !important; width: 205px;">@Html.Recource(67)</th>
                                        if (CActive.ClientNo == 335)
                                        {
                                            <th style="text-align: center !important; width: 165px; border-right: 1px solid;">@Html.Recource(442)</th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center !important; width: 165px; border-right: 1px solid;">@Html.Recource(72)</th>
                                        }
                                    }
                                    else
                                    {
                                        <th style="text-align: center !important; width: 205px; border-right: 1px solid;">@Html.Recource(67)</th>
                                        <th style="text-align: center !important; width: 165px; border-right: 1px solid;" hidden>@Html.Recource(72)</th>
                                    }
                                    @if (CActive.ClientNo == 335)
                                    {
                                        <th style="text-align: center !important; width: 165px;">@Html.Recource(5693)</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center !important; width: 165px;">@Html.Recource(49)</th>
                                    }
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th style="text-align: center !important; width: 205px;">@Html.Recource(67)</th>
                                        if (CActive.ClientNo == 335)
                                        {
                                            <th style="text-align: center !important; width: 165px; border-right: 1px solid; ">@Html.Recource(442)</th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center !important; width: 165px; border-right: 1px solid; ">@Html.Recource(72)</th>
                                        }
                                    }
                                    else
                                    {
                                        <th style="text-align: center !important; width: 205px; border-right: 1px solid; ">@Html.Recource(67)</th>
                                        <th style="text-align: center !important; width: 165px; border-right: 1px solid; " hidden>@Html.Recource(72)</th>
                                    }
                                    <th style="text-align: center !important; width: 165px;">@Html.Translate("فرق 1", "difference 1")</th>
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("فرق 2", "difference 2")</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center !important; width: 165px;" hidden>@Html.Translate("فرق 2", "difference 2")</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th style="text-align: center !important; border-right: 1px solid; " colspan="2">@Html.Translate("الاجمالي", "Total")</th>
                                    <th style="text-align: center !important;" id="TotalShipmentQty1_@srl">0</th>
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th></th>
                                        <th style="text-align: center !important; border-right: 1px solid; " id="TotalShipmentQty2_@srl">0</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center !important; border-right: 1px solid; "></th>
                                        <th style="text-align: center !important; border-right: 1px solid; " hidden id="TotalShipmentQty2_@srl">0</th>
                                    }
                                    <th style="text-align: center !important;" id="TotalShipment1Qty1_@srl">0</th>
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th></th>
                                        <th style="text-align: center !important; border-right: 1px solid; " id="TotalShipment1Qty2_@srl">0</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center !important; border-right: 1px solid; "></th>
                                        <th style="text-align: center !important; border-right: 1px solid; " hidden id="TotalShipment1Qty2_@srl">0</th>
                                    }
                                    <th style="text-align: center !important;" id="TotalDifferenceQty1_@srl">0</th>
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th style="text-align: center !important;" id="TotalDifferenceQty2_@srl">0</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center !important;" id="TotalDifferenceQty2_@srl" hidden>0</th>
                                    }
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody style="text-align: center;" id="AddPortInfo_ShipmentsInfoTBody_@srl">
                                @foreach (Ord_OrderShippingDF DF in ShippingDF)
                                {
                                    string ItemDesc = Mf.Where(x => x.ItemNo == DF.ItemNo).Select(O => Html.Translate(O.ItemDesc, O.ItemDesc_Ara)).FirstOrDefault().ToString();
                                    string UnitSerial = DF.UnitSerial.Value.ToString();
                                    InvItemsMF M = Mf.Where(x => x.ItemNo == DF.ItemNo).FirstOrDefault();
                                    string UnitName = "";
                                    switch (DF.UnitSerial)
                                    {
                                        case 1:
                                            UnitName = M.UnitC1;
                                            break;
                                        case 2:
                                            UnitName = M.UnitC2;
                                            break;
                                        case 3:
                                            UnitName = M.UnitC3;
                                            break;
                                        case 4:
                                            UnitName = M.UnitC4;
                                            break;

                                    }
                                    <tr style="height: 25px;" id="ShipmentsInfo_@Srial">
                                        <td style="width: 350px;text-align: center !important" id="AddPortInfo_ShipmentsInfo_ItemNo">@DF.ItemNo</td>
                                        <td style="width: 990px; text-align: center !important; word-wrap: break-word; white-space: normal; border-right: 1px solid; " id="AddPortInfo_ShipmentsInfo_ItemDesc">@ItemDesc</td>
                                        <td style="text-align:center !important">
                                            <input id="PortInfo_ShipmentsInfo_Qty_@Srial" value="@DF.ShippingQty.Value" type="number" style="width: 90px !important; text-align: center;" disabled />
                                        </td>
                                        @if (compMF.UseQty2 == true)
                                        {
                                            <td class="four-col" style="text-align: center !important" id="PortInfo_ShipmentsInfo_UnitName">@UnitName</td>
                                            <td style="text-align: center !important; border-right: 1px solid;">
                                                <input id="PortInfo_ShipmentsInfo_Qty2_@Srial" value="@DF.Qty2" type="number" style="width: 90px !important; text-align: center; " disabled />
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="four-col" style="text-align: center !important; border-right: 1px solid;" id="PortInfo_ShipmentsInfo_UnitName">@UnitName</td>
                                            <td style="text-align: center !important; border-right: 1px solid;" hidden>
                                                <input id="PortInfo_ShipmentsInfo_Qty2_@Srial" value="@DF.Qty2" type="number" style="width: 75px !important; text-align: center; border-right: 1px solid;" disabled />
                                            </td>
                                        }

                                        <td style="text-align:center !important">
                                            <input id="PortInfo_ShipmentsInfo1_Qty_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" onblur="CheckValueShipmentsInfo1_Qty(this,@srl)" />
                                        </td>

                                        @if (compMF.UseQty2 == true)
                                        {
                                            <td style="text-align: center;">
                                                <select class="PortInfo_ShipmentsInfo1_Unit">
                                                    @{
                                                        using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
                                                        {
                                                            Dt = new DataTable();
                                                            cn.Open();
                                                            using (SqlCommand cmd = new SqlCommand())
                                                            {
                                                                cmd.Connection = cn;
                                                                cmd.CommandType = System.Data.CommandType.StoredProcedure;
                                                                cmd.CommandText = "InvT_LoadItemUnits";
                                                                cmd.Parameters.Add(new SqlParameter("@CompNo", System.Data.SqlDbType.SmallInt)).Value = company.comp_num;
                                                                cmd.Parameters.Add(new SqlParameter("@ItemCode", System.Data.SqlDbType.VarChar, 20)).Value = DF.ItemNo;
                                                                using (SqlDataAdapter DA = new SqlDataAdapter(cmd))
                                                                {
                                                                    DA.Fill(Dt);
                                                                }
                                                            }
                                                        }
                                                    }
                                                    @foreach (DataRow row in Dt.Rows)
                                                    {
                                                        if (UnitSerial == row["UnitSerial"].ToString())
                                                        {
                                                            <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()" selected>
                                                                @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()">
                                                                @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td style="text-align: center !important; border-right: 1px solid;">
                                                <input id="PortInfo_ShipmentsInfo1_Qty2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" onblur="CheckValueShipmentsInfo1_Qty2(this,@srl)" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center; border-right: 1px solid;">
                                                <select class="PortInfo_ShipmentsInfo1_Unit">
                                                    @{
                                                        using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
                                                        {
                                                            Dt = new DataTable();
                                                            cn.Open();
                                                            using (SqlCommand cmd = new SqlCommand())
                                                            {
                                                                cmd.Connection = cn;
                                                                cmd.CommandType = System.Data.CommandType.StoredProcedure;
                                                                cmd.CommandText = "InvT_LoadItemUnits";
                                                                cmd.Parameters.Add(new SqlParameter("@CompNo", System.Data.SqlDbType.SmallInt)).Value = company.comp_num;
                                                                cmd.Parameters.Add(new SqlParameter("@ItemCode", System.Data.SqlDbType.VarChar, 20)).Value = DF.ItemNo;
                                                                using (SqlDataAdapter DA = new SqlDataAdapter(cmd))
                                                                {
                                                                    DA.Fill(Dt);
                                                                }
                                                            }
                                                        }
                                                    }
                                                    @foreach (DataRow row in Dt.Rows)
                                                    {
                                                        if (UnitSerial == row["UnitSerial"].ToString())
                                                        {
                                                            <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()" selected>
                                                                @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()">
                                                                @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td style="text-align: center !important; border-right: 1px solid;" hidden>
                                                <input id="PortInfo_ShipmentsInfo1_Qty2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" onblur="CheckValueShipmentsInfo1_Qty2(this,@srl)" />
                                            </td>
                                        }
                                        <td style="text-align:center !important">
                                            <input id="PortInfo_ShipmentsInfo1_difference1_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                        </td>
                                        @if (compMF.UseQty2 == true)
                                        {
                                            <td style="text-align:center !important">
                                                <input id="PortInfo_ShipmentsInfo1_difference2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center !important" hidden>
                                                <input id="PortInfo_ShipmentsInfo1_difference2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                            </td>
                                        }
                                        <td>
                                            <input type="hidden" id="PortInfo_ShipmentsInfo_UnitSerial_@Srial" value="@DF.UnitSerial" />
                                            <input type="hidden" id="InputSerial" value="@(Srial++)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            if (compMF.UseQty2 == true)
                            {
                                <thead style="background-color: lightblue">
                                    <tr>
                                        <th colspan="2" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("المواد", "Items")</th>
                                        <th colspan="3" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("بيانات الشحنة", "Shipment Info")</th>
                                        <th colspan="3" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("بيانات الميناء", "Port Info")</th>
                                        <th colspan="2" style="text-align: center; width: 350px;">@Html.Translate("الفروقات", "Differences")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            }
                            else
                            {
                                <thead style="background-color: lightblue">
                                    <tr>
                                        <th colspan="2" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("المواد", "Items")</th>
                                        <th colspan="2" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("بيانات الشحنة", "Shipment Info")</th>
                                        <th colspan="2" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("بيانات الميناء", "Port Info")</th>
                                        <th colspan="1" style="text-align: center; width: 350px;">@Html.Translate("الفروقات", "Differences")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            }
                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 350px;">@Html.Recource(44)</th>
                                    <th style="text-align: center; width: 990px;border-left: 1px solid;">@Html.Recource(74)</th>
                                    @if (CActive.ClientNo == 335)
                                    {
                                        <th style="text-align: center; width: 205px;">@Html.Recource(5693)</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center; width: 205px;">@Html.Recource(49)</th>
                                    }
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th style="text-align: center; width: 205px;">@Html.Recource(67)</th>
                                        if (CActive.ClientNo == 335)
                                        {
                                            <th style="text-align: center; width: 165px; border-left: 1px solid;">@Html.Recource(442)</th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center; width: 165px; border-left: 1px solid;">@Html.Recource(72)</th>
                                        }
                                    }
                                    else
                                    {
                                        <th style="text-align: center; width: 205px; border-left: 1px solid;">@Html.Recource(67)</th>
                                        <th style="text-align: center; width: 165px; border-left: 1px solid;" hidden>@Html.Recource(72)</th>
                                    }
                                    @if (CActive.ClientNo == 335)
                                    {
                                        <th style="text-align: center;width: 165px;">@Html.Recource(5693)</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center;width: 165px;">@Html.Recource(49)</th>
                                    }
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th style="text-align: center;width: 205px;">@Html.Recource(67)</th>
                                        if (CActive.ClientNo == 335)
                                        {
                                            <th style="text-align: center; width: 165px; border-left: 1px solid;">@Html.Recource(442)</th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center; width: 165px; border-left: 1px solid;">@Html.Recource(72)</th>
                                        }
                                    }
                                    else
                                    {
                                        <th style="text-align: center; width: 205px; border-left: 1px solid;">@Html.Recource(67)</th>
                                        <th style="text-align: center; width: 165px; border-left: 1px solid;" hidden>@Html.Recource(72)</th>
                                    }
                                    <th style="text-align: center;width: 165px;">@Html.Translate("فرق 1", "difference 1")</th>
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th style="text-align: center;width: 165px;">@Html.Translate("فرق 2", "difference 2")</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center;width: 165px;" hidden>@Html.Translate("فرق 2", "difference 2")</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th style="text-align: center; border-left: 1px solid;" colspan="2">@Html.Translate("الاجمالي", "Total")</th>
                                    <th style="text-align:center;" id="TotalShipmentQty1_@srl">0</th>
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th></th>
                                        <th style="text-align: center; border-left: 1px solid;" id="TotalShipmentQty2_@srl">0</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center; border-left: 1px solid;"></th>
                                        <th style="text-align: center; border-left: 1px solid;" hidden id="TotalShipmentQty2_@srl">0</th>
                                    }
                                    <th style="text-align:center;" id="TotalShipment1Qty1_@srl">0</th>
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th></th>
                                        <th style="text-align: center; border-left: 1px solid;" id="TotalShipment1Qty2_@srl">0</th>
                                    }
                                    else
                                    {
                                        <th style="text-align: center; border-left: 1px solid;"></th>
                                        <th style="text-align: center; border-left: 1px solid;" hidden id="TotalShipment1Qty2_@srl">0</th>
                                    }
                                    <th style="text-align:center;" id="TotalDifferenceQty1_@srl">0</th>
                                    @if (compMF.UseQty2 == true)
                                    {
                                        <th style="text-align:center;" id="TotalDifferenceQty2_@srl">0</th>
                                    }
                                    else
                                    {
                                        <th style="text-align:center;" id="TotalDifferenceQty2_@srl" hidden>0</th>
                                    }
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody style="text-align: center;" id="AddPortInfo_ShipmentsInfoTBody_@srl">
                                @foreach (Ord_OrderShippingDF DF in ShippingDF)
                                {
                                    string ItemDesc = Mf.Where(x => x.ItemNo == DF.ItemNo).Select(O => Html.Translate(O.ItemDesc, O.ItemDesc_Ara)).FirstOrDefault().ToString();
                                    string UnitSerial = DF.UnitSerial.Value.ToString();
                                    InvItemsMF M = Mf.Where(x => x.ItemNo == DF.ItemNo).FirstOrDefault();
                                    string UnitName = "";
                                    switch (DF.UnitSerial)
                                    {
                                        case 1:
                                            UnitName = M.UnitC1;
                                            break;
                                        case 2:
                                            UnitName = M.UnitC2;
                                            break;
                                        case 3:
                                            UnitName = M.UnitC3;
                                            break;
                                        case 4:
                                            UnitName = M.UnitC4;
                                            break;

                                    }
                                    <tr style="height: 25px;" id="ShipmentsInfo_@Srial">
                                        <td style="width: 350px;text-align: center !important" id="AddPortInfo_ShipmentsInfo_ItemNo">@DF.ItemNo</td>
                                        <td style="width: 990px; text-align: center !important; word-wrap: break-word; white-space: normal; border-left: 1px solid; " id="AddPortInfo_ShipmentsInfo_ItemDesc">@ItemDesc</td>
                                        <td style="text-align:center !important">
                                            <input id="PortInfo_ShipmentsInfo_Qty_@Srial" value="@DF.ShippingQty.Value" type="number" style="width: 90px !important; text-align: center;" disabled />
                                        </td>
                                        @if (compMF.UseQty2 == true)
                                        {
                                            <td class="four-col" style="text-align: center !important" id="PortInfo_ShipmentsInfo_UnitName">@UnitName</td>
                                            <td style="text-align: center !important; border-left: 1px solid;">
                                                <input id="PortInfo_ShipmentsInfo_Qty2_@Srial" value="@DF.Qty2" type="number" style="width: 90px !important; text-align: center; " disabled />
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="four-col" style="text-align: center !important; border-left: 1px solid;" id="PortInfo_ShipmentsInfo_UnitName">@UnitName</td>
                                            <td style="text-align: center !important; border-left: 1px solid;" hidden>
                                                <input id="PortInfo_ShipmentsInfo_Qty2_@Srial" value="@DF.Qty2" type="number" style="width: 75px !important; text-align: center; border-left: 1px solid;" disabled />
                                            </td>
                                        }

                                        <td style="text-align:center !important">
                                            <input id="PortInfo_ShipmentsInfo1_Qty_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" onblur="CheckValueShipmentsInfo1_Qty(this,@srl)" />
                                        </td>

                                        @if (compMF.UseQty2 == true)
                                        {
                                            <td style="text-align: center;">
                                                <select class="PortInfo_ShipmentsInfo1_Unit">
                                                    @{
                                                        using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
                                                        {
                                                            Dt = new DataTable();
                                                            cn.Open();
                                                            using (SqlCommand cmd = new SqlCommand())
                                                            {
                                                                cmd.Connection = cn;
                                                                cmd.CommandType = System.Data.CommandType.StoredProcedure;
                                                                cmd.CommandText = "InvT_LoadItemUnits";
                                                                cmd.Parameters.Add(new SqlParameter("@CompNo", System.Data.SqlDbType.SmallInt)).Value = company.comp_num;
                                                                cmd.Parameters.Add(new SqlParameter("@ItemCode", System.Data.SqlDbType.VarChar, 20)).Value = DF.ItemNo;
                                                                using (SqlDataAdapter DA = new SqlDataAdapter(cmd))
                                                                {
                                                                    DA.Fill(Dt);
                                                                }
                                                            }
                                                        }
                                                    }
                                                    @foreach (DataRow row in Dt.Rows)
                                                    {
                                                        if (UnitSerial == row["UnitSerial"].ToString())
                                                        {
                                                            <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()" selected>
                                                                @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()">
                                                                @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td style="text-align: center !important; border-left: 1px solid;">
                                                <input id="PortInfo_ShipmentsInfo1_Qty2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" onblur="CheckValueShipmentsInfo1_Qty2(this,@srl)" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center; border-left: 1px solid;">
                                                <select class="PortInfo_ShipmentsInfo1_Unit">
                                                    @{
                                                        using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
                                                        {
                                                            Dt = new DataTable();
                                                            cn.Open();
                                                            using (SqlCommand cmd = new SqlCommand())
                                                            {
                                                                cmd.Connection = cn;
                                                                cmd.CommandType = System.Data.CommandType.StoredProcedure;
                                                                cmd.CommandText = "InvT_LoadItemUnits";
                                                                cmd.Parameters.Add(new SqlParameter("@CompNo", System.Data.SqlDbType.SmallInt)).Value = company.comp_num;
                                                                cmd.Parameters.Add(new SqlParameter("@ItemCode", System.Data.SqlDbType.VarChar, 20)).Value = DF.ItemNo;
                                                                using (SqlDataAdapter DA = new SqlDataAdapter(cmd))
                                                                {
                                                                    DA.Fill(Dt);
                                                                }
                                                            }
                                                        }
                                                    }
                                                    @foreach (DataRow row in Dt.Rows)
                                                    {
                                                        if (UnitSerial == row["UnitSerial"].ToString())
                                                        {
                                                            <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()" selected>
                                                                @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()">
                                                                @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td style="text-align: center !important; border-left: 1px solid;" hidden>
                                                <input id="PortInfo_ShipmentsInfo1_Qty2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" onblur="CheckValueShipmentsInfo1_Qty2(this,@srl)" />
                                            </td>
                                        }
                                        <td style="text-align:center !important">
                                            <input id="PortInfo_ShipmentsInfo1_difference1_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                        </td>
                                        @if (compMF.UseQty2 == true)
                                        {
                                            <td style="text-align:center !important">
                                                <input id="PortInfo_ShipmentsInfo1_difference2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center !important" hidden>
                                                <input id="PortInfo_ShipmentsInfo1_difference2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                            </td>
                                        }
                                        <td>
                                            <input type="hidden" id="PortInfo_ShipmentsInfo_UnitSerial_@Srial" value="@DF.UnitSerial" />
                                            <input type="hidden" id="InputSerial" value="@(Srial++)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="ExcuteSave_PortInfo(@srl)" class="btn btn-primary">@Resources.Resource.Save</button>
        </div>
    </div>
</div>

<script>
    function CheckValueShipmentsInfo1_Qty(e, srl) {
        if (e.value < 0) {
            e.value = 0;
            e.focus();
            if (@CActive.ClientNo == 335) {
                alert('@Html.Translate("يجب أن تكون العدد أكبر من صفر", "The Number Must be Greater Than Zero")');
            }
            else {
                alert('@Html.Translate("يجب أن تكون الكمية أكبر من صفر", "The Qty Must be Greater Than Zero")');
            }
        }
        if (e.value == "") {
            e.value = 0;
        }
        SumDifferenceQty(srl)
    }
    function CheckValueShipmentsInfo1_Qty2(e, srl) {
        if (e.value < 0) {
            e.value = 0;
            e.focus();
            if (@CActive.ClientNo == 335) {
                alert('@Html.Translate("يجب أن تكون الوزن أكبر من صفر", "The Weight Must be Greater Than Zero")');
            }
            else {
                alert('@Html.Translate("يجب أن تكون الكمية 2 أكبر من صفر", "The Qty 2 Must be Greater Than Zero")');
            }
        }
        if (e.value == "") {
            e.value = 0;
        }
        SumDifferenceQty(srl)
    }
    SumDifferenceQty(@srl)
    function SumDifferenceQty(id) {
        var table = $("#AddPortInfo_ShipmentsInfoTBody_" + id);
        var trs = table.find('tr');

        var TotalShipmentQty1 = 0
        var TotalShipmentQty2 = 0
        var TotalShipment1Qty1 = 0
        var TotalShipment1Qty2 = 0
        var TotalDifferenceQty1 = 0
        var TotalDifferenceQty2 = 0
        var Total1 = 0
        var Total2 = 0


        for (var i = 0; i < trs.length; i++) {
            var InputSerial = $(trs[i]).closest('tr').find('#InputSerial')[0].value
            TotalShipmentQty1 += Number($(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo_Qty_' + InputSerial)[0].value);
            TotalShipmentQty2 += Number($(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo_Qty2_' + InputSerial)[0].value);
            TotalShipment1Qty1 += Number($(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo1_Qty_' + InputSerial)[0].value);
            TotalShipment1Qty2 += Number($(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo1_Qty2_' + InputSerial)[0].value);

            TotalDifferenceQty1 = Number($(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo_Qty_' + InputSerial)[0].value) - Number($(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo1_Qty_' + InputSerial)[0].value);
            TotalDifferenceQty2 = Number($(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo_Qty2_' + InputSerial)[0].value) - Number($(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo1_Qty2_' + InputSerial)[0].value);

            $(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo1_difference1_' + InputSerial)[0].value = Number(TotalDifferenceQty1);
            $(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo1_difference2_' + InputSerial)[0].value = Number(TotalDifferenceQty2);

            Total1 = Number(Total1) + Number(TotalDifferenceQty1);
            Total2 = Number(Total2) + Number(TotalDifferenceQty2);

        }

        $('#TotalShipmentQty1_' + id).html(Number(TotalShipmentQty1));
        $('#TotalShipmentQty2_' + id).html(Number(TotalShipmentQty2));
        $('#TotalShipment1Qty1_' + id).html(Number(TotalShipment1Qty1));
        $('#TotalShipment1Qty2_' + id).html(Number(TotalShipment1Qty2));
        $('#TotalDifferenceQty1_' + id).html(Number(Total1));
        $('#TotalDifferenceQty2_' + id).html(Number(Total2));
    }
    function CheckValueGrid(NotEqualZero, Amt) {
        if (NotEqualZero == '1') {
            if (Amt == '' || Amt == null || Amt == 0) {
                return true;
            }
            else {
                return false;
            }
            return false;
        }
        else {
            if (Amt == '' || Amt == null) {
                return true;
            }
            else {
                return false;
            }
            return false;
        }
    }
    function ExcuteSave_PortInfo(id) {

        var table = $("#AddPortInfo_ShipmentsInfoTBody_" + id);
        var trs = table.find('tr');


        var PortInfoHF = {
            CompNo: '@company.comp_num',
            OrderYear: $('#PortInfo_ShipmentsInfo_OrdYear_' + id).val(),
            OrderNo: $('#PortInfo_ShipmentsInfo_OrderNo_' + id).val(),
            TawreedNo: $('#PortInfo_ShipmentsInfo_TawreedNo_' + id).val(),
            ShipSer: $('#PortInfo_ShipmentsInfo_ShipSer_' + id).val(),
            VendorNo: $('#PortInfo_ShipmentsInfo_VendorNo_' + id).val(),
            ArrivalDate: $('#PortInfo_ShipmentsInfo_ArrivalDate_' + id).val(),
            PortNotes: $('#PortInfo_ShipmentsInfo_PortNotes_' + id).val(),
        }

        var PortInfoDF = new Array();
        for (var i = 0; i < trs.length; i++) {
            var InputSerial = $(trs[i]).closest('tr').find('#InputSerial')[0].value

            PortInfoDF.push({
                CompNo: '@company.comp_num',
                OrderYear: $('#PortInfo_ShipmentsInfo_OrdYear_' + id).val(),
                OrderNo: $('#PortInfo_ShipmentsInfo_OrderNo_' + id).val(),
                TawreedNo: $('#PortInfo_ShipmentsInfo_TawreedNo_' + id).val(),
                ShipSer: $('#PortInfo_ShipmentsInfo_ShipSer_' + id).val(),
                ItemNo: $(trs[i]).closest('tr').find('#AddPortInfo_ShipmentsInfo_ItemNo')[0].innerHTML,
                ShippingQty: $(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo_Qty_' + InputSerial)[0].value,
                ShippingTUnit: $(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo_UnitName')[0].innerHTML,
                ShippingUnitSerial: $(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo_UnitSerial_' + InputSerial)[0].value,
                ShippingQty2: $(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo_Qty2_' + InputSerial)[0].value,
                PortQty: $(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo1_Qty_' + InputSerial)[0].value,
                PortTUnit: $(trs[i]).closest('tr').find('.PortInfo_ShipmentsInfo1_Unit option:Selected')[0].getAttribute('unitCode'),
                PortUnitSerial: $(trs[i]).closest('tr').find('.PortInfo_ShipmentsInfo1_Unit')[0].value,
                PortQty2: $(trs[i]).closest('tr').find('#PortInfo_ShipmentsInfo1_Qty2_' + InputSerial)[0].value,
            })
        }

        wait();
        burn({ PortInfoHF: PortInfoHF, PortInfoDF: PortInfoDF }, '../../../PortInfo/Save_PortInfo', '', ReloadPortInfo, false);
    }
    function ReloadPortInfo(r) {
        done();
        MsgBox('@Html.Recource(475)', 'green');
        $('#PortInfo_ShipmentsInfoTBody').empty();
        var TawreedNo = r.TawreedNo;
        var ShipSer = r.ShipSer;
        CloseWindow('/PortInfo/GetPortInfo?OrdYear=' + r.OrdYear + '&OrderNo=' + r.OrdNo + '&TawreedNo=' + TawreedNo + '&ShipSer=' + ShipSer + '');

        var table = $("#PortInfoTable tbody");
        var trs = table.find('tr');
        for (var i = 0; i < trs.length; i++) {
            if ($(trs[i])[0].getAttribute('OrdYear') == r.OrdYear && $(trs[i])[0].getAttribute('OrderNo') == r.OrdNo && $(trs[i])[0].getAttribute('TawreedNo') == TawreedNo) {
                var nTr = $(trs[i])[0];
                wait();
                $(this).attr("opened", "details_close");
                var OrdYear = $(trs[i])[0].getAttribute('OrdYear');
                var OrderNo = $(trs[i])[0].getAttribute('OrderNo');
                var TawreedNo = $(trs[i])[0].getAttribute('TawreedNo');

                $.get("../../../../PortInfo/DetailsPortInfo?OrdYear=" + OrdYear + '&OrderNo=' + OrderNo + '&TawreedNo=' + TawreedNo, function (data) {
                    PortInfoTable.fnOpen(nTr, data, 'details');
                    done();
                });
            }
        }
    }
</script>