<div class="form-group">
    <div class="col-md-12">
        <label class="unselectable">@Html.Recource(9313) :</label>
        <button onclick="Add_InvItemsMF(3)" type="button" class="btn btn-default">@Html.Recource(9313)</button>
    </div>
    <div class="col-md-12" style="height:200px;max-height:200px;overflow-y:auto">
        <table class="table table-hover" id="AdditiveItemsTable">
            <thead>
                <tr>
                    <th style="width: 14%;">@Html.Recource(44)</th>
                    <th style="width: 40%;">@Html.Recource(74)</th>
                    <th style="width: 10%;text-align: center;">@Html.Recource(67)</th>
                    <th style="width: 10%;text-align: center;">@Html.Recource(49)</th>
                    <th style="width: 10%;text-align: center;">@Html.Recource(70)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="AdditiveItemsTBody">
            </tbody>
        </table>
    </div>
</div>