<div class="form-group">
    <div class="col-md-12">
        <label class="unselectable">@Html.Recource(2550) :</label>
        <button onclick="Add_InvItemsMF(2)" type="button" class="btn btn-default">@Html.Recource(2550)</button>
    </div>
    <div class="col-md-12" style="height:200px;max-height:200px;overflow-y:auto">
        <table class="table table-hover" id="ItemByProductTable">
            <thead>
                <tr>
                    <th style="width: 14%;">@Html.Recource(44)</th>
                    <th style="width: 45%;">@Html.Recource(74)</th>
                    <th>@Html.Recource(67)</th>
                    <th>@Html.Recource(3)</th>
                    <th     text-align: center;>@Html.Recource(49)</th>
                    <th>@Html.Recource(2536)</th>
                    @*<th>@Html.Recource(2556)</th>
        <th>@Html.Recource(2557)</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody id="ItemByProductTBody">
            </tbody>
        </table>
    </div>
</div>