@using AlphaERP.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Collections.Generic;
@{
    Company company = (Company)Session["company"];
    int Srial = 1;
    int OrdYear = ViewBag.OrdYear;
    int OrderNo = ViewBag.OrderNo;
    string TawreedNo = ViewBag.TawreedNo;
    int count = new MDB().Ord_OrderShippingHF.Where(x => x.CompNo == company.comp_num && x.OrderYear == OrdYear && x.OrderNo == OrderNo && x.TawreedNo == TawreedNo).Count();
    count++;
    string ShipSer = TawreedNo + " / " + count;

    string srl = TawreedNo + count;
    List<PayCodes> Currency = new MDB().Database.SqlQuery<PayCodes>("select CurrType as Id ,CurrName as DescAr,isnull(CurrNameE,'No Desc.') as DescEn from CurrType").ToList();

    List<OrderDF> OrdDF = new MDB().OrderDFs.Where(x => x.CompNo == company.comp_num && x.OrdYear == OrdYear && x.OrderNo == OrderNo && x.TawreedNo == TawreedNo).ToList();
    List<InvItemsMF> Mf = new MDB().InvItemsMFs.Where(x => x.CompNo == company.comp_num).ToList();
    DataTable Dt = new DataTable();
    InvCompMF compMF = new MDB().InvCompMFs.Where(x => x.CompNo == company.comp_num).FirstOrDefault();
    if (compMF.UseQty2 == null)
    {
        compMF.UseQty2 = false;
    }
    List<Vendor> Vend = new MDB().Vendors.Where(x => x.comp == company.comp_num && x.IsHalt == false).ToList();
    var id = "#ShipmentsInfoDFTBody_" + srl;
    ClientsActive CActive = new MDB().ClientsActives.Where(x => x.CompNo == company.comp_num).FirstOrDefault();

}

<style>

    #MRP_ShipmentsInfo_DIV table th, #MRP_ShipmentsInfo_DIV table td {
        padding: 4px 15px !important;
        text-align: center !important;
    }
    .wrapperx {
        padding:0;
        position: relative;
        overflow: auto;
        white-space: nowrap;
    }

    .sticky-col {
        z-index:2;
        position: sticky;
        position: -webkit-sticky;
        background-color: white;
    }

    .first-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        @Html.Translate("right: 0px;", "left: 0px;")
    }

    .second-col {
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        @Html.Translate("right: 60px;", "left: 60px;")
    }

    .third-col {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        @Html.Translate("right: 125px;", "left: 125px;")
    }

    .four-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        @Html.Translate("right: 280px;", "left: 280px;")
    }
    .stickytooltip {
        max-height: 80vh !important;
        overflow: auto !important
    }
</style>

<style>
    .modal-body{
        max-height: 78vh !important;
    }
</style>

<link href="~/Content/stickytooltip.css" rel="stylesheet" />
<script src="~/Scripts/stickytooltip.js?s=15"></script>



<div class="box box-primary">
    <div class="box-body box-profile slim">
        <div>
            <div class="col-md-8" style="padding:0">
                <label style="margin:0" class="profile-username text-center">
                    <i style="margin:0 10px" class="fa MYICON" aria-hidden="true"></i>
                    MyTilTle
                </label>
            </div>
        </div>
    </div>
    <div class="box-body box-profile">
        <div class="modal-body row" style="height: calc(100vh - 210px) !important;">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="unselectable" for="MRP_ShipmentsInfo_OrdYear">@Html.Recource(3196) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width:120px !important;" type="text" id="MRP_ShipmentsInfo_OrdYear_@srl" value="@OrdYear" disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="unselectable" for="MRP_ShipmentsInfo_OrderNo">@Html.Recource(3197) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width:90px !important;" type="text" id="MRP_ShipmentsInfo_OrderNo_@srl" value="@OrderNo" disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="unselectable" for="MRP_ShipmentsInfo_TawreedNo">@Html.Recource(3797) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width:150px !important;" type="text" id="MRP_ShipmentsInfo_TawreedNo_@srl" value="@TawreedNo" disabled />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <label class="unselectable" for="MRP_ShipmentsInfo_ShipSer">@Html.Recource(696) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width: 120px !important; direction: ltr; text-align: right;" type="text" id="MRP_ShipmentsInfo_ShipSer_@srl" value="@ShipSer" disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="unselectable" for="MRP_ShipmentsInfo_ClearanceCompany">@Resources.Resource.ClearanceCompany </label>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 5px;">
                        <select onchange="$('#MRP_ShipmentsInfo_ClearanceCompany').val(this.value)" style="width: 150px !important;" id="MRP_ShipmentsInfo_CboClearanceCompany_@srl">
                            @foreach (var v in Vend)
                            {
                                if (v.VendorNo == Vend.Select(o => o.VendorNo).FirstOrDefault())
                                {
                                    <option value="@v.VendorNo" selected>@Html.Translate(v.Name, v.Eng_Name)</option>
                                }
                                else
                                {
                                    <option value="@v.VendorNo">@Html.Translate(v.Name, v.Eng_Name)</option>
                                }
                            }
                        </select>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="unselectable" for="MRP_ShipmentsInfo_ShippingPolicyNo">@Resources.Resource.ShippingPolicyNo </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width:120px !important;" type="text" id="MRP_ShipmentsInfo_ShippingPolicyNo_@srl" />
                    </div>
                    <div class="col-md-2">
                        <label class="unselectable" for="MRP_ShipmentsInfo_ClearanceInvNo">@Resources.Resource.ClearanceInvNo</label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" type="text" id="MRP_ShipmentsInfo_ClearanceInvNo_@srl" />
                    </div>
                    <div class="col-md-2">
                        <label class="unselectable" for="MRP_ShipmentsInfo_TransportInvNo">@Resources.Resource.TransportInvNo</label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width: 150px !important;" type="text" id="MRP_ShipmentsInfo_TransportInvNo_@srl" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <label class="unselectable" for="MRP_ShipmentsInfo_ArrivalDate">@Html.Recource(3833) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width:120px !important;" type="date" id="MRP_ShipmentsInfo_ArrivalDate_@srl" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>

                    <div class="col-md-2">
                        <label class="unselectable" for="MRP_ShipmentsInfo_ShippingDate">@Html.Recource(3832) </label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width:120px !important;" type="date" id="MRP_ShipmentsInfo_ShippingDate_@srl" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col-md-2">
                        <label class="unselectable" for="MRP_ShipmentsInfo_Transporter">@Resources.Resource.Transporter</label>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <input required="false" style="width: 150px !important;" type="text" id="MRP_ShipmentsInfo_Transporter_@srl" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="unselectable" for="MRP_ShipmentsInfo_ShippingNotes">@Html.Recource(70)</label>
                    </div>
                    <div class="col-md-8">
                        <textarea required="true" style="width: 100%; height: 25px !important; " id="MRP_ShipmentsInfo_ShippingNotes_@srl" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" onclick="AddDocuments()">
                            @Html.Recource(7744)
                        </button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group" style="display: block; height: calc(100vh - 470px) !important;">
                <div class="col-md-12 wrapperx" id="MRP_ShipmentsInfo_DIV">
                    <table class="table table-hover MRP_ShipmentsInfo" id="ShipmentsInfoTable">
                         @if (Session["language"].ToString() == "en")
                         {
                             if (compMF.UseQty2 == true)
                             {
                                <thead style="background-color: lightblue">
                                    <tr>
                                        <th colspan="2" style="text-align: center; width: 350px;border-right: 1px solid;">@Html.Translate("المواد", "Items")</th>
                                        <th colspan="3" style="text-align: center; width: 350px;border-right: 1px solid;">@Html.Translate("بيانات أمر الشراء", "Purchase order Info")</th>
                                        <th colspan="4" style="text-align: center; width: 350px;border-right: 1px solid;">@Html.Translate("الكميات", "Quantities")</th>
                                        @if (CActive.ClientNo == 239)
                                        {
                                            <th colspan="14" style="text-align: center; width: 350px;">@Html.Translate("بيانات الشحنات", "Shipments Data")</th>
                                        }
                                        else
                                        {
                                            <th colspan="2" style="text-align: center; width: 350px;">@Html.Translate("الفروقات", "Differences")</th>
                                        }
                                        <th></th>
                                    </tr>
                                </thead>
                             }
                             else
                             {
                                <thead style="background-color: lightblue">
                                    <tr>
                                        <th colspan="2" style="text-align: center; width: 350px;border-right: 1px solid;">@Html.Translate("المواد", "Items")</th>
                                        <th colspan="2" style="text-align: center !important; width: 350px; border-right: 1px solid;">@Html.Translate("بيانات أمر الشراء", "Purchase order Info")</th>
                                        <th colspan="3" style="text-align: center; width: 350px;border-right: 1px solid;">@Html.Translate("الكميات", "Quantities")</th>
                                        @if (CActive.ClientNo == 239)
                                        {
                                            <th colspan="14" style="text-align: center; width: 350px;">@Html.Translate("بيانات الشحنات", "Shipments Data")</th>
                                        }
                                        else
                                        {
                                            <th colspan="1" style="text-align: center; width: 350px;">@Html.Translate("الفروقات", "Differences")</th>
                                        }
                                        <th></th>
                                    </tr>
                                </thead>
                             }
                                <thead>
                                <tr>
                                    <th class="second-col">@Html.Recource(44)</th>
                                    <th class="third-col" style="border-right: 1px solid;">@Html.Recource(74)</th>
                                    <th style="width: 600px;">@Html.Recource(67)</th>

                                    @if (compMF.UseQty2 == true)
                                    {
                                        if (CActive.ClientNo == 335)
                                        {
                                            <th style="width: 165px;">@Html.Recource(5693)</th>
                                            <th style="width: 165px;border-right: 1px solid;">@Html.Recource(442)</th>
                                        }
                                        else
                                        {
                                            <th style="width: 165px;">@Html.Recource(49)</th>
                                            <th style="width: 165px;border-right: 1px solid;">@Html.Recource(72)</th>
                                        }
                                    }
                                    else
                                    {
                                        if (CActive.ClientNo == 335)
                                        {
                                            <th style="width: 165px;border-right: 1px solid;">@Html.Recource(5693)</th>
                                            <th style="width: 165px;border-right: 1px solid;" hidden>@Html.Recource(442)</th>
                                        }
                                        else
                                        {
                                            <th style="width: 165px;border-right: 1px solid;">@Html.Recource(49)</th>
                                            <th style="width: 165px;border-right: 1px solid;" hidden>@Html.Recource(72)</th>
                                        }
                                    }
                                    <th style="width: 90px !important; text-align: center !important;">@Html.Recource(5432)</th>
                                    <th style="width: 90px !important; text-align: center !important;">@Html.Recource(243)</th>

                                    @if (compMF.UseQty2 == true)
                                    {
                                        if (CActive.ClientNo == 335)
                                        {
                                            <th style="width: 165px;">@Html.Recource(5693)</th>
                                            <th style="width: 165px;border-right: 1px solid;">@Html.Recource(442)</th>
                                        }
                                        else
                                        {
                                            <th style="width: 165px;">@Html.Recource(49)</th>
                                            <th style="width: 165px;border-right: 1px solid;">@Html.Recource(72)</th>
                                        }
                                    }
                                    else
                                    {
                                        if (CActive.ClientNo == 335)
                                        {
                                            <th style="width: 165px;border-right: 1px solid;">@Html.Recource(5693)</th>
                                            <th style="width: 165px;border-right: 1px solid;" hidden>@Html.Recource(442)</th>
                                        }
                                        else
                                        {
                                            <th style="width: 165px;border-right: 1px solid;">@Html.Recource(49)</th>
                                            <th style="width: 165px;border-right: 1px solid;" hidden>@Html.Recource(72)</th>
                                        }
                                    }
                                    @if (CActive.ClientNo == 239)
                                    {
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("تاريخ الوصول المتوقع", "ETA")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("متطلبات الفحص", "Receiving Inspection Requirements")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("فاتورة المورد", "Supplier Invoice Number")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("القيمة", "Amount")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("العملة", "Currency")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("تاريخ الشحن", "Shipping Date")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("الغذاء والدواء", "JFDA")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("تاريخ العينة", "Sample Date")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("تاريخ الموافقة", "JFDA Approval Date")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("البيان الجمركي", "Declaration")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("تاريخ الوصول الفعلي", "Actual Arrival Date")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("رقم البوليصة", "AWB/ BL")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("الناقل", "Transporter")</th>
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("فاتورة الناقل", "Transportation Invoice")</th>

                                    }
                                    else
                                    {
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("فرق 1", "difference 1")</th>
                                        if (compMF.UseQty2 == true)
                                        {
                                            <th style="text-align: center !important; width: 165px;">@Html.Translate("فرق 2", "difference 2")</th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center !important; width: 165px;" hidden>@Html.Translate("فرق 2", "difference 2")</th>
                                        }
                                    }
                                    <th></th>
                                </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th style="text-align: center; border-right: 1px solid;" colspan="2">@Html.Translate("الاجمالي", "Total")</th>
                                        <th></th>
                                        @if (compMF.UseQty2 == true)
                                        {
                                            <th style="text-align:center;" id="TotalShipmentPOQty1_@srl">0</th>
                                            <th style="text-align: center; border-right: 1px solid;" id="TotalShipmentPOQty2_@srl">0</th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center; border-right: 1px solid;" id="TotalShipmentPOQty1_@srl">0</th>
                                            <th hidden id="TotalShipmentPOQty2_@srl">0</th>
                                        }
                                        <th style="text-align: center;" id="TotalShipmentReservedQty_@srl">0</th>
                                        <th style="text-align: center;" id="TotalShipmentRemainingQty_@srl">0</th>
                                        @if (compMF.UseQty2 == true)
                                        {
                                            <th style="text-align:center;" id="TotalShipmentQty1_@srl">0</th>
                                            <th style="text-align: center; border-right: 1px solid;" id="TotalShipmentQty2_@srl">0</th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center; border-right: 1px solid;" id="TotalShipmentQty1_@srl">0</th>
                                            <th hidden id="TotalShipmentQty2_@srl">0</th>
                                        }
                                        @if (CActive.ClientNo == 239)
                                        {
                                            <th colspan="14"></th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center !important;" id="TotalShipmentDifferenceQty1_@srl">0</th>
                                            if (compMF.UseQty2 == true)
                                            {
                                                <th style="text-align: center !important;" id="TotalShipmentDifferenceQty2_@srl">0</th>
                                            }
                                            else
                                            {
                                                <th style="text-align: center !important;" id="TotalShipmentDifferenceQty2_@srl" hidden>0</th>
                                            }
                                        }
                                        
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody style="text-align: center;" id="ShipmentsInfoDFTBody_@srl">
                                    @foreach (OrderDF DF in OrdDF)
                                    {
                                        double ResQty = 0;
                                        {
                                            using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
                                            {
                                                Dt = new DataTable();
                                                cn.Open();
                                                using (SqlCommand cmd = new SqlCommand())
                                                {
                                                    cmd.Connection = cn;
                                                    cmd.CommandType = System.Data.CommandType.StoredProcedure;
                                                    cmd.CommandText = "Ord_GetItemUnitCost";
                                                    cmd.Parameters.Add(new SqlParameter("@CompNo", System.Data.SqlDbType.SmallInt)).Value = company.comp_num;
                                                    cmd.Parameters.Add(new SqlParameter("@ItemNo", System.Data.SqlDbType.VarChar, 20)).Value = DF.ItemNo;
                                                    cmd.Parameters.Add(new SqlParameter("@UnitSerial", System.Data.SqlDbType.SmallInt, 4)).Value = DF.UnitSerial.Value;
                                                    using (SqlDataAdapter DA = new SqlDataAdapter(cmd))
                                                    {
                                                        DA.Fill(Dt);
                                                    }
                                                }
                                            }
                                            foreach (DataRow row in Dt.Rows)
                                            {
                                                ResQty = Convert.ToDouble(row["ResQty"]);
                                            }
                                        }
                                        int counts = new MDB().Ord_OrderShippingDF.Where(x => x.CompNo == company.comp_num && x.OrderYear == DF.OrdYear && x.OrderNo == DF.OrderNo && x.TawreedNo == DF.TawreedNo && x.ItemNo == DF.ItemNo).Count();
                                        double RemainingQty;
                                        if (counts == 0)
                                        {
                                            RemainingQty = 0;
                                        }
                                        else
                                        {
                                            RemainingQty = new MDB().Ord_OrderShippingDF.Where(x => x.CompNo == company.comp_num && x.OrderYear == DF.OrdYear && x.OrderNo == DF.OrderNo && x.TawreedNo == DF.TawreedNo && x.ItemNo == DF.ItemNo).Sum(o => o.ShippingQty).Value;
                                        }
                                        RemainingQty = DF.Qty.Value - RemainingQty;
                                        string ItemDesc = Mf.Where(x => x.ItemNo == DF.ItemNo).Select(O => Html.Translate(O.ItemDesc, O.ItemDesc_Ara)).FirstOrDefault().ToString();
                                        string UnitSerial = DF.UnitSerial.Value.ToString();
                                        <tr style="height: 25px;" id="ShipmentsInfo_@Srial">
                                            <td class="second-col" style="text-align: center !important; word-wrap: break-word; white-space: normal;" id="ShipmentsInfo_ItemNo">@DF.ItemNo</td>
                                            <td class="third-col" style="text-align: center !important; word-wrap: break-word; white-space: normal;border-right: 1px solid;" id="PurchOrdDF_ItemDesc">@ItemDesc</td>
                                            <td style="text-align: center;">
                                                <select class="ShipmentsInfo_ItemNo_Unit">
                                                    @{
                                                        using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
                                                        {
                                                            Dt = new DataTable();
                                                            cn.Open();
                                                            using (SqlCommand cmd = new SqlCommand())
                                                            {
                                                                cmd.Connection = cn;
                                                                cmd.CommandType = System.Data.CommandType.StoredProcedure;
                                                                cmd.CommandText = "InvT_LoadItemUnits";
                                                                cmd.Parameters.Add(new SqlParameter("@CompNo", System.Data.SqlDbType.SmallInt)).Value = company.comp_num;
                                                                cmd.Parameters.Add(new SqlParameter("@ItemCode", System.Data.SqlDbType.VarChar, 20)).Value = DF.ItemNo;
                                                                using (SqlDataAdapter DA = new SqlDataAdapter(cmd))
                                                                {
                                                                    DA.Fill(Dt);
                                                                }
                                                            }
                                                        }
                                                    }
                                                    @foreach (DataRow row in Dt.Rows)
                                                    {
                                                        if (UnitSerial == row["UnitSerial"].ToString())
                                                        {
                                                            <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()" selected>
                                                                @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()">
                                                                @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            @if (compMF.UseQty2 == true)
                                            {
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfoPO_Qty_@Srial" value="@DF.Qty" type="number" style="width:75px !important" disabled />
                                                </td>
                                                <td style="text-align:center !important;border-right: 1px solid;">
                                                    <input id="ShipmentsInfoPO_Qty2_@Srial" value="@DF.Qty2" type="number" style="width:75px !important" disabled />
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center !important;border-right: 1px solid;">
                                                    <input id="ShipmentsInfoPO_Qty_@Srial" value="@DF.Qty" type="number" style="width:75px !important" disabled />
                                                </td>
                                                <td style="text-align:center !important;border-right: 1px solid;" hidden>
                                                    <input id="ShipmentsInfoPO_Qty2_@Srial" value="@DF.Qty2" type="number" style="width:75px !important" disabled />
                                                </td>
                                            }
                                            <td style="text-align:center !important">
                                                <input id="ShipmentsInfo_ReservedQty_@Srial" value="@ResQty.ToString("0.000")" type="number" style="width:75px !important" disabled />
                                            </td>
                                            <td style="text-align:center !important">
                                                <input id="ShipmentsInfo_RemainingQty_@Srial" value="@RemainingQty" type="number" style="width:75px !important" disabled />
                                            </td>

                                            @if (compMF.UseQty2 == true)
                                            {
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_Qty_@Srial" value="0" type="number" style="width:75px !important" onblur="CheckValueQty(this,@srl)" />
                                                </td>
                                                <td style="text-align:center !important;border-right: 1px solid;">
                                                    <input id="ShipmentsInfo_Qty2_@Srial" value="0" type="number" style="width:75px !important" onblur="CheckValueQty2(this,@srl)" />
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center !important;border-right: 1px solid;">
                                                    <input id="ShipmentsInfo_Qty_@Srial" value="0" type="number" style="width:75px !important" onblur="CheckValueQty(this,@srl)" />
                                                </td>
                                                <td style="text-align:center !important;border-right: 1px solid;" hidden>
                                                    <input id="ShipmentsInfo_Qty2_@Srial" value="0" type="number" style="width:75px !important" onblur="CheckValueQty2(this,@srl)" />
                                                </td>
                                            }
                                            @if (CActive.ClientNo == 239)
                                            {
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_ETA_@Srial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align:center !important">
                                                    <label class="unselectable" for="ShipmentsInfo_Marketing_@Srial">
                                                        <input name="ShipmentsInfo_Marketing" type="checkbox" id="ShipmentsInfo_Marketing_@Srial" />
                                                        @Html.Translate("تسويق", "Marketing")
                                                    </label>
                                                    <label class="unselectable" for="ShipmentsInfo_tqm_@Srial">
                                                        <input name="ShipmentsInfo_tqm" type="checkbox" id="ShipmentsInfo_tqm_@Srial" />
                                                        @Html.Translate("tqm", "tqm")
                                                    </label>
                                                    <label class="unselectable" for="ShipmentsInfo_QualityControl_@Srial">
                                                        <input name="ShipmentsInfo_QualityControl" type="checkbox" id="ShipmentsInfo_QualityControl_@Srial" />
                                                        @Html.Translate("فحص الجودة", "Quality Control")
                                                    </label>
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_SupplierInvoiceNo_@Srial" value="" type="text" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_Amount_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align: center;">
                                                    <select class="ShipmentsInfo_Currency">
                                                        @foreach (var v in Currency)
                                                        {
                                                            <option value="@v.Id">@Html.Translate(v.DescAr, v.DescEn)</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_ShippingDate_@Srial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align: center;">
                                                    <select class="ShipmentsInfo_JFDA">
                                                        <option value="0">@Html.Translate("موافق", "Approved")</option>
                                                        <option value="1">@Html.Translate("قيد الانتظار", "Pending")</option>
                                                        <option value="2">@Html.Translate("مرفوض", "Rejected")</option>
                                                    </select>
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_SampleDate_@Srial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_JFDAApprovalDate_@Srial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_Declaration_@Srial" value="" type="text" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_ActualArrivalDate_@Srial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_AWBBL_@Srial" value="" type="text" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_Transporter_@Srial" value="" type="text" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_TransporterInvoice_@Srial" value="" type="text" style="width: 105px !important; text-align: center;" />
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_Difference1_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                                </td>
                                                if (compMF.UseQty2 == true)
                                                {
                                                    <td style="text-align:center !important">
                                                        <input id="ShipmentsInfo_Difference2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="text-align:center !important" hidden>
                                                        <input id="ShipmentsInfo_Difference2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                                    </td>
                                                }
                                            }
                                            
                                            <td>
                                                <input type="hidden" id="InputSerial" value="@(Srial++)" />
                                            </td>
                                        </tr>
                                                        }
                                </tbody>
                           }
                           else
                            {
                            if (compMF.UseQty2 == true)
                            {
                                <thead style="background-color: lightblue">
                                    <tr>
                                        <th colspan="2" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("المواد", "Items")</th>
                                        <th colspan="3" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("بيانات أمر الشراء", "Purchase order Info")</th>
                                        <th colspan="4" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("الكميات", "Quantities")</th>
                                        @if (CActive.ClientNo == 239)
                                        {
                                            <th colspan="14" style="text-align: center; width: 350px;">@Html.Translate("بيانات الشحنات", "Shipments Data")</th>
                                        }
                                        else
                                        {
                                            <th colspan="2" style="text-align: center; width: 350px;">@Html.Translate("الفروقات", "Differences")</th>
                                        }
                                        <th></th>
                                    </tr>
                                </thead>
                            }
                            else
                            {
                                <thead style="background-color: lightblue">
                                    <tr>
                                        <th colspan="2" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("المواد", "Items")</th>
                                        <th colspan="2" style="text-align: center !important; width: 350px; border-left: 1px solid;">@Html.Translate("بيانات أمر الشراء", "Purchase order Info")</th>
                                        <th colspan="3" style="text-align: center; width: 350px;border-left: 1px solid;">@Html.Translate("الكميات", "Quantities")</th>
                                        @if (CActive.ClientNo == 239)
                                        {
                                            <th colspan="14" style="text-align: center; width: 350px;">@Html.Translate("بيانات الشحنات", "Shipments Data")</th>
                                        }
                                        else
                                        {
                                            <th colspan="1" style="text-align: center; width: 350px;">@Html.Translate("الفروقات", "Differences")</th>
                                        }
                                        <th></th>
                                    </tr>
                                </thead>
                            }
                                 
                                 <thead>
                                   <tr>
                                       <th class="second-col">@Html.Recource(44)</th>
                                       <th class="third-col" style="border-left: 1px solid;">@Html.Recource(74)</th>
                                       <th style="width: 600px;">@Html.Recource(67)</th>
                                       
                                       @if (compMF.UseQty2 == true)
                                       {
                                           if (CActive.ClientNo == 335)
                                           {
                                               <th style="width: 165px;">@Html.Recource(5693)</th>
                                               <th style="width: 165px;border-left: 1px solid;">@Html.Recource(442)</th>
                                           }
                                           else
                                           {
                                              <th style="width: 165px;">@Html.Recource(49)</th>
                                              <th style="width: 165px;border-left: 1px solid;">@Html.Recource(72)</th>
                                           }
                                       }
                                       else
                                       {
                                           if (CActive.ClientNo == 335)
                                           {
                                            <th style="width: 165px;border-left: 1px solid;">@Html.Recource(5693)</th>
                                            <th style="width: 165px;border-left: 1px solid;" hidden>@Html.Recource(442)</th>
                                           }
                                           else
                                           {
                                            <th style="width: 165px;border-left: 1px solid;">@Html.Recource(49)</th>
                                            <th style="width: 165px;border-left: 1px solid;" hidden>@Html.Recource(72)</th>
                                           }
                                       }
                                       <th style="width: 90px !important; text-align: center !important;">@Html.Recource(5432)</th>
                                       <th style="width: 90px !important; text-align: center !important;">@Html.Recource(243)</th>
                                      
                                       @if (compMF.UseQty2 == true)
                                       {
                                           if (CActive.ClientNo == 335)
                                           {
                                               <th style="width: 165px;">@Html.Recource(5693)</th>
                                               <th style="width: 165px;border-left: 1px solid;">@Html.Recource(442)</th>
                                           }
                                           else
                                           {
                                               <th style="width: 165px;">@Html.Recource(49)</th>
                                               <th style="width: 165px;border-left: 1px solid;">@Html.Recource(72)</th>
                                           }
                                       }
                                       else
                                       {
                                           if (CActive.ClientNo == 335)
                                           {
                                            <th style="width: 165px;border-left: 1px solid;">@Html.Recource(5693)</th>
                                            <th style="width: 165px;border-left: 1px solid;" hidden>@Html.Recource(442)</th>
                                           }
                                           else
                                           {
                                            <th style="width: 165px;border-left: 1px solid;">@Html.Recource(49)</th>
                                            <th style="width: 165px;border-left: 1px solid;" hidden>@Html.Recource(72)</th>
                                           }
                                       }
                                       @if (CActive.ClientNo == 239)
                                       {
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("تاريخ الوصول المتوقع", "ETA")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("متطلبات الفحص", "Receiving Inspection Requirements")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("فاتورة المورد", "Supplier Invoice Number")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("القيمة", "Amount")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("العملة", "Currency")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("تاريخ الشحن", "Shipping Date")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("الغذاء والدواء", "JFDA")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("تاريخ العينة", "Sample Date")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("تاريخ الموافقة", "JFDA Approval Date")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("البيان الجمركي", "Declaration")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("تاريخ الوصول الفعلي", "Actual Arrival Date")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("رقم البوليصة", "AWB/ BL")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("الناقل", "Transporter")</th>
                                           <th style="text-align: center !important; width: 165px;">@Html.Translate("فاتورة الناقل", "Transportation Invoice")</th>

                                       }
                                       else
                                       {
                                        <th style="text-align: center !important; width: 165px;">@Html.Translate("فرق 1", "difference 1")</th>
                                            if (compMF.UseQty2 == true)
                                            {
                                                <th style="text-align: center !important; width: 165px;">@Html.Translate("فرق 2", "difference 2")</th>
                                            }
                                            else
                                            {
                                                <th style="text-align: center !important; width: 165px;" hidden>@Html.Translate("فرق 2", "difference 2")</th>
                                            }
                                       }
                                      
                                       <th></th>
                                   </tr>
                                 </thead>
                                 <tfoot>
                                    <tr>
                                        <th style="text-align: center; border-left: 1px solid;" colspan="2">@Html.Translate("الاجمالي", "Total")</th>
                                        <th></th>
                                        @if (compMF.UseQty2 == true)
                                        {
                                            <th style="text-align:center;" id="TotalShipmentPOQty1_@srl">0</th>
                                            <th style="text-align: center; border-left: 1px solid;" id="TotalShipmentPOQty2_@srl">0</th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center; border-left: 1px solid;" id="TotalShipmentPOQty1_@srl">0</th>
                                            <th hidden id="TotalShipmentPOQty2_@srl">0</th>
                                        }
                                        <th style="text-align: center;" id="TotalShipmentReservedQty_@srl">0</th>
                                        <th style="text-align: center;" id="TotalShipmentRemainingQty_@srl">0</th>
                                        @if (compMF.UseQty2 == true)
                                        {
                                            <th style="text-align:center;" id="TotalShipmentQty1_@srl">0</th>
                                            <th style="text-align: center; border-left: 1px solid;" id="TotalShipmentQty2_@srl">0</th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center; border-left: 1px solid;" id="TotalShipmentQty1_@srl">0</th>
                                            <th hidden id="TotalShipmentQty2_@srl">0</th>
                                        }
                                        @if (CActive.ClientNo == 239)
                                        {
                                            <th colspan="14"></th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center !important;" id="TotalShipmentDifferenceQty1_@srl">0</th>
                                            if (compMF.UseQty2 == true)
                                            {
                                                <th style="text-align: center !important;" id="TotalShipmentDifferenceQty2_@srl">0</th>
                                            }
                                            else
                                            {
                                                <th style="text-align: center !important;" id="TotalShipmentDifferenceQty2_@srl" hidden>0</th>
                                            }
                                        }
                                        <th></th>
                                    </tr>
                                </tfoot>
                                 <tbody style="text-align: center;" id="ShipmentsInfoDFTBody_@srl">
                                      @foreach (OrderDF DF in OrdDF)
                                      {
                                          double ResQty = 0;
                                          {
                                              using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
                                              {
                                                  Dt = new DataTable();
                                                  cn.Open();
                                                  using (SqlCommand cmd = new SqlCommand())
                                                  {
                                                      cmd.Connection = cn;
                                                      cmd.CommandType = System.Data.CommandType.StoredProcedure;
                                                      cmd.CommandText = "Ord_GetItemUnitCost";
                                                      cmd.Parameters.Add(new SqlParameter("@CompNo", System.Data.SqlDbType.SmallInt)).Value = company.comp_num;
                                                      cmd.Parameters.Add(new SqlParameter("@ItemNo", System.Data.SqlDbType.VarChar, 20)).Value = DF.ItemNo;
                                                      cmd.Parameters.Add(new SqlParameter("@UnitSerial", System.Data.SqlDbType.SmallInt, 4)).Value = DF.UnitSerial.Value;
                                                      using (SqlDataAdapter DA = new SqlDataAdapter(cmd))
                                                      {
                                                          DA.Fill(Dt);
                                                      }
                                                  }
                                              }
                                              foreach (DataRow row in Dt.Rows)
                                              {
                                                  ResQty = Convert.ToDouble(row["ResQty"]);
                                              }
                                          }
                                          int counts = new MDB().Ord_OrderShippingDF.Where(x => x.CompNo == company.comp_num && x.OrderYear == DF.OrdYear && x.OrderNo == DF.OrderNo && x.TawreedNo == DF.TawreedNo && x.ItemNo == DF.ItemNo).Count();
                                          double RemainingQty;
                                          if (counts == 0)
                                          {
                                              RemainingQty = 0;
                                          }
                                          else
                                          {
                                              RemainingQty = new MDB().Ord_OrderShippingDF.Where(x => x.CompNo == company.comp_num && x.OrderYear == DF.OrdYear && x.OrderNo == DF.OrderNo && x.TawreedNo == DF.TawreedNo && x.ItemNo == DF.ItemNo).Sum(o => o.ShippingQty).Value;
                                          }
                                          RemainingQty = DF.Qty.Value - RemainingQty;
                                          string ItemDesc = Mf.Where(x => x.ItemNo == DF.ItemNo).Select(O => Html.Translate(O.ItemDesc, O.ItemDesc_Ara)).FirstOrDefault().ToString();
                                          string UnitSerial = DF.UnitSerial.Value.ToString();
                                          <tr style="height: 25px;" id="ShipmentsInfo_@Srial">
                                              <td class="second-col" style="text-align: center !important; word-wrap: break-word; white-space: normal;" id="ShipmentsInfo_ItemNo">@DF.ItemNo</td>
                                              <td class="third-col" style="text-align: center !important; word-wrap: break-word; white-space: normal;border-left: 1px solid;" id="PurchOrdDF_ItemDesc">@ItemDesc</td>
                                              <td style="text-align: center;">
                                                  <select class="ShipmentsInfo_ItemNo_Unit">
                                                      @{
                                                          using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
                                                          {
                                                              Dt = new DataTable();
                                                              cn.Open();
                                                              using (SqlCommand cmd = new SqlCommand())
                                                              {
                                                                  cmd.Connection = cn;
                                                                  cmd.CommandType = System.Data.CommandType.StoredProcedure;
                                                                  cmd.CommandText = "InvT_LoadItemUnits";
                                                                  cmd.Parameters.Add(new SqlParameter("@CompNo", System.Data.SqlDbType.SmallInt)).Value = company.comp_num;
                                                                  cmd.Parameters.Add(new SqlParameter("@ItemCode", System.Data.SqlDbType.VarChar, 20)).Value = DF.ItemNo;
                                                                  using (SqlDataAdapter DA = new SqlDataAdapter(cmd))
                                                                  {
                                                                      DA.Fill(Dt);
                                                                  }
                                                              }
                                                          }
                                                      }
                                                      @foreach (DataRow row in Dt.Rows)
                                                      {
                                                          if (UnitSerial == row["UnitSerial"].ToString())
                                                          {
                                                              <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()" selected>
                                                                  @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                              </option>
                                                          }
                                                          else
                                                          {
                                                              <option value="@row["UnitSerial"].ToString()" unitCode="@row["UnitCode"].ToString()">
                                                                  @Html.Translate(row["UnitName"].ToString(), row["UnitNameEng"].ToString())
                                                              </option>
                                                          }
                                                      }
                                                  </select>
                                              </td>
                                              @if (compMF.UseQty2 == true)
                                              {
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfoPO_Qty_@Srial" value="@DF.Qty" type="number" style="width:75px !important" disabled />
                                                </td>
                                                  <td style="text-align:center !important;border-left: 1px solid;">
                                                      <input id="ShipmentsInfoPO_Qty2_@Srial" value="@DF.Qty2" type="number" style="width:75px !important"  disabled />
                                                  </td>
                                              }
                                              else
                                              {
                                                <td style="text-align:center !important;border-left: 1px solid;">
                                                    <input id="ShipmentsInfoPO_Qty_@Srial" value="@DF.Qty" type="number" style="width:75px !important" disabled />
                                                </td>
                                                  <td style="text-align:center !important;border-left: 1px solid;" hidden>
                                                      <input id="ShipmentsInfoPO_Qty2_@Srial" value="@DF.Qty2" type="number" style="width:75px !important" disabled />
                                                  </td>
                                              }
                                              <td style="text-align:center !important">
                                                  <input id="ShipmentsInfo_ReservedQty_@Srial" value="@ResQty.ToString("0.000")" type="number" style="width:75px !important" disabled />
                                              </td>
                                              <td style="text-align:center !important">
                                                  <input id="ShipmentsInfo_RemainingQty_@Srial" value="@RemainingQty" type="number" style="width:75px !important" disabled />
                                              </td>
                                              
                                              @if (compMF.UseQty2 == true)
                                              {
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_Qty_@Srial" value="0" type="number" style="width:75px !important" onblur="CheckValueQty(this,@srl)" />
                                                </td>
                                                  <td style="text-align:center !important;border-left: 1px solid;">
                                                      <input id="ShipmentsInfo_Qty2_@Srial" value="0" type="number" style="width:75px !important" onblur="CheckValueQty2(this,@srl)" />
                                                  </td>
                                              }
                                              else
                                              {
                                                <td style="text-align:center !important;border-left: 1px solid;">
                                                    <input id="ShipmentsInfo_Qty_@Srial" value="0" type="number" style="width:75px !important" onblur="CheckValueQty(this,@srl)" />
                                                </td>
                                                  <td style="text-align:center !important;border-left: 1px solid;" hidden>
                                                      <input id="ShipmentsInfo_Qty2_@Srial" value="0" type="number" style="width:75px !important" onblur="CheckValueQty2(this,@srl)" />
                                                  </td>
                                              }
                                              @if (CActive.ClientNo == 239)
                                              {
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_ETA_@Srial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align:center !important">
                                                    <label class="unselectable" for="ShipmentsInfo_Marketing_@Srial">
                                                        <input name="ShipmentsInfo_Marketing" type="checkbox" id="ShipmentsInfo_Marketing_@Srial" />
                                                        @Html.Translate("تسويق", "Marketing")
                                                    </label>
                                                    <label class="unselectable" for="ShipmentsInfo_tqm_@Srial">
                                                        <input name="ShipmentsInfo_tqm" type="checkbox" id="ShipmentsInfo_tqm_@Srial" />
                                                        @Html.Translate("tqm", "tqm")
                                                    </label>
                                                    <label class="unselectable" for="ShipmentsInfo_QualityControl_@Srial">
                                                        <input name="ShipmentsInfo_QualityControl" type="checkbox" id="ShipmentsInfo_QualityControl_@Srial" />
                                                        @Html.Translate("فحص الجودة", "Quality Control")
                                                    </label>
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_SupplierInvoiceNo_@Srial" value="" type="text" style="width: 105px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_Amount_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" />
                                                </td>
                                                <td style="text-align: center;">
                                                  <select class="ShipmentsInfo_Currency">
                                                     @foreach (var v in Currency)
                                                     {
                                                            <option value="@v.Id">@Html.Translate(v.DescAr, v.DescEn)</option>
                                                     }
                                                  </select>
                                              </td>
                                            <td style="text-align:center !important">
                                                <input id="ShipmentsInfo_ShippingDate_@Srial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" style="width: 105px !important; text-align: center;" />
                                            </td>
                                            <td style="text-align: center;">
                                                <select class="ShipmentsInfo_JFDA">
                                                    <option value="0">@Html.Translate("موافق", "Approved")</option>
                                                    <option value="1">@Html.Translate("قيد الانتظار", "Pending")</option>
                                                    <option value="2">@Html.Translate("مرفوض", "Rejected")</option>
                                                </select>
                                            </td>
                                            <td style="text-align:center !important">
                                                <input id="ShipmentsInfo_SampleDate_@Srial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" style="width: 105px !important; text-align: center;" />
                                            </td>
                                            <td style="text-align:center !important">
                                                <input id="ShipmentsInfo_JFDAApprovalDate_@Srial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" style="width: 105px !important; text-align: center;" />
                                            </td>
                                            <td style="text-align:center !important">
                                                <input id="ShipmentsInfo_Declaration_@Srial" value="" type="text" style="width: 105px !important; text-align: center;" />
                                            </td>
                                            <td style="text-align:center !important">
                                                <input id="ShipmentsInfo_ActualArrivalDate_@Srial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" style="width: 105px !important; text-align: center;" />
                                            </td>
                                            <td style="text-align:center !important">
                                                <input id="ShipmentsInfo_AWBBL_@Srial" value="" type="text" style="width: 105px !important; text-align: center;" />
                                            </td>
                                            <td style="text-align:center !important">
                                                <input id="ShipmentsInfo_Transporter_@Srial" value="" type="text" style="width: 105px !important; text-align: center;" />
                                            </td>
                                            <td style="text-align:center !important">
                                                <input id="ShipmentsInfo_TransporterInvoice_@Srial" value="" type="text" style="width: 105px !important; text-align: center;" />
                                            </td>
                                              }
                                              else
                                              {
                                                <td style="text-align:center !important">
                                                    <input id="ShipmentsInfo_Difference1_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                                </td>
                                                  if (compMF.UseQty2 == true)
                                                  {
                                                    <td style="text-align:center !important">
                                                        <input id="ShipmentsInfo_Difference2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                                    </td>
                                                  }
                                                  else
                                                  {
                                                    <td style="text-align:center !important" hidden>
                                                        <input id="ShipmentsInfo_Difference2_@Srial" value="0" type="number" style="width: 75px !important; text-align: center;" disabled />
                                                    </td>
                                                  }
                                              }
                                              <td>
                                                  <input type="hidden" id="InputSerial" value="@(Srial++)" />
                                              </td>
                                          </tr>
                                                          }
                                  </tbody>
                           }
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="ExcuteSaveMRP_ShipmentsInfo(@srl)" class="btn btn-primary">@Resources.Resource.Save</button>
        </div>
    </div>
</div>

@*-----------------------------Model Documents-------------------------------------*@
<div class="modal fade" id="Model_ShipmentsInfo_DocumentsArchive">
    <div class="modal-dialog" style="width:800px; ">
        <form class="modal-content">
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <label class="modal-title">@Html.Translate("أرشفة الوثائق", "Archive Documents")</label>
            </div>
            <div class="modal-body row">
                <div class="form-group">
                    <div class="col-md-12">
                        <button onclick="Add_ShipmentsInfo_DocumentArchive()" type="button" class="btn btn-primary">@Html.Recource(32)</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="overflow-y:auto">
                        <table class="table table-hover" id="Ord_ShipmentsInfo_DocumentArchiveTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center !important">@Html.Recource(66)</th>
                                    <th style="text-align: center !important">@Html.Recource(5628)</th>
                                    <th></th>
                                    <th style="text-align: center !important">@Html.Recource(5629)</th>
                                    <th style="text-align: center !important">@Html.Recource(5630)</th>
                                    <th style="text-align: center !important">@Html.Recource(5631)</th>
                                    <th style="text-align: center !important">@Html.Recource(5632)</th>
                                    <th style="text-align: center !important">@Html.Recource(5633)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="Ord_ShipmentsInfo_DocumentArchiveTbody" style="border-top: 1px solid #ddd;"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="SaveShipmentsInfoDocumentArchive()" class="btn btn-primary">@Resources.Resource.Save</button>
            </div>
        </form>
    </div>
</div>
s
<script>
    var Count = 0;
    $('#Model_ShipmentsInfo_DocumentsArchive').draggable({
        handle: ".modal-header",
    });
    function AddDocuments() {
        $('#Model_ShipmentsInfo_DocumentsArchive').modal('show');
    }
    function Add_ShipmentsInfo_DocumentArchive() {
        var table = $("#Ord_ShipmentsInfo_DocumentArchiveTbody");
        Count++;
        var newarray = [];
        newarray.push('<input id="Ord_ShipmentsInfo_DocumentArchive_FileId" type="hidden" value="' + Count + '" />')
        newarray.push('<input id="Ord_ShipmentsInfo_DocumentArchive_Description_' + Count + '" type="text" style="width: 115px !important;text-align: center !important" />')
        newarray.push('<div class="image-upload"><label for="file-input"><span class="glyphicon glyphicon-upload" onclick="OpenFileUpload(this)"></span></label><input type="file" name="uploadFile_7" style="display:none" id="Ord_ShipmentsInfo_DocumentArchive_File_' + Count + '" onchange="uploadFile(this,' + Count + ')" /></div>')
        newarray.push('')
        newarray.push('<a id="Ord_ShipmentsInfo_DownloadFile_' + Count + '" onclick="DownloadFile()"><span class="glyphicon glyphicon-download"></span></a>')
        newarray.push('<input id="Ord_ShipmentsInfo_DocumentArchive_FileName_' + Count + '" type="text" style="text-align: center !important" disabled />')
        newarray.push('<input id="Ord_ShipmentsInfo_DocumentArchive_UploadDate_' + Count + '" type="text" style="width: 95px;text-align: center !important" disabled />')
        newarray.push('<input id="Ord_ShipmentsInfo_DocumentArchive_FileSize_' + Count + '" type="text" style="width: 70px;text-align: center !important" disabled />')
        newarray.push('<input id="Ord_ShipmentsInfo_DocumentArchive_FileType_' + Count + '" type="text" style="width: 55px;text-align: center !important" disabled />')
        newarray.push('<button class="btn-de" onclick="RemoveRowUpload(this,' + Count + ')" type="button"><i class= "fa fa-trash-alt"></i ></button>')
        $(table).append(
            GenRowDocumentArchive(newarray, 'Ord_ShipmentsInfo_DocumentArchive_' + Count)
        );
    }
    function GenRowDocumentArchive(tds, Id) {
        var row = '';
        row = '<tr Id = ' + Id + '>';
        for (var i = 0; i < tds.length; i++) {
            row += '<td>' + tds[i] + '</td>'
        }
        row += '</tr>'
        return row;
    }
    function OpenFileUpload(ID) {
        debugger
        var $td = $(ID).closest("td");
        $($td).find("input[type=file]").click();
    }
    function uploadFile(Elem, Count) {
        var uploadDate = new Date($.now());
        var shortDate = moment(uploadDate).format('DD/MM/YYYY');
        var InputID = $(Elem).attr("id");
        var file_size = $(Elem)[0].files[0].size;

        var table = $("#Ord_ShipmentsInfo_DocumentArchiveTbody");
        var tr = table.find('#Ord_ShipmentsInfo_DocumentArchive_' + Count);

        var fileName = tr.find("#Ord_ShipmentsInfo_DocumentArchive_File_" + Count).val().replace(/C:\\fakepath\\/i, '');
        var filetype = fileName.split('.').pop();

        tr.find('#Ord_ShipmentsInfo_DocumentArchive_FileName_' + Count)[0].value = fileName;
        tr.find('#Ord_ShipmentsInfo_DocumentArchive_UploadDate_' + Count)[0].value = shortDate;
        tr.find('#Ord_ShipmentsInfo_DocumentArchive_FileSize_' + Count)[0].value = file_size;
        tr.find('#Ord_ShipmentsInfo_DocumentArchive_FileType_' + Count)[0].value = "." + filetype;

        var $file = document.getElementById(InputID);
        $formData = new FormData();
        if ($file.files.length > 0) {
            for (var i = 0; i < $file.files.length; i++) {
                $formData.append('file-' + i, $file.files[i]);
            }

            $formData.append('Id', Count);
            $formData.append('OrderYear', @OrdYear);
            $formData.append('OrderNo', @OrderNo);
            $formData.append('TawreedNo', '@TawreedNo');
            $formData.append('ShipSer', '@ShipSer');
        }

        $.ajax({
            url: '@Url.Action("InsertFile", "ShipmentsInfo")',
            type: 'POST',
            data: $formData,
            contentType: false,
            processData: false,
            success: function (r) {
                var table = $("#Ord_ShipmentsInfo_DocumentArchiveTbody");
                var tr = table.find('#Ord_ShipmentsInfo_DocumentArchive_' + Count);
                tr.find('#Ord_ShipmentsInfo_DownloadFile_' + Count)[0].setAttribute('onclick', 'DownloadFile("' + fileName + '","' + r + '")')
            },
            error: function (error) {
            }
        });
    }
    function RemoveRowUpload(e, Count) {
        if (confirm('@Resources.Resource.DeleteConfirm')) {
            var p = e.parentNode.parentNode;
            p.parentNode.parentNode.deleteRow(p.rowIndex);

            $.ajax({
                type: "POST",
                url:'@Url.Action("RemoveFile", "ShipmentsInfo")',
                data: { Id: Count, OrderYear: @OrdYear, OrderNo: @OrderNo, TawreedNo: '@TawreedNo', ShipSer: '@ShipSer' },
                success: function (response) {

                },
            });

            return true;
        }
        return false;
    }
    function DownloadFile(FileName, base64) {
        var binaryString = window.atob(base64);
        var binaryLen = binaryString.length;
        var bytes = new Uint8Array(binaryLen);
        for (var i = 0; i < binaryLen; i++) {
            var ascii = binaryString.charCodeAt(i);
            bytes[i] = ascii;
        }
        saveByteArray(FileName, bytes)
    }
    function saveByteArray(reportName, byte) {
        var blob = new Blob([byte], { type: "application/pdf" });
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        var fileName = reportName;
        link.download = fileName;
        link.click();
    }
    function SaveShipmentsInfoDocumentArchive() {
        $('#Model_ShipmentsInfo_DocumentsArchive').modal('hide');
    }
</script>
@*--------------------------------END Model Documents -----------------------------*@



<script>
    $('#MRP_ShipmentsInfo_CboClearanceCompany_' + @srl).select2();
    $('#ShipmentsInfo_Currency').select2();
    function CheckValueQty(e,srl) {
        if (e.value < 0) {
            alert('@Html.Translate("يجب أن تكون الكمية أكبر من صفر", "The Qty Must be Greater Than Zero")');
            e.value = 0;
            e.focus();
        }
        if (e.value == "") {
            e.value = 0;
        }
        SumTotalQty(srl)
    }
    function CheckValueQty2(e, srl) {
        if (e.value < 0) {
            alert('@Html.Translate("يجب أن تكون الكمية 2 أكبر من صفر", "The Qty 2 Must be Greater Than Zero")');
            e.value = 0;
            e.focus();
        }
        if (e.value == "") {
            e.value = 0;
        }
        SumTotalQty(srl)
    }
    SumTotalQty(@srl)
    function SumTotalQty(id) {
        var table = $("#ShipmentsInfoDFTBody_" + id);
        var trs = table.find('tr');

        var TotalShipmentPOQty1 = 0;
        var TotalShipmentPOQty2 = 0;
        var TotalShipmentRemainingQty = 0;

        var TotalShipmentQty1 = 0;
        var TotalShipmentQty2 = 0;
        var TotalDiffQty1 = 0;
        var TotalDiffQty2 = 0;
        var Total1 = 0
        var Total2 = 0

        for (var i = 0; i < trs.length; i++) {
            var InputSerial = $(trs[i]).closest('tr').find('#InputSerial')[0].value
            TotalShipmentPOQty1 += Number($(trs[i]).closest('tr').find('#ShipmentsInfoPO_Qty_' + InputSerial)[0].value);
            TotalShipmentPOQty2 += Number($(trs[i]).closest('tr').find('#ShipmentsInfoPO_Qty2_' + InputSerial)[0].value);
            TotalShipmentRemainingQty += Number($(trs[i]).closest('tr').find('#ShipmentsInfo_RemainingQty_' + InputSerial)[0].value);

            TotalShipmentQty1 += Number($(trs[i]).closest('tr').find('#ShipmentsInfo_Qty_' + InputSerial)[0].value);
            TotalShipmentQty2 += Number($(trs[i]).closest('tr').find('#ShipmentsInfo_Qty2_' + InputSerial)[0].value);

            TotalDiffQty1 = Number($(trs[i]).closest('tr').find('#ShipmentsInfoPO_Qty_' + InputSerial)[0].value) - Number($(trs[i]).closest('tr').find('#ShipmentsInfo_Qty_' + InputSerial)[0].value);
            TotalDiffQty2 = Number($(trs[i]).closest('tr').find('#ShipmentsInfoPO_Qty2_' + InputSerial)[0].value) - Number($(trs[i]).closest('tr').find('#ShipmentsInfo_Qty2_' + InputSerial)[0].value);
            if(@CActive.ClientNo != 239){
                $(trs[i]).closest('tr').find('#ShipmentsInfo_Difference1_' + InputSerial)[0].value = Number(TotalDiffQty1);
                $(trs[i]).closest('tr').find('#ShipmentsInfo_Difference2_' + InputSerial)[0].value = Number(TotalDiffQty2);
            }

            Total1 = Number(Total1) + Number(TotalDiffQty1);
            Total2 = Number(Total2) + Number(TotalDiffQty2);
        }

        $('#TotalShipmentPOQty1_' + id).html(Number(TotalShipmentPOQty1));
        $('#TotalShipmentPOQty2_' + id).html(Number(TotalShipmentPOQty2));
        $('#TotalShipmentRemainingQty_' + id).html(Number(TotalShipmentRemainingQty));
        $('#TotalShipmentQty1_' + id).html(Number(TotalShipmentQty1));
        $('#TotalShipmentQty2_' + id).html(Number(TotalShipmentQty2));
        $('#TotalShipmentDifferenceQty1_' + id).html(Number(Total1));
        $('#TotalShipmentDifferenceQty2_' + id).html(Number(Total2));
    }
    function CheckValueGrid(NotEqualZero, Amt) {
        if (NotEqualZero == '1') {
            if (Amt == '' || Amt == null || Amt == 0) {
                return true;
            }
            else {
                return false;
            }
            return false;
        }
        else {
            if (Amt == '' || Amt == null) {
                return true;
            }
            else {
                return false;
            }
            return false;
        }
    }
    function ExcuteSaveMRP_ShipmentsInfo(id) {
        var table = $("#ShipmentsInfoDFTBody_" + id);

        var trs = table.find('tr');
        var OrderShippingHF = {
            CompNo: '@company.comp_num',
            OrderYear: $('#MRP_ShipmentsInfo_OrdYear_' + id).val(),
            OrderNo: $('#MRP_ShipmentsInfo_OrderNo_' + id).val(),
            TawreedNo: $('#MRP_ShipmentsInfo_TawreedNo_' +id).val(),
            ShipSer: $('#MRP_ShipmentsInfo_ShipSer_' + id).val(),
            ShippingDate: $('#MRP_ShipmentsInfo_ShippingDate_' + id).val(),
            ArrivalDate: $('#MRP_ShipmentsInfo_ArrivalDate_' + id).val(),
            ShippingPolicyNo: $('#MRP_ShipmentsInfo_ShippingPolicyNo_' + id).val(),
            ClearanceInvNo: $('#MRP_ShipmentsInfo_ClearanceInvNo_' +id).val(),
            ClearanceCompany: $('#MRP_ShipmentsInfo_CboClearanceCompany_' + id).val(),
            Transporter: $('#MRP_ShipmentsInfo_Transporter_' + id).val(),
            TransportInvNo: $('#MRP_ShipmentsInfo_TransportInvNo_' + id).val(),
            ShippingNotes: $('#MRP_ShipmentsInfo_ShippingNotes_' + id).val(),
        }

        var OrderShippingDF = new Array();
        for (var i = 0; i < trs.length; i++) {
            var InputSerial = $(trs[i]).closest('tr').find('#InputSerial')[0].value
            if ($(trs[i]).closest('tr').find('#ShipmentsInfo_Qty_' + InputSerial)[0].value > 0) {
                if(@CActive.ClientNo == 239) {
                    OrderShippingDF.push({
                        CompNo: '@company.comp_num',
                        OrderYear: $('#MRP_ShipmentsInfo_OrdYear_' + id).val(),
                        OrderNo: $('#MRP_ShipmentsInfo_OrderNo_' + id).val(),
                        TawreedNo: $('#MRP_ShipmentsInfo_TawreedNo_' + id).val(),
                        ShipSer: $('#MRP_ShipmentsInfo_ShipSer_' + id).val(),
                        ItemNo: $(trs[i]).closest('tr').find('#ShipmentsInfo_ItemNo')[0].innerHTML,
                        ShippingQty: $(trs[i]).closest('tr').find('#ShipmentsInfo_Qty_' + InputSerial)[0].value,
                        Qty2: $(trs[i]).closest('tr').find('#ShipmentsInfo_Qty2_' + InputSerial)[0].value,
                        TUnit: $(trs[i]).closest('tr').find('.ShipmentsInfo_ItemNo_Unit option:Selected')[0].getAttribute('unitCode'),
                        UnitSerial: $(trs[i]).closest('tr').find('.ShipmentsInfo_ItemNo_Unit')[0].value,
                        ETA: $(trs[i]).closest('tr').find('#ShipmentsInfo_ETA_' + InputSerial)[0].value,
                        Marketing: $(trs[i]).closest('tr').find('#ShipmentsInfo_Marketing_' + InputSerial)[0].checked,
                        tqm: $(trs[i]).closest('tr').find('#ShipmentsInfo_tqm_' + InputSerial)[0].checked,
                        QualityControl: $(trs[i]).closest('tr').find('#ShipmentsInfo_QualityControl_' + InputSerial)[0].checked,
                        SupplierInvoiceNo: $(trs[i]).closest('tr').find('#ShipmentsInfo_SupplierInvoiceNo_' + InputSerial)[0].value,
                        Amount: $(trs[i]).closest('tr').find('#ShipmentsInfo_Amount_' + InputSerial)[0].value,
                        CurrCode: $(trs[i]).closest('tr').find('.ShipmentsInfo_Currency')[0].value,
                        ShippingDate: $(trs[i]).closest('tr').find('#ShipmentsInfo_ShippingDate_' + InputSerial)[0].value,
                        JFDA: $(trs[i]).closest('tr').find('.ShipmentsInfo_JFDA')[0].value,
                        SampleDate: $(trs[i]).closest('tr').find('#ShipmentsInfo_SampleDate_' + InputSerial)[0].value,
                        JFDAApprovalDate: $(trs[i]).closest('tr').find('#ShipmentsInfo_JFDAApprovalDate_' + InputSerial)[0].value,
                        Declaration: $(trs[i]).closest('tr').find('#ShipmentsInfo_Declaration_' + InputSerial)[0].value,
                        ActualArrivalDate: $(trs[i]).closest('tr').find('#ShipmentsInfo_ActualArrivalDate_' + InputSerial)[0].value,
                        AWBBL: $(trs[i]).closest('tr').find('#ShipmentsInfo_AWBBL_' + InputSerial)[0].value,
                        Transporter: $(trs[i]).closest('tr').find('#ShipmentsInfo_Transporter_' + InputSerial)[0].value,
                        TransporterInvoice: $(trs[i]).closest('tr').find('#ShipmentsInfo_TransporterInvoice_' + InputSerial)[0].value
                    })
                }
                else{
                    OrderShippingDF.push({
                        CompNo: '@company.comp_num',
                        OrderYear: $('#MRP_ShipmentsInfo_OrdYear_' + id).val(),
                        OrderNo: $('#MRP_ShipmentsInfo_OrderNo_' + id).val(),
                        TawreedNo: $('#MRP_ShipmentsInfo_TawreedNo_' + id).val(),
                        ShipSer: $('#MRP_ShipmentsInfo_ShipSer_' + id).val(),
                        ItemNo: $(trs[i]).closest('tr').find('#ShipmentsInfo_ItemNo')[0].innerHTML,
                        ShippingQty: $(trs[i]).closest('tr').find('#ShipmentsInfo_Qty_' + InputSerial)[0].value,
                        Qty2: $(trs[i]).closest('tr').find('#ShipmentsInfo_Qty2_' + InputSerial)[0].value,
                        TUnit: $(trs[i]).closest('tr').find('.ShipmentsInfo_ItemNo_Unit option:Selected')[0].getAttribute('unitCode'),
                        UnitSerial: $(trs[i]).closest('tr').find('.ShipmentsInfo_ItemNo_Unit')[0].value,
                        ETA: '@DateTime.Now.ToShortDateString()',
                        Marketing: false,
                        tqm: false,
                        QualityControl: false,
                        SupplierInvoiceNo: '',
                        Amount: 0,
                        CurrCode: 0,
                        ShippingDate: '@DateTime.Now.ToShortDateString()',
                        JFDA: 0,
                        SampleDate: '@DateTime.Now.ToShortDateString()',
                        JFDAApprovalDate: '@DateTime.Now.ToShortDateString()',
                        Declaration: '',
                        ActualArrivalDate: '@DateTime.Now.ToShortDateString()',
                        AWBBL: '',
                        Transporter: '',
                        TransporterInvoice: ''
                    })
                }
            }
        }



        if (OrderShippingDF.length == 0) {
            alert('@Html.Translate("يجب إدخال كمية لمادة واحده على الاقل", "A quantity must be entered for at least one substance")');
            return false;
        }


        var DocumentArchivetable = $("#Ord_ShipmentsInfo_DocumentArchiveTbody");
        var trsDocumentArchive = DocumentArchivetable.find('tr');

        var DocumentArchive = new Array();

        for (var i = 0; i < trsDocumentArchive.length; i++) {
            var InputSerial = $(trsDocumentArchive[i]).closest('tr').find('#Ord_ShipmentsInfo_DocumentArchive_FileId')[0].value;
            DocumentArchive.push({
                OrderYear: @OrdYear,
                OrderNo: @OrderNo,
                TawreedNo: '@TawreedNo',
                ShipSer: '@ShipSer',
                FileId: InputSerial,
                Description: $(trsDocumentArchive[i]).closest('tr').find('#Ord_ShipmentsInfo_DocumentArchive_Description_' + InputSerial)[0].value,
                DateUploded: $(trsDocumentArchive[i]).closest('tr').find('#Ord_ShipmentsInfo_DocumentArchive_UploadDate_' + InputSerial)[0].value,
                ContentType: $(trsDocumentArchive[i]).closest('tr').find('#Ord_ShipmentsInfo_DocumentArchive_FileType_' + InputSerial)[0].value
            })
        }

        wait();
        burn({ OrderShippingHF: OrderShippingHF, OrderShippingDF: OrderShippingDF, FileArchive: DocumentArchive }, '../../../ShipmentsInfo/Save_ShipmentsInfo', '', ReloadShipmentsInfo, false);
    }
    function ReloadShipmentsInfo(r) {
        done();
        MsgBox('@Html.Recource(475)', 'green');
        $('#ShipmentsInfoTBody').empty();
        var TawreedNo = r.TawreedNo;
        CloseWindow('/ShipmentsInfo/AddShipments?OrdYear=' + r.OrdYear + '&OrderNo=' + r.OrdNo + '&TawreedNo=' + TawreedNo + '')
        var table = $("#PurchaseOrderInfoTable tbody");
        var trs = table.find('tr');
        for (var i = 0; i < trs.length; i++) {
            if ($(trs[i])[0].getAttribute('OrdYear') == r.OrdYear && $(trs[i])[0].getAttribute('OrderNo') == r.OrdNo && $(trs[i])[0].getAttribute('TawreedNo') == TawreedNo) {
                var nTr = $(trs[i])[0];
                wait();
                $(this).attr("opened", "details_close");
                var OrdYear = $(trs[i])[0].getAttribute('OrdYear');
                var OrderNo = $(trs[i])[0].getAttribute('OrderNo');
                var TawreedNo = $(trs[i])[0].getAttribute('TawreedNo');

                $.get("../../../../ShipmentsInfo/DetailsShipmentsInfo?OrdYear=" + OrdYear + '&OrderNo=' + OrderNo + '&TawreedNo=' + TawreedNo, function (data) {
                    PurchOrdTable.fnOpen(nTr, data, 'details');
                    done();
                });
            }
        }
    }
</script>