@using System.Data.SqlClient;
@using AlphaERP.Models

@{
    int OrdYear = ViewBag.OrdYear;
    int OrderNo = ViewBag.OrderNo;
    string TawreedNo = ViewBag.TawreedNo;
    string ShipSer = ViewBag.ShipSer;
    string srl = ViewBag.srl;
    User me = (User)Session["me"];
    Company company = (Company)Session["company"];

    List<Ord_WeightChangeRate> lWeightChangeRate = new MDB().Ord_WeightChangeRate.Where(x => x.CompNo == company.comp_num && x.OrderYear == OrdYear && x.OrderNo == OrderNo && x.TawreedNo == TawreedNo && x.ShipSer == ShipSer).ToList();

    int Srial = 1;
}


<style>
    tr.details {
        max-height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    tr.details {
        background-color: gray !important;
        border-style: solid !important;
    }
</style>

<div id="OrdWeightChangeRateTable_@srl">
    <div style="width: 100%; padding: 1px; background: #fff !important ">
        <table class="table table-hover" id="OrdWeightChangeRateTable_@srl" style="background:lightgray;width:100%">
            <thead>
                <tr>
                    <th style="word-wrap: break-word; white-space: normal; width: 10%; text-align: center;">@Html.Recource(1871)</th>
                    <th style="word-wrap: break-word; white-space: normal; width: 10%; text-align: center;">@Html.Recource(718)</th>
                    <th style="width: 10%; text-align: center;">@Html.Translate("معدل زيادة الوزن", "Weight Rate")</th>
                    <th style="width: 15%; text-align: center;">@Html.Recource(70)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ord_WeightChangeRate item in lWeightChangeRate)
                {
                <tr id="WeightRate_@Srial">
                    <td style="word-wrap: break-word; white-space: normal; width: 10%; text-align: center;" id="WeightRate_RecNo_@Srial">@item.Ser</td>
                    <td style="word-wrap: break-word; white-space: normal; width: 10%; text-align: center;" id="WeightRate_ReceiptDate_@Srial">@item.WeightRateDate.Value.ToString("yyyy-MM-dd")</td>
                    <td style="width: 15%; text-align: center; word-wrap: break-word; white-space: normal; " id="ShipmentsInfo_Vendor_@Srial">@item.WeightRate</td>
                    <td style="width: 15%; text-align: center; word-wrap: break-word; white-space: normal;" id="ShipmentsInfo_Stores_@Srial">@item.WeightRateNote</td>
                    <td>
                        <button onclick="EditWeightRate('@item.OrderYear', '@item.OrderNo', '@item.TawreedNo', '@item.ShipSer', '@item.Ser')" type="button" class="btn btn-ed ex" title=" @Html.Translate("تعديل محضر استلام", "Edit Order Receipt")">
                            <i class="fa fa-pencil-alt"></i>
                        </button>
                        <button id="eWeightRate" class="btn btn-primary btn-block" href="" target="_blank" style="display:none;">
                            @Html.Translate("تعديل معدل الوزن", "Edit Weight Rate")
                        </button>
                        <button class="btn-de" onclick="DeleteWeightRate('@item.OrderYear','@item.OrderNo', '@item.TawreedNo','@item.ShipSer','@item.Ser')">
                            <i class="fa fa-trash-alt" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-default ex" title="@Html.Translate("عرض", "View")" href="/WeightChangeRate/ViewWeightChangeRate?OrdYear=@item.OrderYear&OrderNo=@item.OrderNo&TawreedNo=@item.TawreedNo&ShipSer=@item.ShipSer&Ser=@item.Ser" target="_blank">
                            <i style="font-weight:100" class="fa fa-folder"></i>
                            @Html.Translate("عرض", "View")
                        </button>
                        <input type="hidden" id="InputSerial" value="@(Srial++)" />
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function EditWeightRate(OrdYear, OrdNo, TawreedNo, ShipSer, Ser) {
        $('#eWeightRate').attr("href", '/WeightChangeRate/EditWeightChangeRate?OrdYear=' + OrdYear + '&OrderNo=' + OrdNo + '&TawreedNo=' + TawreedNo + '&ShipSer=' + ShipSer + '&Ser=' + Ser +  '')
        $('#eWeightRate').click();
    }
</script>