@using AlphaERP.Models
@model List<AlphaERP.Models.Prod_GetOrderNoteCloseView>
@{ 
    Company company = (Company)Session["company"];
    User me = (User)Session["me"];
    short OrderYear = ViewBag.OrderYear;
    List<ViewWarehouseData> ListData = new MDB().Database.SqlQuery<ViewWarehouseData>("SELECT StoreNo, StoreName, StoreNameEng FROM InvStoresMF WHERE(CompNo = {0}) ORDER BY StoreNo", company.comp_num).ToList();
    int i = 1;
    int StoreNo = ViewBag.StoreNo;
    AlphaERP.Controllers.ProductionOrdersInProgressController.DailyProductionH DailyProdHf = ViewBag.DailyProductionH;
    List<AlphaERP.Controllers.ProductionOrdersInProgressController.ProdCost_GetDailyProduction_web> DailyProdD = ViewBag.DailyProdD;
    int OrderNo = ViewBag.OrderNo;
    bool? IsClosed = ViewBag.IsClosed;
    var Prod_Qty = ViewBag.Prod_Qty;
    var qty_prepare = ViewBag.qty_prepare;
    AlphaERP.Controllers.ProductionOrdersInProgressController.GetLoadStage getbyStage = ViewBag.getbyStage;

    List<AlphaERP.Controllers.ProductionOrdersInProgressController.GetLoadStage> LoadStage = ViewBag.LoadStage;

 }


<div class="form-group">
    <div class="col-md-2">
        <label class="unselectable" for="eProd_ProductionReceiving_Year">@Html.Recource(59) </label>
    </div>
    <div class="col-md-2">
        <input required="true" type="number" id="eProd_ProductionReceiving_Year" min="1999" max="2050" style="width:100%" @(IsClosed == true ? "disabled" : "" ) />
    </div>
    <div class="col-md-1">
        <label class="unselectable" for="eProd_ProductionReceiving_No">@Html.Recource(1222) </label>
    </div>
    <div class="col-md-2" style="margin-bottom: 5px;">
        <input style="width:100%;" type="text" id="eProd_ProductionReceiving_No" value="@DailyProdHf.ReportNo" disabled />
    </div>
    <div class="col-md-1">
        <label class="unselectable" for="eProd_ProductionReceiving_Date">@Html.Recource(58)</label>
    </div>
    <div class="col-md-2">
        <input value="@DailyProdHf.Prod_Date.ToString("yyyy-MM-dd")" type="date" id="eProd_ProductionReceiving_Date" required="true" @(IsClosed == true ? "disabled" : "" ) />
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        <label class="unselectable" for="eProd_ProductionReceiving_OrderYear">@Html.Recource(371) </label>
    </div>
    <div class="col-md-2">
        <input type="number" id="eProd_ProductionReceiving_OrderYear" value="@OrderYear" disabled />
    </div>
    <div class="col-md-1">
        <label class="unselectable" for="eProd_ProductionReceiving_Stages">@Html.Translate("المرحلة","Stage") </label>
    </div>
    <div class="col-md-6">
        <select style="width: 100%" id="eStages" name="eStages" @(IsClosed == true ? "disabled" : "" )>
            <option selected>@Html.Translate("أختار  مرحلة واحدة من القائمة", "Choose one stage from the list")</option>
            @foreach (var item in LoadStage)
            {
                <option value="@item.stage_code" @(Convert.ToInt16(item.stage_code) == DailyProdHf.Prod_stage ? "selected" : "")>@item.stage_desc</option>
            }

        </select>
     </div>

</div>

<div class="form-group">
    <div class="col-md-2">
        <label class="unselectable" for="eProductionReceiving_StoreNo">@Html.Recource(1) </label>
    </div>
    <div class="col-md-2">
        <input style="width: 120% !important;" required="true" type="text" id="eProductionReceiving_StoreNo" value="@StoreNo" disabled />
    </div>
    <div class="col-md-4">
        <input style="width: 288px !important;" required="true" type="text" id="eProductionReceiving_StoreDesc" value="@Html.Recource(31)" disabled />
    </div>
     
</div>
<div class="form-group">

    <div class="col-md-12" style="height:200px;max-height:200px;overflow-y:auto">
        <div class="form-group">

            <div class="col-md-12" style="height:200px;max-height:200px;overflow-y:auto">
                <table class="table table-hover" id="eProductionReceiving_Table">
                    <thead>
                        <tr>
                            <th style="text-align: center !important;width: 10%;">@Html.Translate("التسلسل", "Item Ser")</th>
                            <th style="text-align: center !important; width: 10%;">@Html.Translate("رمز المادة", "Fin Code")</th>
                            <th style="text-align: center !important; width: 45%;">@Html.Translate("وصف المادة", "Item Desc")</th>
                            <th style="text-align: center !important;">@Html.Translate("الوحدة", "TUnit")</th>
                            <th></th>
                            <th style="text-align: center !important;">@Html.Translate("الكمية", "Prod Qty")</th>
                            <th style="display:none"></th>

                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="eProductionReceiving_TBody">
                        @foreach (var item in DailyProdD)
                        {
                            string ItemDesc = new MDB().InvItemsMFs.Where(x => x.CompNo == company.comp_num && x.ItemNo == item.FinCode).FirstOrDefault().ItemDesc;
                            string ItemDescEn = new MDB().InvItemsMFs.Where(x => x.CompNo == company.comp_num && x.ItemNo == item.FinCode).FirstOrDefault().ItemDesc_Ara;
                            string Desc = Html.Translate(ItemDesc, ItemDescEn).ToString();
                            <tr id="ProductionReceiving_@item.FinCode" unitserial="@item.UnitSerial" tunit="@item.TUnit">
                                <td style="text-align:center;" id="Itemsre">@item.ItemSer</td>

                                <td style="text-align:center;" id="ItemNo">@item.FinCode</td>
                                <td style="text-align:center;" id="Desc">@Desc</td>


                                <td id="TUnit" style="text-align:center;">@item.TUnit</td>
                                <td id="button" style="text-align:center;"><button></button></td>
                                <td style="text-align:center;"><input type="number" value="@item.Prod_Qty" id="Qty" @(IsClosed == true ? "disabled" : "" ) /></td>
                                 <td id="UnitSerial" style="display:none">@item.UnitSerial</td>
                                <td id="button" style="text-align:center;"><button></button></td>

                                <td></td>

                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    debugger
    var startYear = 1999;
    var endYear = 2050;
    var currentYear = new Date().getFullYear();
    var yearInput = $('#eProd_ProductionReceiving_Year');
    yearInput.attr('value', currentYear);
    var storeNoFromViewBag =@StoreNo;
    var listData = @Html.Raw(Json.Encode(ListData));
    var Prod_Qty = @ViewBag.Prod_Qty ;
    var qty_prepare = @(Html.Raw(Json.Encode(ViewBag.qty_prepare)));
    $("#eqty_prepareRec").html(qty_prepare);
    $("#eProdQtyRec").html(Prod_Qty);
    var IsClosed = '@IsClosed';
    var valIsClosed= IsClosed.toLowerCase();
    @*if(valIsClosed === "true"){
        $("#btnProductionReceiving").css("display", "none");

        $("#btnCloseProductionReceiving").removeClass("btn-default").addClass("btn-primary").text("@Html.Translate("أغلاق", "Close")");;

    } else if(valIsApproved === null){
        $("#btnProductionReceiving").css("display", "block");
        $("#btnCloseProductionReceiving").removeClass("btn-primary").addClass("btn-default").text("@Html.Recource(15)");;

    }*@
    var eProductionReceiving_Table = $('#eProductionReceiving_Table').DataTable({
        "scrollY": 200,
        "paging": true,
        "pageLength": 25
    });
    yearInput.on('input', function () {
        let selectedYear = parseInt(yearInput.val());
        if (selectedYear < startYear) {
            yearInput.val(startYear);
        } else if (selectedYear > endYear) {
            yearInput.val(endYear);
        }
    });
    function setInputsBasedOnStoreNo(storeNo) {
        var storeData = listData.find(function (item) {
            return item.StoreNo === parseInt(storeNo);;
        });

        if (storeData) {
            $('#eProductionReceiving_StoreNo').val(storeData.StoreNo);
            $('#eProductionReceiving_StoreDesc').val(storeData.StoreName);
        } else {
            alert('The warehouse number does not exist.');
        }
    }

    setInputsBasedOnStoreNo(storeNoFromViewBag);

    $('#eProductionReceiving_StoreNo').on('change', function () {
        var newStoreNo = $(this).val();
        setInputsBasedOnStoreNo(newStoreNo);
    });
    function SaveProductionReceiving(){
        debugger;
        var DailyProdD = new Array();

        var CompNo =@company.comp_num;
        var ReportYear = $('#eProd_ProductionReceiving_Year').val();
        var Prod_Date =$('#eProd_ProductionReceiving_Date').val();
        var ReportNo = $('#eProd_ProductionReceiving_No').val();
        var Prod_stage =$('#eStages').val();
        var OrderNo =@OrderNo;
        var OrderYear =@OrderYear;
        var UserID ='@me.UserID';

        if (ReportYear.trim() === '') {
            alert('@Html.Translate("يرجى ادخال السنة", "Please enter the year")');
            document.getElementById('eProd_ProductionReceiving_Year').focus();
            return;
        }
        if (Prod_Date.trim() === '') {
            alert('@Html.Translate("يرجى ادخال تاريخ صالح !", "Please enter a valid date!")');
            document.getElementById('eProd_ProductionReceiving_Date').focus();
            return;
        }
        if (ReportNo.trim() === '') {
            alert('@Html.Translate("يرجى ادخال رقم السند !", "Please enter a ReportNo!")');
            document.getElementById('eProd_ProductionReceiving_No').focus();
            return;
        }
        

        var ProductionReceivingTable = $('#eProductionReceiving_Table');
        var trs1 = ProductionReceivingTable.find('tbody tr');


        for(var i=0;i<trs1.length ;i++){
            debugger;

            var Prod_Qty = $(trs1[i]).find('#Qty')[0].value.trim();

            if (Prod_Qty === '') {
                alert('@Html.Translate("يرجى إدخال الكمية", "Please Enter Qty")');
                return;
            }
            DailyProdD.push({
                CompNo: CompNo,
                ReportYear: ReportYear,
                ProdPrepYear: '@OrderYear',
                ProdPrepNo:'@OrderNo',
                FinCode: $(trs1[i]).find('#ItemNo')[0].innerHTML,
                UnitSerial: $(trs1[i]).find('#UnitSerial')[0].innerHTML,
                TUnit: $(trs1[i]).find('#TUnit')[0].innerHTML,
                Prod_Qty: Prod_Qty
            });
        }
        var DailyProdHf = {
            ReportYear:ReportYear,
            ReportNo:ReportNo,
            Prod_Date:Prod_Date,
            Prod_stage:Prod_stage
        };
        wait();
        if (confirm('@Resources.Resource.ConfirmBOMDef')) {
            burn({ CompNo: CompNo,ReportYear:ReportYear,ReportNo:ReportNo,OrderYear:OrderYear,OrderNo:OrderNo,UserID:UserID, DailyProdHf: DailyProdHf, DailyProdD: DailyProdD},
                    '../../../ProductionOrdersInProgress/SaveProdction',
                    '',
                    function (response){
                        ReloadproductionOrderinprogressTable(response);
                        var listAllDailyProductionTbody = $('#listAllDailyProductionTbody');
                        listAllDailyProductionTbody.innerHTML ="";
                        $('#listAllDailyProductionTbody').load('../../../ProductionOrdersInProgress/listAllDailyProduction?CompNo='+CompNo+'&OrderYear=' + OrderYear + '&OrderNo=' + OrderNo);

                         $('#ModalProductionReceiving').modal('hide');
                        $('#ModalListAllDailyProduction').modal('hide');

                        done();
                    },
                    false
                    );
        }
        else {done();}
    }
    function ReloadproductionOrderinprogressTable(response)
    {
        var message = 'done';
        if (message) {
            alert(message);
        }

        refreshTable()
    }
</script>

