@using AlphaERP.Models;
@using System.Data
@model System.Data.DataSet
@{
    Company company = (Company)Session["company"];

}
<table class="table table-hover" id="LoadTableStage" >
    <thead>
        <tr>
            <th style="text-align:center;">@Html.Translate("رمز المادة", "Item No")</th>
            <th style="text-align:center;">@Html.Translate("الوصف", "Description")</th>
            <th style="text-align:center;">@Html.Translate("الوحدة", "Unit Code")</th>
            <td style="display:none;"></td>
            <th style="text-align:center;">@Html.Translate("الكمية المتوفرة", "Avl Qty")</th>
            <th style="text-align:center;">@Html.Translate("الكمية المطلوبة ", "Prod Qty")</th>
            <th style="text-align:center;">@Html.Translate("الكمية المصروفة", "Issued Qty")</th>
            <th style="text-align:center;">@Html.Translate("الكمية المتبقية", "Rem Qty")</th>
            <th style="text-align:center;">@Html.Translate("الكمية", "Qty")</th>
            <th></th>
          </tr>
    </thead>
    <tbody id="BodyStageANDAdditiveItems">
        @foreach (DataRow Dr in Model.Tables["LoadTableStage"].Rows)
        {
            <tr>
                <td style="text-align:center;">@Dr["ItemNo"]</td>
                <td style="text-align:center;">@Dr["ItemDesc"]</td>
                <td style="text-align:center;">@Dr["UnitCode"]</td>
                <td  style="display:none;">@Dr["UnitSerial"]</td>
                <td style="text-align:center;">@Dr["AvlQty"]</td>
                <td style="text-align:center;">@Dr["ProdQty"]</td>
                <td style="text-align:center;">@Dr["IssuedQty"]</td>
                <td style="text-align:center;">@Dr["RemQty"]</td>
                <td style="text-align:center;"><input style="width: 33px !important;" id="Qty" type="number" value="@Dr["Qty"]" /></td>
                <td></td>

             </tr>
        }

    </tbody>
</table>
