@using AlphaERP.Models;
@model List<InvStoresMFView>
    @{ 
        string FormCode = ViewBag.FormCode;
        short OrderYear = ViewBag.OrderYear;
        int OrderNo = ViewBag.OrderNo;
        Company company = (Company)Session["company"];

    }
 
        @foreach (var item in Model)
        {
            <tr style="height: 26px; text-align:center !important;" onclick="OrderSelect(this)" ondblclick="DoubleOrderSelect(this)" >

                <td id="OrdYear" style="display:none; text-align:center !important;">@item.OrdYear</td>
                <td style="text-align:center !important;" id="OrdNo">@item.OrdNo</td>
                <td style="text-align:center !important;">@item.OrdDate.ToString("yyyy-MM-dd")</td>
                <td style="text-align:center !important;">
                    @if (item.IsApproved == true)
                    {
                        <span style="background-color: #0b9f0b !important;" class="badge badge-success">@Html.Translate("موافق عليه", "Approved")</span>

                    }
                    else
                    {
                        <span class="badge badge-danger">@Html.Translate("غير موافق", "Non Approved")</span>
                    }
                </td>
                <td style="text-align:center !important;">
                    <button class="btn-vw" onclick="ViewOrderSelect(@item.OrdYear, @item.OrdNo)">
                        <i class="fa fa-eye"></i>
                    </button>
                    @if (item.IsApproved != true)
                    {
                        <button class="btn-ed" onclick="EditOrderSelect(@item.OrdYear, @item.OrdNo)">
                            <i class="fa fa-pencil-alt"></i>
                        </button>
                        <button class="btn-de" onclick="deleteOrder(@item.OrdYear, @item.OrdNo)">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    }
                  

                </td>
             </tr>
        }


 