@using AlphaERP.Models;
@using System.Data

@{
    Company company = (Company)Session["company"];
    User me = (User)Session["me"];

    List<Alpha_BusinessUnitDef> BU = new MDB().Database.SqlQuery<Alpha_BusinessUnitDef>("SELECT CompNo , BusUnitID, BusUnitDescAr, BusUnitDescEng  FROM Alpha_BusinessUnitDef  WHERE CompNo = {0}  AND BusUnitID IN (SELECT BusUnit From Alpha_BusUnitUserPermissions  WHERE (CompNo = {1} ) AND (UserID = {2} ) AND ((AllPerm = 1) OR (ItemIssueOrder = 1)))",
company.comp_num, company.comp_num, me.UserID).ToList();
    List<AlphaERP.Models.ProdCost_EmpWorkHoursD_WebView> lProdCost_EmpWorkHoursD_WebView = ViewBag.ListTestDF;
    string FormCode = ViewBag.FormCode;
    int StoreNo = ViewBag.StoreNo;
    List<ViewWarehouseData> ListData = new MDB().Database.SqlQuery<ViewWarehouseData>("SELECT StoreNo, StoreName, StoreNameEng FROM InvStoresMF WHERE(CompNo = {0}) ORDER BY StoreNo", company.comp_num).ToList();
    int OrderYear = ViewBag.OrderYear;
    int OrderNo = ViewBag.OrderNo;

 
}
<div class="form-group" style="margin-bottom: 2rem;">
    <div class="row">
        <div class="col-sm-1">
            <label for="Year" class="col-form-label col-form-label-sm">@Html.Translate("السنة", "Year")</label>
        </div>
        <div class="col-sm-2">
            <input type="number" class="form-control form-control-sm" id="Year" min="1999" max="2050"
                   style="width: 100%;">
        </div>
        <div class="col-sm-2" style="width: 16rem;">
            <label for="ExchangeOrderNumber" style="width: 88rem;"
                   class="col-form-label col-form-label-sm">@Html.Translate("رقم أمر الصرف", "Exchange Order Number")</label>
        </div>
        <div class="col-sm-1">
            <input class="form-control form-control-sm" required id="ExchangeOrderNumber" value="0" disabled />
        </div>
        <div class="col-sm-2" style="width: 10rem;">
            <label for="DocumentNo" style="width: 88rem;" class="col-form-label col-form-label-sm">@Html.Translate("رقم الوثيقة", "Document No")</label>
        </div>
        <div class="col-sm-1">
            <input class="form-control form-control-sm" required id="DocumentNo" value="1" />
        </div>
        <div class="col-sm-1" style="width: 10rem;">
            <label for="BU" class="col-form-label col-form-label-sm">@Html.Translate("وحدة العمل", "Business Unit")</label>
        </div>

        <div class="col-sm-2" style="width: 19rem;">
            <select class="form-control" id="BU" name="BU">
                @foreach (var v in BU)
                {
                    <option value="@v.BusUnitID" name="M_BusUnitID">@Html.Translate(v.BusUnitDescAr, v.BusUnitDescEng)
                    </option>
                }
            </select>
        </div>
    </div>
</div>
<div class="form-group" style="margin-bottom: 2rem;">
    <div class="row">
        <div class="col-sm-1">
            <label for="date" class="col-form-label col-form-label-sm">@Html.Translate("التاريخ", "Date")</label>
        </div>
        <div class="col-sm-2">
            <input type="date" class="form-control form-control-sm" required id="date"
                   value="@DateTime.Now.ToString("yyyy-MM-dd")" />

        </div>
        <div class="col-sm-1">
            <label for="StoreNo" style="width: 88rem;"
                   class="col-form-label col-form-label-sm">@Html.Recource(1)</label>
        </div>
        <div class="col-sm-2">
            <input class="form-control form-control-sm" required id="StoreNo" value="@Html.Recource(41)" />
        </div>
        <div class="col-sm-4">
            <input style="width: 33rem;" class="form-control form-control-sm" required id="StoreDesc"
                   value="@Html.Recource(31)" />
        </div>
        <div class="col-sm-1">
            <button style="width:68px;" type="button" class="btn btn-success btn-block" onclick="Searchwarehouse()">
                @Html.Recource(975)
            </button>
        </div>
    </div>
</div>
<div class="form-group" style="margin-bottom: 2rem;">
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-4">
                <input class="col-form-label col-form-label-sm" id="AdditiveItem" type="checkbox"
                       onchange="CheckAdditiveItems()" />

                <label for="date" class="col-form-label col-form-label-sm">@Html.Translate("الموادالمضافة", "Additive Items")</label>
            </div>
            <div class="col-md-2">
                <input class="col-form-label col-form-label-sm" id="stage" type="checkbox"
                       onchange="toggleDropdown()" />
                <label for="date" class="col-form-label col-form-label-sm">@Html.Translate("المراحل", "Stages")</label>

            </div>
            <div class="col-md-2" id="stageDropdown" style="display: none;">

             
            </div>
        </div>
    </div>
</div>

<div class="form-group" style="margin-bottom: 2rem;">
    <div class="col-md-12" id="LoadTableDefultDiv">
        <table class="table table-hover" id="LoadTableDefult">
            <thead>
                <tr>
                    <th style="text-align:center;">@Html.Translate("رمز المادة", "Item No")</th>
                    <th style="text-align:center;">@Html.Translate("الوصف", "desc")</th>
                    <th style="text-align:center;">@Html.Translate("الوحدة", "Unit Code")</th>
                    <th style="text-align:center; display:none;">@Html.Translate("تسلسل الوحدة", "Unit Serial")</th>
                    <th style="text-align:center;">@Html.Translate("الكمية المتوفرة", "AvlQty")</th>
                    <th style="text-align:center;">@Html.Translate("الكمية المطلوبة للأمر", "ProdQty")</th>
                    <th style="text-align:center;">@Html.Translate("كمية الخلطة", "MixQty")</th>
                    <th style="text-align:center;">@Html.Translate("الكمية المصروفة", "IssuedQty")</th>
                    <th style="text-align:center;">@Html.Translate("كمية الأوامر السابقة", "PreviousQty")</th>
                    <th style="text-align:center;">@Html.Translate("الكمية المحوّلة", "TranQty")</th>
                    <th style="text-align:center;">@Html.Translate("الكمية المتبقية", "RemQty")</th>
                    <th style="text-align:center;">@Html.Translate("الكمية", "Qty")</th>
                    <th style="text-align:center;">@Html.Translate("ملاحظات المادة", "ItemNotes")</th>


                    <th></th>
                </tr>
            </thead>
            <tbody id="LoadTableDefultItems">
                @foreach (DataRow row in Model.Tables["GetPrepDetlForIssueOrder"].Rows)
                {
                    <tr>
                        <td id="ItemNo" style="text-align:center;">@row["ItemNo"]</td>
                        <td style="text-align:center;">@row["ItemDesc"]</td>
                        <td id="UnitCode" style="text-align:center;">@row["UnitCode"]</td>
                        <td id="UnitSerial" style="display:none;">@row["UnitSerial"]</td>
                        <td style="text-align:center;">@row["AvlQty"]</td>
                        <td style="text-align:center;">@row["ProdQty"]</td>
                        <td style="text-align:center;">@row["MixQty"]</td>
                        <td style="text-align:center;">@row["IssuedQty"]</td>
                        <td style="text-align:center;">@row["PreviousQty"]</td>
                        <td style="text-align:center;">@row["TranQty"]</td>
                        <td style="text-align:center;">@row["RemQty"]</td>
                        <td style="text-align:center;"><input style="width: 33px !important;" id="Qty" type="number" value="@row["Qty"]" /></td>
                        <td style="text-align:center;"><input type="text" id="ItemNotes" value="@row["ItemNotes"]" /></td>
                    </tr>
                }

            </tbody>
        </table>


    </div>
    <div class="col-md-12" id="LoadTableStageDiv">
    </div>

</div>



<script>
    var selectedRow = null;
    var startYear = 1999;
    var endYear = 2050;
    var currentYear = new Date().getFullYear();
    var storeNoFromViewBag =@StoreNo;
    var listData = @Html.Raw(Json.Encode(ListData));


    var yearInput = $('#Year');
    yearInput.attr('value', currentYear);

    yearInput.on('input', function () {
        let selectedYear = parseInt(yearInput.val());
        if (selectedYear < startYear) {
            yearInput.val(startYear);
        } else if (selectedYear > endYear) {
            yearInput.val(endYear);
        }
    });
    var TableStageANDadd = $('#TableStageANDAdditiveItems').DataTable({
        "scrollY": 200,
        "paging": true,
        "pageLength": 100,
        "scrollX": true,
        "autoWidth": false
    });

    function SelectingStore() {
        var selectedRow = document.querySelector('#StoreSelectTable tr.selected');

        if (selectedRow) {
            var storeNo = selectedRow.getAttribute('StoreNo');
            var storeName = selectedRow.getAttribute('StoreName');

            document.getElementById('StoreNo').value = storeNo;
            document.getElementById('StoreDesc').value = storeName;
        }

        $('#Model_Warehouse').modal('hide');
    }
    function StoreSelect(row) {
        var rows = document.querySelectorAll('tr');
        rows.forEach(function (row) {
            row.classList.remove('selected');
        });

        row.classList.add('selected');
    }
    var AddItemCheckbox = document.getElementById("AdditiveItem");
    var stageCheckbox = document.getElementById("stage");

    AddItemCheckbox.addEventListener("change", function () {
        if (this.checked) {
            stageCheckbox.checked = false;
        }
    });

    stageCheckbox.addEventListener("change", function () {
        if (this.checked) {
            AddItemCheckbox.checked = false;
        }
    });
    $(document).ready(function () {
        var estageCheckbox = $("#stage");
        var estageDropdown = $("#stageDropdown");

        // Function to handle showing/hiding the dropdown
        function toggleDropdown() {
            if (estageCheckbox.prop("checked")) {
                var FormCode = '@FormCode';
                var CompNo = @company.comp_num;


                estageDropdown.css("display", "block");
                eAddItemCheckbox.checked = false;
            } else {
                estageDropdown.css("display", "none");
            }
        }

        toggleDropdown();
    });
    function toggleDropdown() {
        var CompNo =@company.comp_num;

        const stageCheckbox = document.getElementById("stage");
        const stageDropdown = document.getElementById("stageDropdown");
        var FormCode = '@FormCode'
        if (stageCheckbox.checked) {
            $('#stageDropdown').load("../../../ProductionOrdersInProgress/LoadstageDropdown?CompNo=" + CompNo + "&FormCode=" + FormCode);

            stageDropdown.style.display = "block";
        } else {
            stageDropdown.style.display = "none";
            var AdditiveItems = false
            var CompNo = @company.comp_num;
            var OrderYear = @OrderYear;
            var OrderNo = @OrderNo;
            var StoreNo = @StoreNo;
            var PackingItems = false
            var IsRowMaterial = false
            var LoadTableDefultDiv = document.getElementById("LoadTableDefultDiv");
            LoadTableDefultDiv.innerHTML = "";
            //Execute this block if stageCheckbox is not checked
            $('#LoadTableDefultDiv').load("../../../ProductionOrdersInProgress/LoadTableDefult?CompNo=" + CompNo
                + "&OrderYear=" + OrderYear
                + "&OrderNo=" + OrderNo
                + "&StoreNo=" + StoreNo
                + "&PackingItems=" + PackingItems
                + "&AdditiveItems=" + AdditiveItems
                + "&IsRowMaterial=" + IsRowMaterial
            );

        }
    }
    function handleStageSelection() {
        const selectedStage = document.getElementById("stageSelect").value;
        var CompNo = @company.comp_num;
        var OrderYear = @OrderYear;
        var OrderNo = @OrderNo;
        var StoreNo = @StoreNo;
        var PackingItems = false
        var IsRowMaterial = false
        var AdditiveItems = document.getElementById('AdditiveItem');
        const stageCheckbox = document.getElementById("stage");

        var LoadTableDefultDiv = document.getElementById("LoadTableDefultDiv");
        LoadTableDefultDiv.innerHTML = "";

        $('#LoadTableDefultDiv').load("../../../ProductionOrdersInProgress/LoadTableStage?CompNo=" + CompNo
            + "&OrderYear=" + OrderYear
            + "&OrderNo=" + OrderNo
            + "&StoreNo=" + StoreNo
            + "&PackingItems=" + PackingItems
            + "&AdditiveItems=" + stageCheckbox.checked
            + "&IsRowMaterial=" + IsRowMaterial
            + "&stageID=" + selectedStage
        );


    }


    function setInputsBasedOnStoreNo(storeNo) {
        var storeData = listData.find(function (item) {
            return item.StoreNo === parseInt(storeNo);;
        });

        if (storeData) {
            $('#StoreNo').val(storeData.StoreNo);
            $('#StoreDesc').val(storeData.StoreName);
        } else {
            alert('The warehouse number does not exist.');
        }
    }

    setInputsBasedOnStoreNo(storeNoFromViewBag);

    $('#StoreNo').on('change', function () {
        var newStoreNo = $(this).val();
        setInputsBasedOnStoreNo(newStoreNo);
    });
    function CheckAdditiveItems() {

        var CompNo = @company.comp_num;
        var OrderYear = @OrderYear;
        var OrderNo = @OrderNo;
        var StoreNo = @StoreNo;
        var PackingItems = false
        var IsRowMaterial = false
        const AdditiveItems = document.getElementById("AdditiveItem");
        var estageDropdown = $("#stageDropdown");
        estageDropdown.css("display", "none");
        var LoadTableDefultDiv = document.getElementById("LoadTableDefultDiv");
        LoadTableDefultDiv.innerHTML = "";
        $('#LoadTableDefultDiv').load("../../../ProductionOrdersInProgress/LoadTableAdditiveItems?CompNo=" + CompNo
            + "&OrderYear=" + OrderYear
            + "&OrderNo=" + OrderNo
            + "&StoreNo=" + StoreNo
            + "&PackingItems=" + PackingItems
            + "&AdditiveItems=" + AdditiveItems.checked
            + "&IsRowMaterial=" + IsRowMaterial
        );

    }

    function SaveRFI() {
        debugger
        var Year = document.getElementById('Year').value;
        var BU = document.getElementById('BU').value;
        var DocumentNo = document.getElementById('DocumentNo').value;
        var StoreNo = document.getElementById('StoreNo').value;
        var ExchangeOrderNumber = document.getElementById('ExchangeOrderNumber').value;

        if (Year.trim() === '') {
            alert('@Html.Translate("يرجى ادخال السنة", "Please enter the year")');
            document.getElementById('Year').focus();
            return;
        }



        if (ExchangeOrderNumber.trim() === '') {
            alert('@Html.Translate("يرجى إدخال رقم امر الصرف", "Please Enter Exchange Order Number")');
            document.getElementById('ExchangeOrderNumber').focus();
            return;
        }
        if (BU.trim() === '') {
            alert('@Html.Translate("يرجى إدخال وحدة العمل", "Please Enter Business Unit")');
            document.getElementById('BU').focus();
            return;
        }
        if (StoreNo.trim() === '') {
            alert('@Html.Translate("يرجى إدخال رقم المستودع", "Please Enter Store No")');
            document.getElementById('BU').focus();
            return;
        }
        var IssueOrderDF = [];

        var CompNo =@company.comp_num;
        var OrderYear =@OrderYear;
        var OrderNo =@OrderNo;
        var UserID = '@me.UserID';
        var FormCode = '@FormCode';
        var year = document.getElementById("Year").value;
        var exchangeOrderNumber = document.getElementById("ExchangeOrderNumber").value;
        var documentNo = document.getElementById("DocumentNo").value;
        var bu = document.getElementById("BU").value;
        var OrdDate = document.getElementById("date").value;
        var storeNo = document.getElementById("StoreNo").value;


        var AddititiveItems = document.getElementById("AdditiveItem").checked;
        var ByStage = document.getElementById("stage").checked;
        const stageCheckbox = document.getElementById("stage");
        const AddititiveItemsCheckbox = document.getElementById("AdditiveItem");

        if (stageCheckbox.checked && (stageSelect != 0)) {
            var stageSelect = document.getElementById("stageSelect");
            var StageCode = stageSelect.value;
            var table = document.getElementById("LoadTableStage");
            var rows = table.getElementsByTagName("tr");
            for (var i = 1; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName("td");
                var ItemNo = cells[0].innerText;
                var ItemSer = 1;
                var UnitCode = cells[3].innerText;
                var Qtyinput = cells[11].querySelector("#Qty");
                var Qty = parseFloat(Qtyinput.value.trim());
                var UnitSerial = cells[4].innerText;
                if (isNaN(Qty) || Qty === 0) continue; // Skip zero qty rows

                var rowData = {
                    ItemNo: ItemNo,
                    ItemSer: ItemSer,
                    UnitCode: UnitCode,
                    Qty: Qty,
                    UnitSerial: UnitSerial,
                    Batch: null
                };
                IssueOrderDF.push(rowData);
            }
        } else if (AddititiveItemsCheckbox.checked) {

            var table = document.getElementById("LoadTableAdditiveItems");
            var rows = table.getElementsByTagName("tr");
            for (var i = 1; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName("td");
                var ItemNo = cells[0].innerText;
                var ItemSer = 1;
                var UnitCode = cells[3].innerText;
                var Qtyinput = cells[14].querySelector("#Qty");
                var Qty = parseFloat(Qtyinput.value.trim());
                var UnitSerial = cells[4].innerText;
                var ItemNotesInput = cells[15].querySelector("input[type='text']");
                var ItemNotes = ItemNotesInput ? ItemNotesInput.value.trim() : '';
                if (isNaN(Qty) || Qty === 0) continue; // Skip zero qty rows

                var rowData = {
                    ItemNo: ItemNo,
                    ItemSer: ItemSer,
                    UnitCode: UnitCode,
                    Qty: Qty,
                    UnitSerial: UnitSerial,
                    ItemNotes: ItemNotes,
                    Batch: null
                };
                IssueOrderDF.push(rowData);
            }
        } else if (!AddititiveItemsCheckbox.checked && !stageCheckbox.checked) {
            var table = $("#LoadTableDefult");
            var trs1 = table.find('tbody tr');
            for (var i = 0; i < trs1.length; i++) {
                var Qty = parseFloat($(trs1[i]).find('#Qty')[0].value.trim());
                if (isNaN(Qty) || Qty === 0) continue; // Skip zero qty rows

                IssueOrderDF.push({
                    ItemNo: $(trs1[i]).find('#ItemNo')[0].innerHTML,
                    UnitCode: $(trs1[i]).find('#UnitCode')[0].innerHTML,
                    UnitSerial: $(trs1[i]).find('#UnitSerial')[0].innerHTML,
                    Batch: null,
                    Qty: Qty,
                    ItemNotes: $(trs1[i]).find('#ItemNotes')[0].value,
                });
            }
        }

        var OderHFData = {
            OrdYear: year,
            OrdNo: exchangeOrderNumber,
            DocNo: documentNo,
            BusUnitID: bu,
            OrdDate: OrdDate,
            StoreNo: storeNo,
            StageCode: StageCode,
            AddititiveItems: AddititiveItems,
            ByStage: ByStage
        }


        wait();
        if (confirm('@Resources.Resource.ConfirmBOMDef')) {
            burn({ CompNo: CompNo, OrderYear: OrderYear, OrderNo: OrderNo, OderHFData: OderHFData, IssueOrderDF: IssueOrderDF, UserID: UserID },
                '../../../ProductionOrdersInProgress/SaveRFI',
                '',
                function (response) {
                    if (response && response.ok) {
                        alert('@Html.Translate("تم حفظ أمر الصرف بنجاح", "Exchange order saved successfully")');
                        var tableRFIBody = $('#tableRFIBody');
                        tableRFIBody.innerHTML = "";
                        $('#tableRFIBody').load('../../../ProductionOrdersInProgress/LoadRFIAll?CompNo=@company.comp_num&OrderYear=@OrderYear&OrderNo=@OrderNo&FormCode=@FormCode');
                        $('#ModalLoadIssueOrder').modal('hide');
                        $('#ModalSelectIssueOrder').modal('hide');
                        refreshTable();
                    } else {
                        var errMsg = (response && response.ok) ? response.ok : '@Html.Translate("حدث خطأ أثناء الحفظ", "An error occurred while saving")';
                        alert(errMsg);
                    }
                    done();
                },
                false
            );
        }
        else { done(); }
    }
    function LoadBatch(CompNo, ItemNo, UnitSerial) {

        var storeNo = document.getElementById("StoreNo").value;

        $('#LoadBatchBody').load("../../../ProductionOrdersInProgress/LoadBatch?CompNo=" + CompNo
            + "&ItemNo=" + ItemNo
            + "&StoreNo=" + storeNo
            + "&UnitSerial=" + UnitSerial
        );
        $('#ModelLoadBatch').modal('show')
    }

    function SelectBatch(row) {
        if (selectedRow) {
            $(selectedRow).removeClass("selected");
        }

        selectedRow = row;
        $(selectedRow).addClass("selected");
    }

    function SelectingBatch() {
        if (selectedRow) {
            var selectedBatchNo = $(selectedRow).attr("BatchNo");
            $(".batch-input").val(selectedBatchNo);
            $('#ModelLoadBatch').modal('hide')
        }

    }

</script>






