@model AlphaERP.Models.ProdCost_GetOrderStagesStatus_webView
@using AlphaERP.Models;


@{
    var OrderNo = ViewBag.OrderNo;
    Byte ReqOp = 1;
    Company company = (Company)Session["company"];
    var OrderYear = ViewBag.OrderYear;
    User me = (User)Session["me"];

}


<div class="form-group">
    <div class="myfrom">
        <div class="form-group">
            <div class="col-md-4">
                <label class="unselectable" for="OrderNo">@Html.Translate("رقم الأمر", "Order No")</label>
            </div>
            <div class="col-md-8" style="margin-bottom: 5px;">
                <input type="text" id="OrderNo" value="@OrderNo" name="QA_Desc" data-desc="@OrderNo" disabled />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="unselectable" for="stage_desc">@Html.Translate("وصف المرحلة", "stage Description")</label>
            </div>
            <div class="col-md-8" style="margin-bottom: 5px;">
                <input type="text" id="stage_desc" value="@Model.stage_desc" name="stage_desc" disabled />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="unselectable" for="SelectDate_Time">@Html.Translate("حدد التاريخ والوقت", "Select Date & Time")</label>
            </div>
            <div class="col-md-8" style="margin-bottom: 5px;">
                <input type="datetime-local" id="SelectDate_Time" name="SelectDate_Time" step="1" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" onblur="startstage()" />
            </div>
        </div>
    </div>
    <div>
        <button type="button" onclick="OpenStage(@company.comp_num,@OrderYear,@OrderNo,@Model.StageSer,@Model.stage_code,@ReqOp,'@me.UserID')" class="btn btn-primary">@Html.Translate("فتح", "Open")</button>
    </div>
</div>


<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    var modalHidden = false;

    $('#Model_OpenStage').draggable({
        handle: ".modal-header",
    });
    var selectDateTimeInput = document.getElementById('SelectDate_Time');
    function startstage() {
        var selectDateTimeInput = document.getElementById('SelectDate_Time');
        const selectedDateTime = new Date(selectDateTimeInput.value);
        const today = new Date();

        if (selectedDateTime < today) {
            alert("@Html.Translate("يرجى تحديد تاريخ ووقت ليس أقدم من التاريخ اليوم.", "Please select a date & time that is not older than date today.")")
        }
    }
  
    function OpenStage(CompNo, OrderYear, OrderNo, StageSer, stage_code, ReqOp, UserID) {
        var selectDateTimeInput = document.getElementById('SelectDate_Time');
        const selectedDateTime = new Date(selectDateTimeInput.value);
        const today = new Date();

        if (selectedDateTime < today) {
            alert("@Html.Translate("يرجى تحديد تاريخ ووقت ليس أقدم من التاريخ اليوم.", "Please select a date & time that is not older than date today.")")
            return
        }
         var StageDate = document.getElementById("SelectDate_Time").value;
        wait();
        if (confirm('@Resources.Resource.ConfirmBOMDef')) {
            burn(
                { CompNo: CompNo, OrderYear: OrderYear, OrderNo: OrderNo, StageSer: StageSer, stage_code: stage_code, StageDate: StageDate, ReqOp: ReqOp, UserID: UserID },
                '../../../ProductionOrdersInProgress/SendDataOpenStage',
                '',
                function (response) {

                    hub.server.updateOrderStages(OrderYear, OrderNo);
                    handleResponse(response);
                     $('#Model_OpenStage').modal('hide');
                  },
                false
            );
        } else {
            done();
        }
    }
    function handleResponse(response) {
        var message = response.ok;
        if (message) {
            alert(message);
         }
    }

</script>