@model IEnumerable<AlphaERP.Models.MRP_GeneralPlanInfoH>

<table class="table" id="AllProductionPlanTable">
    <thead>
        <tr>
            <th>@Resources.Resource.PlanNo</th>
            <th>@Resources.Resource.StartDatePlan</th>
            <th>@Resources.Resource.EndDatePlan</th>
            <th>@Resources.Resource.PlanNote</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ProductionPlanActivateTbody">
        @foreach (var P in Model)
        {
            <tr onclick="SelectProductionPlan(this)" id="@P.PlanNo" PlanYear="@P.PlanYear">
                <td>@P.PlanNo</td>
                <td>@P.StartDate.Value.ToString("yyyy-MM-dd")</td>
                <td>@P.EndDate.Value.ToString("yyyy-MM-dd")</td>
                <td>@P.PlanNotes</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal-footer">
    <button type="button" onclick="SelectionProdPlanDiv()" class="btn btn-primary">@Resources.Resource.Choose</button>
    <button class="btn btn-default pull-left" data-dismiss="modal">@Resources.Resource.Cancel</button>
</div>

<script>
    $('#AllProductionPlanTable').DataTable({
        "scrollY": TableHeight2(300),
        "paging": true,
        "pageLength": 25,
    });
     function SelectProductionPlan(e) {
         var table = $('#AllProductionPlanTable');
        var oTable = table.dataTable();
        var trs = oTable.$('tr');
        for (var i = 0; i < trs.length; i++) {
            trs[i].setAttribute('name', '');
            $(trs[i]).removeClass('selected');
        }
        e.setAttribute('name', 'selected');
        $(e).addClass('selected');
    }
    function SelectionProdPlanDiv() {
        var table = $('#AllProductionPlanTable');
        var oTable = table.dataTable();
        var trs = oTable.$('tr[name=selected]');

        if (trs.length == 0) {
            MsgBox('@Resources.Resource.NoPlanWasChosen', 'red');
            done();
            return false
        }

        var PlanYear = trs[0].getAttribute('PlanYear');
        var PlanNo = trs[0].getAttribute('id');

        AddProdPlanDetialsisDiv(PlanYear, PlanNo);
    }
</script>