<div class="box box-primary">
    <div class="box-body box-profile slim">
        <div>
            <div class="col-md-6">
                <label style="margin:0" class="profile-username text-center">
                    <i style="margin:0 10px" class="fa MYICON" aria-hidden="true"></i>
                    MyTilTle
                </label>
            </div>
            <div class="col-md-1">
                <label class="unselectable" for="Ord_InboundManagement_OrdYear">@Resources.Resource.Year </label>
            </div>
            <div class="col-md-2">
                <input onblur="Checkyear()" type="number" id="Ord_InboundManagement_OrdYear" value="@DateTime.Now.Year" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="4" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-block" onclick="SerachInboundInfo()">
                    @Resources.Resource.Search
                </button>
            </div>
        </div>
    </div>
    <div class="box-body box-profile" id="Ord_InboundsManagementDiv">

    </div>
</div>

<script>
    function Checkyear() {
        if (Ord_InboundManagement_OrdYear.value < 2000) {
            Ord_InboundManagement_OrdYear.value = "@DateTime.Now.Year"
            Ord_InboundManagement_OrdYear.focus();
        }
    }
    SerachInboundInfo();
    function SerachInboundInfo() {
        Ord_InboundsManagementDiv.innerHTML = "";
        $('#Ord_InboundsManagementDiv').load('../../../InboundManagement/InboundsInfoList?OrdYear=' + Ord_InboundManagement_OrdYear.value);
    }

    function DeleteInboundsManagement(OrdYear, OrderNo, TawreedNo, InboundSer, InboundGRN) {
        if (confirm('@Resources.Resource.ConfirmDeleteDialog')) {
            burn({ OrdYear: OrdYear, OrderNo: OrderNo, TawreedNo: TawreedNo, InboundSer: InboundSer, InboundGRN: InboundGRN }, '../../../InboundManagement/Del_InboundManagement', '', ReloadDelInboundManagement, false);
        }
    }
    function ReloadDelInboundManagement(r) {
        MsgBox('@Html.Recource(2598)', 'red');

        var table = $("#InboundManagementTable tbody");
        var trs = table.find('tr');

        var TawreedNo = r.TawreedNo;
        var InboundSer = r.InboundSer;

        for (var i = 0; i < trs.length; i++) {
            if ($(trs[i])[0].getAttribute('OrdYear') == r.OrdYear && $(trs[i])[0].getAttribute('OrderNo') == r.OrdNo && $(trs[i])[0].getAttribute('TawreedNo') == TawreedNo && $(trs[i])[0].getAttribute('InboundSer') == InboundSer) {
                var nTr = $(trs[i])[0];
                wait();
                $(this).attr("opened", "details_close");
                var OrdYear = $(trs[i])[0].getAttribute('OrdYear');
                var OrderNo = $(trs[i])[0].getAttribute('OrderNo');
                var TawreedNo = $(trs[i])[0].getAttribute('TawreedNo');
                var InboundSer = $(trs[i])[0].getAttribute('InboundSer');

                $.get("../../../../InboundManagement/DetailsInboundsManagement?OrdYear=" + OrdYear + '&OrderNo=' + OrderNo + '&TawreedNo=' + TawreedNo + '&InboundSer=' + InboundSer, function (data) {
                    InboundManagementTable.fnOpen(nTr, data, 'details');
                    done();
                });
            }
        }
    }


    function PostedInboundsManagement(OrdYear, OrderNo, TawreedNo, InboundSer, InboundGRN) {
        if (confirm('@Resources.Resource.ApprovalVoucIssue')) {
            burn({ OrdYear: OrdYear, OrderNo: OrderNo, TawreedNo: TawreedNo, InboundSer: InboundSer, InboundGRN: InboundGRN }, '../../../InboundManagement/Posted_InboundManagement', '', ReloadPostedInboundManagement, false);
        }
    }
    function ReloadPostedInboundManagement(r) {
        MsgBox('@Html.Recource(475)', 'green');
        var table = $("#InboundManagementTable tbody");
        var trs = table.find('tr');

        var TawreedNo = r.TawreedNo;
        var InboundSer = r.InboundSer;

        for (var i = 0; i < trs.length; i++) {
            if ($(trs[i])[0].getAttribute('OrdYear') == r.OrdYear && $(trs[i])[0].getAttribute('OrderNo') == r.OrdNo && $(trs[i])[0].getAttribute('TawreedNo') == TawreedNo && $(trs[i])[0].getAttribute('InboundSer') == InboundSer) {
                var nTr = $(trs[i])[0];
                wait();
                $(this).attr("opened", "details_close");
                var OrdYear = $(trs[i])[0].getAttribute('OrdYear');
                var OrderNo = $(trs[i])[0].getAttribute('OrderNo');
                var TawreedNo = $(trs[i])[0].getAttribute('TawreedNo');
                var InboundSer = $(trs[i])[0].getAttribute('InboundSer');

                $.get("../../../../InboundManagement/DetailsInboundsManagement?OrdYear=" + OrdYear + '&OrderNo=' + OrderNo + '&TawreedNo=' + TawreedNo + '&InboundSer=' + InboundSer, function (data) {
                    InboundManagementTable.fnOpen(nTr, data, 'details');
                    done();
                });
            }
        }
    }

</script>