@using System.Data
@model System.Data.DataSet
@{
    long RefNo = ViewBag.RefNo;
    string gu = "div___" + Guid.NewGuid().ToString();
    int i = 0;
    int orderno = ViewBag.orderno;
    short orderyear = ViewBag.orderyear;
}
<style>


    .listloadQC {
        background-color: #f5f5f5;

        transform: scale(1.00);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), 3px 9px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 3rem;
        max-height: 35vh;
        overflow-y: auto;
     }



    #StagesQcInProcessQcTb {
         text-align: left !important;
    }
    .table tbody #bodyloadQc:hover{
            background-color: #cfcfcf !important;

    } 
</style>
<div id="@gu" class="listloadQC">
    <div style="width: 100%; padding: 7px; background: #fff !important ">

        <style>
    #StagesQcInProcessQcTb tbody > tr > :nth-child(0) {
        width: 70px;
    }
    #StagesQcInProcessQcTb tbody > tr > :nth-child(1) {
        width: 70px;
    }
    #StagesQcInProcessQcTb tbody > tr > :nth-child(2) {
        width: 70px;
    }
    #StagesQcInProcessQcTb tbody > tr > :nth-child(3) {
        width: 70px;
    }
    #StagesQcInProcessQcTb tbody > tr > :nth-child(4) {
        width: 70px;
    }
    #StagesQcInProcessQcTb tbody > tr > :nth-child(5) {
        text-align:@Html.Translate("right", "left")
    }
</style>

        <table id="StagesQcInProcessQcTb" style="width: 100%; margin: 0;border: solid 3px #e2d7d7;" class="table">
            <thead style="background: lavender; "  >
                <tr>
                    <th>@Html.Recource(1871)</th>
                    <th>@Html.Recource(58)</th>
                    <th>@Html.Recource(737)</th>
                    <th>@Html.Recource(307)</th>
                    <th>@Html.Recource(973)</th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (DataRow Dr in Model.Tables["QCPross"].Rows)
                {
                    <tr style="background:#fff !important" id="bodyloadQc">
                        <td>@Dr["QCTrNo"]</td>
                        @if (Dr["QCTrDate"].ToString().Trim() != string.Empty)
                        {
                            <td>@Convert.ToDateTime(Dr["QCTrDate"].ToString()).ToString("yyyy/MM/dd")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@Dr["UserID"]</td>
                        <td>
                            @if (Dr["QcClosed"].ToString().Trim().ToLower() == "true")
                            {<i class="fa fa-check" style="color:gray"></i>}
                        </td>
                        <td>@Dr["GeneralQcNotes"]</td>
                 
                        <td>
         
                    
                         
                        </td>
                        <td></td>
                        <td>
                            @if (Dr["QcClosed"].ToString().Trim().ToLower() == "true")
                            {
                                <button style="display:none" title="@Html.Recource(12)" class="btn-ed" onclick="StagesQcInProcessEdit(this,'@RefNo','@Dr["QCTrNo"]','@gu',2,'@orderno','@orderyear')">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                                <button title="@Html.Translate("رؤية", "View")" class="btn btn-primary" style="background:transparent;border:none;" onclick="StageQCinProcesView(this,'@RefNo','@Dr["QCTrNo"]','@gu',2)">
                                    <i style="font-weight:100 !important; color:#3c8dbc;" class="fa fa-eye"></i>
                                </button>
                            }
                            else
                            {
                                <button title="@Html.Recource(12)" class="btn-ed" onclick="StagesQcInProcessEdit(this,'@RefNo','@Dr["QCTrNo"]','@gu',2,'@orderno','@orderyear')">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                                <button style="display:none" title="@Html.Translate("رؤية", "View")" class="btn btn-primary" onclick="StageQCinProcesView(this,'@RefNo','@Dr["QCTrNo"]','@gu',2)">
                                    <i class="fa fa-eye"></i>
                                </button>
                            }
                        </td>

                    </tr>
                    i += 1;
                }
            </tbody>
            <tfoot style="background: lavender; ">
               <tr style="height: 2rem !important;">
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>

               </tr>
            </tfoot>
        </table>
    </div>
</div>