@using System.Data.SqlClient;
@using AlphaERP.Models;
@using System.Data;
@using System.Collections.Generic;

@{
    int ReqforQuotyear = ViewBag.ReqforQuotyear;
    int ReqforQuotNo = ViewBag.ReqforQuotNo;
    Company company = (Company)Session["company"];
    List<BusunisUnit> Venders = new MDB().Database.SqlQuery<BusunisUnit>(string.Format("select VendorNo as VenderId ,name as DescAr,Eng_Name as DescEn from Vendors where (comp = '{0}') AND (IsHalt = 0)", company.comp_num)).ToList();
    List<InvItemsMF> Mf = new MDB().InvItemsMFs.Where(x => x.CompNo == company.comp_num).ToList();
    List<InvUnitCode> UnitC = new MDB().InvUnitCodes.Where(x => x.CompNo == company.comp_num).ToList();

    List<MRP_Web_OrdCopyInfo> OrdCopy = new MDB().MRP_Web_OrdCopyInfo.Where(x => x.CompNo == company.comp_num && x.ReqforQuotyear == ReqforQuotyear && x.ReqforQuotNo == ReqforQuotNo && x.Qty > 0).ToList();
    MRP_Web_OrdCopyInfo itemNo = OrdCopy.Where(x => x.bNominationBestOffer == true).FirstOrDefault();
    int Srial = 1;
    InvCompMF compMF = new MDB().InvCompMFs.Where(x => x.CompNo == company.comp_num).FirstOrDefault();
    if (compMF.UseQty2 == null)
    {
        compMF.UseQty2 = false;
    }
    List<PayCodes> Currency = new MDB().Database.SqlQuery<PayCodes>("select CurrType as Id ,CurrName as DescAr,isnull(CurrNameE,'No Desc.') as DescEn from CurrType").ToList();
    List<BusunisUnit> PaymentM = new MDB().Database.SqlQuery<BusunisUnit>(string.Format("select MCode as Id ,[Desc] as DescAr,isnull([EngDesc],'No Desc.') as DescEn from PayMethods where (Comp = '{0}')", company.comp_num)).ToList();
    List<PayCodes> DlivPlace = new MDB().Database.SqlQuery<PayCodes>(string.Format("select PlaceCode as Id ,Place as DescAr from OrdDlivPlace where (CompNo = '{0}')", company.comp_num)).ToList();
    DataTable Dt = new DataTable();
}

<style>
    #MRP_BestOfferTable_Div table th, #MRP_BestOfferTable_Div table td {
        padding: 4px 15px !important;
        text-align: center !important;
    }
    .wrapperx {
        padding:0;
        position: relative;
        overflow: auto;
        white-space: nowrap;
    }

    .sticky-col {
        z-index:2;
        position: sticky;
        position: -webkit-sticky;
        background-color: white;
    }

    .first-col {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        @Html.Translate("right: 0px;", "left: 0px;")
    }

    .second-col {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
     @Html.Translate("right: 100px;", "left: 100px;")
    }

    .third-col {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        @Html.Translate("right: 250px;", "left: 250px;")
    }
    .stickytooltip {
        max-height: 80vh !important;
        overflow: auto !important
    }
</style>
<style>
    .modal-body {
        max-height: 78vh !important;
    }
</style>
<div class="box box-primary">
    <div class="box-body box-profile">
        <div class="modal-body row" style="height: calc(92vh - 185px) !important;">
            <div class="form-group" style="display:block;height:calc(92vh - 260px) !important;">
                <div class="col-md-12 wrapperx" id="MRP_BestOfferTable_Div">
                    <table class="table table-hover MRP_BestOfferTable" id="BestOfferTable">
                        <thead>
                            <tr>
                                <th>@Resources.Resource.Supplier</th>
                                <th>@Resources.Resource.ItemNo</th>
                                <th>@Resources.Resource.ItemName</th>
                                <th>@Html.Recource(49)</th>
                                @if (compMF.UseQty2 == true)
                                {
                                    <th>@Html.Recource(72)</th>
                                }
                                else
                                {
                                    <th hidden>@Html.Recource(72)</th>
                                }
                                <th>@Html.Recource(3200)</th>
                                <th>@Html.Recource(215)</th>
                                <th>@Html.Recource(1671)</th>
                                <th>@Html.Recource(1600)</th>
                                <th>@Html.Recource(1874)</th>
                                <th>@Html.Recource(3207)</th>
                                <th>@Html.Recource(444)</th>
                                <th>@Html.Translate("ميناء الشحن", "Shipping Port")</th>
                                <th>@Html.Recource(2645)</th>
                                <th>@Resources.Resource.Notes</th>
                                <th>@Resources.Resource.Approval</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;" id="BestOfferTBody">
                            @foreach (MRP_Web_OrdCopyInfo item in OrdCopy.OrderByDescending(x => x.VendorNo).OrderByDescending(z => z.bNominationBestOffer))
                            {
                                string date = item.DeliveryDate.Value.ToString("yyyy-MM-dd");
                                string VenderName = Venders.Where(x => x.VenderId == item.VendorNo).Select(o => o.DescAr).FirstOrDefault();
                                string VenderNameEn = Venders.Where(x => x.VenderId == item.VendorNo).Select(o => o.DescEn).FirstOrDefault();
                                string ItemDesc = Mf.Where(x => x.ItemNo == item.ItemNo).Select(O => Html.Translate(O.ItemDesc, O.ItemDesc_Ara)).FirstOrDefault().ToString();
                                double ConvertRate = 0;
                                {
                                    using (var cn = new SqlConnection(Html.ConnectionString().ToString()))
                                    {
                                        Dt = new DataTable();
                                        cn.Open();
                                        using (SqlCommand cmd = new SqlCommand())
                                        {
                                            cmd.Connection = cn;
                                            cmd.CommandType = System.Data.CommandType.StoredProcedure;
                                            cmd.CommandText = "Gln_GetCurrExchRatio";
                                            cmd.Parameters.Add(new SqlParameter("@CompNo", System.Data.SqlDbType.SmallInt)).Value = company.comp_num;
                                            cmd.Parameters.Add(new SqlParameter("@CurrCode", System.Data.SqlDbType.SmallInt)).Value = item.Curr;
                                            cmd.Parameters.Add(new SqlParameter("@VDate", System.Data.SqlDbType.SmallDateTime)).Value = DateTime.Now;
                                            using (SqlDataAdapter DA = new SqlDataAdapter(cmd))
                                            {
                                                DA.Fill(Dt);
                                            }
                                        }
                                    }
                                    foreach (DataRow row in Dt.Rows)
                                    {
                                        ConvertRate = Convert.ToDouble(row["CurrRatio"]);
                                    }
                                }
                                if (item.VendorNo == itemNo.VendorNo)
                                {
                            <tr id="BestOffer_@Srial" style="background-color:lightgreen" onclick="myAction(this,'@item.VendorNo')">
                                <td style="width: 10%;" id="PriceOffersApproval_vendor_@Srial" vendor="@item.VendorNo">@Html.Translate(VenderName, VenderNameEn)</td>
                                <td style="width: 20%;" id="PriceOffersApproval_ItemNo">@item.ItemNo</td>
                                <td style="text-align: center !important">@ItemDesc</td>
                                <td style="text-align: center;">@item.Qty</td>
                                @if (compMF.UseQty2 == true)
                                {
                                    <td style="text-align: center;">@item.Qty2</td>
                                }
                                else
                                {
                                    <td style="text-align: center;" hidden>@item.Qty2</td>
                                }
                                <td style="text-align: center;">@item.Bonus</td>
                                <td style="text-align: center;">@item.SellPrice</td>
                                <td style="text-align: center;">
                                    <select style="width:100%" class="MRP_PriceOffersApproval_CboCurrCode" disabled>
                                        @foreach (var Curr in Currency)
                                        {
                                            if (@item.Curr == Curr.Id)
                                            {
                                                <option value="@Curr.Id" selected>@Html.Translate(Curr.DescAr, Curr.DescEn)</option>
                                            }
                                            else
                                            {
                                                <option value="@Curr.Id">@Html.Translate(Curr.DescAr, Curr.DescEn)</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td style="text-align: center;">@ConvertRate.ToString("0.000")</td>
                                <td style="text-align: center;">
                                    <select style="width:100%" class="MRP_PriceOffersApproval_CboPaymentType" disabled>
                                        @foreach (var Paym in PaymentM)
                                        {
                                            if (@item.Pmethod == Paym.Id)
                                            {
                                                <option value="@Paym.Id" selected>@Html.Translate(Paym.DescAr, Paym.DescEn)</option>
                                            }
                                            else
                                            {
                                                <option value="@Paym.Id">@Html.Translate(Paym.DescAr, Paym.DescEn)</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td style="text-align: center;">
                                    <select style="width:100%" class="MRP_PriceOffersApproval_CboDeliveryPlace" disabled>
                                        @foreach (var s in DlivPlace)
                                        {
                                            if (@item.DeliveryPlace == s.Id)
                                            {
                                                <option value="@s.Id" selected>@s.DescAr</option>
                                            }
                                            else
                                            {
                                                <option value="@s.Id">@s.DescAr</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td style="text-align: center;">
                                    <input id="MRP_PriceOffersApproval_CountryOfOrigin_@Srial" value="@item.CountryOfOrigin" type="text" disabled />
                                </td>
                                <td style="text-align: center;">
                                    <input id="MRP_PriceOffersApproval_ShippingPort_@Srial" value="@item.ShippingPort" type="text" disabled />
                                </td>
                                <td style="text-align: center;">@date</td>
                                <td style="text-align: center;">@Html.Translate("تم ترشيح هذا العرض", "This offer has been nominated")</td>
                                <td style="text-align: center;">
                                    <input id="MRP_PriceOffersApproval_Approval" type="checkbox" onclick="myActionVendore(this,'@item.VendorNo')" checked>
                                </td>
                                <td>
                                    <input type="hidden" id="PriceOffersApproval_VendorNo_@item.VendorNo" value="@item.VendorNo" />
                                    <input type="hidden" id="PriceOffersApproval_ItemNo_@item.VendorNo" value="@item.ItemNo" />
                                    <input type="hidden" id="InputSerial" value="@(Srial++)" />
                                </td>
                            </tr>
                                }
                                else
                                {
                        <tr id="BestOffer_@Srial" onclick="myAction(this, '@item.VendorNo')">
                            <td style="width: 10%;" id="PriceOffersApproval_vendor_@Srial" vendor="@item.VendorNo">@Html.Translate(VenderName, VenderNameEn)</td>
                            <td style="width: 20%;" id="PriceOffersApproval_ItemNo">@item.ItemNo</td>
                            <td style="text-align: center !important">@ItemDesc</td>
                            <td style="text-align: center;">@item.Qty</td>
                            @if (compMF.UseQty2 == true)
                            {
                                <td style="text-align: center;">@item.Qty2</td>
                            }
                            else
                            {
                                <td style="text-align: center;" hidden>@item.Qty2</td>
                            }
                            <td style="text-align: center;">@item.Bonus</td>
                            <td style="text-align: center;">@item.SellPrice</td>
                            <td style="text-align: center;">
                                <select style="width:100%" class="MRP_PriceOffersApproval_CboCurrCode" disabled>
                                    @foreach (var Curr in Currency)
                                    {
                                        if (@item.Curr == Curr.Id)
                                        {
                                            <option value="@Curr.Id" selected>@Html.Translate(Curr.DescAr, Curr.DescEn)</option>
                                        }
                                        else
                                        {
                                            <option value="@Curr.Id">@Html.Translate(Curr.DescAr, Curr.DescEn)</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td style="text-align: center;">@ConvertRate.ToString("0.000")</td>
                            <td style="text-align: center;">
                                <select style="width:100%" class="MRP_PriceOffersApproval_CboPaymentType" disabled>
                                    @foreach (var Paym in PaymentM)
                                    {
                                        if (@item.Pmethod == Paym.Id)
                                        {
                                            <option value="@Paym.Id" selected>@Html.Translate(Paym.DescAr, Paym.DescEn)</option>
                                        }
                                        else
                                        {
                                            <option value="@Paym.Id">@Html.Translate(Paym.DescAr, Paym.DescEn)</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td style="text-align: center;">
                                <select style="width:100%" class="MRP_PriceOffersApproval_CboDeliveryPlace" disabled>
                                    @foreach (var s in DlivPlace)
                                    {
                                        if (@item.DeliveryPlace == s.Id)
                                        {
                                            <option value="@s.Id" selected>@s.DescAr</option>
                                        }
                                        else
                                        {
                                            <option value="@s.Id">@s.DescAr</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td style="text-align: center;">
                                <input id="MRP_PriceOffersApproval_CountryOfOrigin_@Srial" value="@item.CountryOfOrigin" type="text" disabled />
                            </td>
                            <td style="text-align: center;">
                                <input id="MRP_PriceOffersApproval_ShippingPort_@Srial" value="@item.ShippingPort" type="text" disabled />
                            </td>
                            <td style="text-align: center;">@date</td>
                            <td style="text-align: center;"></td>
                            <td style="text-align: center;">
                                <input id="MRP_PriceOffersApproval_Approval" type="checkbox" onclick="myActionVendore(this,'@item.VendorNo')">
                            </td>
                            <td>
                                <input type="hidden" id="PriceOffersApproval_VendorNo_@item.VendorNo" value="@item.VendorNo" />
                                <input type="hidden" id="PriceOffersApproval_ItemNo_@item.VendorNo" value="@item.ItemNo" />
                                <input type="hidden" id="InputSerial" value="@(Srial++)" />
                            </td>
                        </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="unselectable" for="PriceOffersApproval_Notes">@Html.Recource(70)</label>
                    </div>
                    <div class="col-md-4">
                        <textarea required="true" style="width: 96%; height: 25px !important; " id="PriceOffersApproval_Notes">@itemNo.Notes</textarea>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" onclick="SaveBestOffer()">
                            @Resources.Resource.Save
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" onclick="ApprovalBestOffer()">
                            @Resources.Resource.Approval
                        </button>
                        <button id="AddPurchaseOrderIndirect" class="btn btn-primary btn-block" href="" target="_blank" style="display:none;">
                            @Html.Translate("امر شراء الغير مباشر", "purchase order InDirect")
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info btn-block" id="btnReport" onclick="GetPrintReport()">
                            @Resources.Resource.Preview     <i class="fa fa-print"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.MRP_PriceOffersApproval_CboCurrCode').select2();
    $('.MRP_PriceOffersApproval_CboPaymentType').select2();
    $('.MRP_PriceOffersApproval_CboDeliveryPlace').select2();
    function myActionVendore(e, srial) {
        var table = $('.MRP_BestOfferTable #BestOfferTBody tr');
        var trs = table;
        var VendorNo = $(trs).find('#PriceOffersApproval_VendorNo_' + srial)[0].value

        for (var i = 0; i < trs.length; i++) {
            var InputSerial = $(trs[i]).closest('tr').find('#InputSerial')[0].value
            var vendor = $(trs[i]).closest('tr').find('#PriceOffersApproval_vendor_' + InputSerial)[0].getAttribute('vendor');

            if ($(trs[i]).closest('tr').find('#PriceOffersApproval_VendorNo_' + vendor)[0].value == VendorNo) {
                if (e.checked == true) {
                    $(trs[i]).closest('tr').find('#MRP_PriceOffersApproval_Approval')[0].checked = true
                }
                else {
                    $(trs[i]).closest('tr').find('#MRP_PriceOffersApproval_Approval')[0].checked = false
                }
            }
            else {
                $(trs[i]).closest('tr').find('#MRP_PriceOffersApproval_Approval')[0].checked = false
            }
        }
    }
    function myAction(e, srial) {
        var table = $('.MRP_BestOfferTable #BestOfferTBody tr');
        var trs = table;
        var VendorNo = $(trs).find('#PriceOffersApproval_VendorNo_' + srial)[0].value

        for (var i = 0; i < trs.length; i++) {
            var InputSerial = $(trs[i]).closest('tr').find('#InputSerial')[0].value
            var vendor = $(trs[i]).closest('tr').find('#PriceOffersApproval_vendor_' + InputSerial)[0].getAttribute('vendor');
            if ($(trs[i]).closest('tr').find('#PriceOffersApproval_VendorNo_' + vendor)[0].value == VendorNo) {
                $(trs[i]).closest('tr').find('#MRP_PriceOffersApproval_Approval')[0].checked = true
            }
            else {
                $(trs[i]).closest('tr').find('#MRP_PriceOffersApproval_Approval')[0].checked = false
            }
        }
    }
    function SaveBestOffer() {
        var table = $('.MRP_BestOfferTable #BestOfferTBody tr');
        var trs = table;
        var VenderNo = 0;

        for (var i = 0; i < trs.length; i++) {
            var InputSerial = $(trs[i]).closest('tr').find('#InputSerial')[0].value
            var vendor = $(trs[i]).closest('tr').find('#PriceOffersApproval_vendor_' + InputSerial)[0].getAttribute('vendor');
            if ($(trs[i]).closest('tr').find('#MRP_PriceOffersApproval_Approval')[0].checked == true) {
                VenderNo = $(trs[i]).closest('tr').find('#PriceOffersApproval_VendorNo_' + vendor)[0].value;
            }
        }

        wait();
        burn({ ReqforQuotyear: @ReqforQuotyear, ReqforQuotNo: @ReqforQuotNo, VendorNo: VenderNo,Notes:PriceOffersApproval_Notes.value }, '../../../PriceOffersApproval/SaveBestOffer', '', ReloadApprovalBestOffer, true);

    }
    function ReloadApprovalBestOffer(r) {
        done();
        MsgBox('@Html.Recource(475)', 'green');
        PriceOffersApprovalDiv.innerHTML = "";
        MRP_PriceOffersApprovalDiv.innerHTML = "";

    }
    function ApprovalBestOffer() {
        var table = $('.MRP_BestOfferTable #BestOfferTBody tr');
        var trs = table;
        var VenderNo = 0;

        for (var i = 0; i < trs.length; i++) {
            var InputSerial = $(trs[i]).closest('tr').find('#InputSerial')[0].value
            var vendor = $(trs[i]).closest('tr').find('#PriceOffersApproval_vendor_' + InputSerial)[0].getAttribute('vendor');
            if ($(trs[i]).closest('tr').find('#MRP_PriceOffersApproval_Approval')[0].checked == true) {
                VenderNo = $(trs[i]).closest('tr').find('#PriceOffersApproval_VendorNo_' + vendor)[0].value;
            }
        }

        wait();
        if (confirm('@Resources.Resource.ApprovalBestOffer')) {
            burn({ ReqforQuotyear: @ReqforQuotyear,ReqforQuotNo: @ReqforQuotNo, VendorNo: VenderNo,Notes:PriceOffersApproval_Notes.value }, '../../../PriceOffersApproval/ApprovalBestOffer', '', ReloadApprovalBestOffer, true);
        }
        else {
            done();
        }
    }
    function ReloadApprovalBestOffer(r) {
        done();
        MsgBox('@Html.Recource(475)', 'green');
        $('#AddPurchaseOrderIndirect').attr("href", '/PriceOffersApproval/AddPurchaseOrderInDirect?OrdYear=' + r.OrdYear + '&OrdNo=' + r.OrdNo + '')
        $('#AddPurchaseOrderIndirect').click();
        PriceOffersApprovalDiv.innerHTML = "";
        MRP_PriceOffersApprovalDiv.innerHTML = "";
    }


    function GetPrintReport() {
        ReportManger.LoadReport();
    }
    var ReportManger = {

        LoadReport: function () {
            var jsonParam = "";
            var ServiceUrl = "../PriceOffersApproval/GenerateReport?ReqforQuotyear=" + @ReqforQuotyear + "&ReqforQuotNo=" + @ReqforQuotNo;
            ReportManger.GetReport(ServiceUrl, jsonParam, onFailed);
            function onFailed(error) {
                alert("Error");
            }
        },

        GetReport: function (serviceUrl, jsonParams, errorCallback) {
            jQuery.ajax({
                url: serviceUrl,
                async: false,
                type: "POST",
                data: "{" + jsonParams + "}",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    window.open('../Reports/CrystalViewer/ReportViewer.aspx', '_newtab');
                },
                error: errorCallback
            });
        }
    }
</script>
